<div class="stars">
    <svg width="117" height="17" viewBox="0 0 117 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.5 1L10.8175 5.93691L16 6.73344L12.25 10.5741L13.135 16L8.5 13.4369L3.865 16L4.75 10.5741L1 6.73344L6.1825 5.93691L8.5 1Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M33.5 1L35.8175 5.93691L41 6.73344L37.25 10.5741L38.135 16L33.5 13.4369L28.865 16L29.75 10.5741L26 6.73344L31.1825 5.93691L33.5 1Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.5 1L60.8175 5.93691L66 6.73344L62.25 10.5741L63.135 16L58.5 13.4369L53.865 16L54.75 10.5741L51 6.73344L56.1825 5.93691L58.5 1Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M83.5 1L85.8175 5.93691L91 6.73344L87.25 10.5741L88.135 16L83.5 13.4369L78.865 16L79.75 10.5741L76 6.73344L81.1825 5.93691L83.5 1Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M108.5 13.4369L109.079 13.7573V2.23423L108.5 1L106.182 5.93691L101 6.73344L104.75 10.5741L103.865 16L108.5 13.4369Z" fill="currentColor"/>
        <path d="M109.079 2.23423L108.5 1L106.182 5.93691L101 6.73344L104.75 10.5741L103.865 16L108.5 13.4369L109.079 13.7573M109.079 2.23423L109.659 3.46845L110.818 5.93691L116 6.73344L112.25 10.5741L113.135 16L109.659 14.0777L109.079 13.7573M109.079 2.23423V13.7573" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</div>