{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        mixin: 'adults-courses',
        title: course.title,
        description: course.content,
        button: true,
        image: course.thumbnail
    } %}

	{% include 'components/section.twig' with {
        class: 'about',
        title: course.about.title,
        content: course.about.content
    } %}

	{% embed 'components/section.twig' with {
        class: 'learning-form',
        title: course.formats.title,
        description: 'Вы можете проходить курс английского языка с нуля в различных форматах. Продолжительность и стоимость курса зависят от интенсивности и формата обучения.'
    } %}
        {% block content %}
            {% from 'components/format-card.twig' import format_card %}

            <div class="cards-grid grid grid--2">
                {% for format in [
                    {
                        title: 'Офлайн группа',
                        description: 'Живое общение с единомышленниками в центре Москвы',
                        price: course.prices.group_offline
                    },
                    {
                        title: 'Онлайн группа',
                        description: 'Удобство онлайн обучения и доступная стоимость',
                        price: course.prices.group_online
                    },
                    {
                        title: 'Офлайн индивидуально',
                        description: 'Если вы предпочитаете личный контакт и персональный подход',
                        price: course.prices.individual_offline
                    },
                    {
                        title: 'Онлайн индивидуально',
                        description: 'Уроки в любом месте и в удобное для вас время',
                        price: course.prices.individual_online
                    }
                ] %}
                    {{format_card({
                        title: format.title,
                        description: format.description,
                        price: format.price,
                        link: false
                    }, cycle(['white', 'pink', 'violet'], loop.index0))}}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/trial-lesson-mini.twig' %}

	{% include 'sections/advantages.twig' with {
        title: 'Важные факты о курсе Английский с нуля'
    } %}

    {% embed 'components/section.twig' with {
        class: 'course-results',
        title: course.results.title
    } %}
        {% block content %}
            <p class="text">Если вы посетили 100% занятий и выполнили все домашние работы, но не сдали успешно итоговый тест, вы можете пройти уровень повторно и абсолютно бесплатно.</p>

            <div class="card">
                {% if course.results.list_type == 'simple' %}
                    {% include 'components/list.twig' with {
                        type: 'check',
                        size: 'sm',
                        items: course.results.simple_list
                    } %}
                {% elseif course.results.list_type == 'nested' %}
                    {% include 'components/accordion.twig' with {
                        items: course.results.nested_list
                    } %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'components/section.twig' with {
        class: 'course-testimonials',
        title: 'Отзывы о курсе Английский с нуля',
        description: 'За 10 лет работы, обучили более 10 000 человек и получили более 800 отзывов'
    } %}
        {% block content %}
            {% include 'components/course-testimonials-slider.twig' with {
                groups: [
                    {
                        score: 5.0,
                        company: 'Zoon',
                        link: 'https://foo.bar',
                        testimonials: [
                            {
                                author: 'Алиса',
                                date: '17 мая 2020',
                                link: 'https://foo.bar',
                                content: 'Текст'
                            },
                            {
                                author: 'Алиса',
                                date: '17 мая 2020',
                                link: 'https://foo.bar',
                                content: 'Текст'
                            }
                        ]
                    },
                    {
                        score: 5.0,
                        company: 'Zoon',
                        link: 'https://foo.bar',
                        testimonials: [
                            {
                                author: 'Алиса',
                                date: '17 мая 2020',
                                link: 'https://foo.bar',
                                content: 'Текст'
                            },
                            {
                                author: 'Алиса',
                                date: '17 мая 2020',
                                link: 'https://foo.bar',
                                content: 'Текст'
                            }
                        ]
                    }
                ]
            } %}
        {% endblock %}
    {% endembed %}

	{% include 'sections/faq.twig' with {
        items: []
    } %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}