{% extends 'layouts/base.twig' %}

{% block content %}
    {% block main %}
        {% include 'sections/main.twig' with {
            title: course.heading ?? course.title,
            description: course.content,
            button: {
                modal_options: 'tab:' ~ course.type,
            },
            image: course.thumbnail
        } %}
    {% endblock %}

    {% block about %}
        {% include 'components/section.twig' with {
            name: 'about-course',
            title: course.about.title,
            content: course.about.content,
            horizontal: true,
            padded: true
        } %}
    {% endblock %}

    {% block formats %}
        {% embed 'components/section.twig' with {
            name: 'course-formats',
            title: course.formats.title ?: sections.formats.title ?: 'Формы обучения на курсе ' ~ course.title,
            description: course.formats.description ?: sections.formats.description ?: 'Вы можете проходить курс в различных форматах. Продолжительность и стоимость курса зависят от интенсивности и формата обучения.',
            padded: true
        } %}
            {% block content %}
                {% from 'blocks/format-card.twig' import format_card %}

                <div class="grid grid-2-sm">
                    {% for format in sections.formats.items %}
                        {% if format.price.value %}
                            {{format_card({
                                title: format.title,
                                description: format.description,
                                price: format.price,
                                lesson_duration: format.lesson_duration,
                                link: false
                            },
                            {
                                color: cycle(['white', 'pink', 'purple'], loop.index0),
                                size: 'lg',
                                with_prices: true
                            })}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block trial_lesson %}
        {% include 'sections/trial-lesson-cta.twig' %}
    {% endblock %}

    {% block facts %}
        {% if course.facts.show %}
            {% embed 'components/section.twig' with {
                name: 'course-facts',
                title:  course.facts.title ?: sections.facts.title ?: 'Важные факты о курсе <br>' ~ course.title,
                description: course.facts.description ?: sections.facts.description,
                padded: true
            } %}
                {% block content %}
                    {% include 'blocks/fact-cards.twig' with {
                        grid: sections.facts.grid,
                        items: course.facts.items ?: sections.facts.items,
                        size: 'sm'
                    } %}
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% endblock %}

    {% block video %}
    {% endblock %}

    {% block results %}
        {% if course.results.show %}
            {% embed 'components/section.twig' with {
                name: 'course-results',
                title: course.results.title ?: 'Результаты курса <br>' ~ course.title,
                description: course.results.description ?: sections.results.description,
                padded: true
            } %}
                {% block content %}
                    <p class="text">Если вы посетили 100% занятий и выполнили все домашние работы, но не сдали успешно итоговый тест, вы можете пройти уровень повторно и абсолютно бесплатно.</p>

                    {% if course.results.list_type == 'simple' %}
                        <div class="text-card card">
                            {% include 'components/list.twig' with {
                                type: 'check',
                                items: course.results.simple_list,
                                gap: 's'
                            } %}
                        </div>
                    {% elseif course.results.list_type == 'nested' %}
                        {% include 'components/accordion.twig' with {
                            items: course.results.nested_list
                        } %}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% endblock %}

    {% block teachers %}
    {% endblock %}

    {% block testimonials %}
        {% embed 'components/section.twig' with {
            name: 'course-testimonials',
            title: sections.testimonials.title ?: 'Отзывы о курсе <br>' ~ course.title,
            description: sections.testimonials.description ?: 'За ' ~ COMPANY_AGE ~ ' лет работы, обучили более 10 000 человек и получили более 800 отзывов',
            padded_header: true
        } %}
            {% block content %}
                {% include 'blocks/course-testimonials-slider.twig' with {
                    groups: course.testimonials_by_group
                } %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block progress %}
    {% endblock %}

    {% block platform %}
    {% endblock %}

    {% block faq %}
        {% include 'sections/faq.twig' with {
            title: course.faq.title,
            items: course.faq.items ?: []
        } %}
    {% endblock %}

    {% include 'sections/trial-lesson.twig' with {
        active_tab: course.type
    } %}
{% endblock %}


{% block modal %}
    {% embed 'components/modal.twig' with {
        id: 'testimonial-modal'
    } %}
        {% block content %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
<script>
    const modal = new ui.Modal('#testimonial-modal');

    document.querySelectorAll('.testimonial-modal-button').forEach(button => {
        button.addEventListener('click', () => {
            const card = event.target.closest('.card');
            modal.setContent(card.outerHTML);
            modal.open();
        });
    });

    modal.on('close', () => {
        modal.setContent('');
    });

    new ui.Slider('.course-testimonials-slider', {
        enabled: false,
        breakpoints: {
            768: {
                enabled: true,
                slidesPerView: 'auto'
            }
        }
    });
</script>
{% endblock %}