{% embed 'components/section.twig' with {
	class: 'advantages',
	title
} %}
	{% block content %}
		<div class="fact-cards">
			{% for item in [
				{
					title: 'Стандартизированная методика',
					description: 'Практикуем один подход в офлайн и онлайн формате'
				},
				{
					title: 'Современные пособия',
					description: 'Используем новейшие пособия Oxford, Cambridge и Macmillan',
					image: 'books'
				},
				{
					title: '75% практика языка',
					description: 'Бóльшую часть занятия говорит студент'
				},
				{
					title: 'Визиты носителей',
					description: 'Дополнительная практика языка в группе'
				},
				{
					title: 'Онлайн платформа',
					description: 'Нескучная домашка в интерактивном виде'
				}
			] %}
				<div class="{{html_classes('fact-card', 'text-card',
					item.image ? 'text-card--' ~ item.image ~ '-bg' : [], 'card')
				}}">
					<h4 class="card__title">{{item.title}}</h4>
					<p class="card__description">{{item.description}}</p>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}