{% embed 'components/section.twig' with {
	class: 'advantages',
	title,
	items,
	grid
} %}
	{% block content %}
		<div class="fact-cards grid grid--{{grid ?? '2-1-2'}}">
			{% for item in items %}
				<div class="{{html_classes('fact-card', 'text-card',
					item.image ? 'text-card--' ~ item.image ~ '-bg' : [], 'card')
				}}">
					<h4 class="card__title">{{item.title}}</h4>
					<p class="card__description">{{item.description}}</p>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}