<section class="certificates">
    <div class="section-container">
        <h2 class="subtitle">Подарочные сертификаты</h2>

        <dic class="certificates__content">
            <div class="certificates__text">
                <p>Практика английского — универсальный подарок для любого активного человека.</p>
                <p>Подарите своим близким возможность развиваться и совершенствоваться</p>
                <button class="btn">Подарить сертификат</button>
            </div>

            <img class="certificates__img" src="{{theme.link}}/static/images/pictures/certificates.png" alt="Say Yes">
        </dic>
    </div>
</section>