{% embed 'components/section.twig' with {
	name: 'certificates',
    title: 'Подарочные сертификаты',
    horizontal: true
} %}
    {% block content %}
        <div class="text">
            <p>Практика английского — универсальный подарок для любого активного человека.</p>
            <p>Подарите своим близким возможность развиваться и совершенствоваться</p>
        </div>

        <button class="btn">Подарить сертификат</button>
    {% endblock %}

    {% block media %}
        <img class="image" src="{{theme.link}}/static/images/pictures/certificates.png" alt="Say Yes">
    {% endblock %}
{% endembed %}