{% embed 'components/section.twig' with {
    class: 'courses',
    title,
    description
} %}
    {% block content %}
        {% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Курсы для взрослых',
                    value: 'adults',
					active: true
				},
				{
					content: 'Курсы для детей',
                    value: 'children'
				}
			],
            pills: true,
            color: 'yellow'
		} %}
            {% block content %}
                {% from 'components/course-card.twig' import course_card %}

                <div class="cards-grid grid grid--2" data-tab-panel="adults">
                    {% for course in courses_adults %}
                        {{course_card(course, cycle(['black', 'pink', 'violet'], loop.index0))}}
                    {% endfor %}

                    {% if with_help %}
                        <div class="text-card card">
                            <h3 class="card__title">Затрудняетесь с выбором курса или ваша цель специфична?</h3>
                            <p class="card__description">Подберем курс под ваши цели или создадим индивидуальный курс под вас!</p>
                            <button class="btn btn--violet" data-modal-trigger="callback-modal">Попробовать бесплатно</button>
                        </div>
                    {% endif %}
                </div>

                <div class="cards-grid grid grid--2 hidden" data-tab-panel="children">
                    {% for course in courses_children %}
                        {{course_card(course, cycle(['black', 'pink', 'violet'], loop.index0))}}
                    {% endfor %}

                    {% if with_help %}
                        <div class="text-card card">
                            <h3 class="card__title">Затрудняетесь с выбором курса или ваша цель специфична?</h3>
                            <p class="card__description">Подберем курс под ваши цели или создадим индивидуальный курс под вас!</p>
                            <button class="btn btn--violet" data-modal-trigger="callback-modal">Оставить заявку</button>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}