<section class="courses">
    <div class="section-container">
        <h2 class="subtitle">{{title}}</h2>

        {% if description %}
            <p class="courses__description">{{description}}</p>
        {% endif %}

        {% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Курсы для взрослых',
					target: '.course-blocks--adult',
					active: true
				},
				{
					content: 'Курсы для детей',
					target: '.course-blocks--children'
				}
			],
            pills: true,
            color: 'yellow'
		} %}
            {% block content %}
                <div class="course-blocks course-blocks--adult">
                    {% include 'components/courses.twig' with {
                        courses: courses_adults
                    } %}

                    {% if with_help %}
                        <div class="course-selection">
                            <h3 class="course-selection__title">Затрудняетесь с выбором курса или ваша цель специфична?</h3>
                            <p class="course-selection__description">Подберем курс под ваши цели или создадим индивидуальный курс под вас!</p>
                            <button class="btn btn--violet" data-modal-trigger="callback-modal">Попробовать бесплатно</button>
                        </div>
                    {% endif %}
                </div>

                <div class="course-blocks course-blocks--children hidden">
                    {% include 'components/courses.twig' with {
                        courses: courses_children
                    } %}

                    {% if with_help %}
                        <div class="course-selection">
                            <h3 class="course-selection__title">Затрудняетесь с выбором курса или ваша цель специфична?</h3>
                            <p class="course-selection__description">Подберем курс под ваши цели или создадим индивидуальный курс под вас!</p>
                            <button class="btn btn--violet" data-modal-trigger="callback-modal">Оставить заявку</button>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
</section>