{% embed 'components/section.twig' with {
	name: 'formats-tabs',
	title: 'Как вы хотите учиться?',
	padded: true
} %}
	{% block description %}
		<span class="color-primary">Очное</span>
		обучение в школе в центре Москвы или удобство
		<span class="color-primary">онлайн</span>
		занятий?
	{% endblock %}

	{% block content %}
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Офлайн<span class="hidden-md-down">&nbsp;в Москве</span>',
					value: 'offline',
					active: true
				},
				{
					content: 'Онлайн<span class="hidden-md-down">&nbsp;по всему миру</span>',
					value: 'online'
				}
			],
			color: 'purple',
			pills: true
		} %}
			{% block content %}
				<div class="format-block format-block--offline" data-tab-panel="offline">
					{% include 'components/video.twig' with {
						youtube_id: 'f3cBgWC2ljM',
						image: {
							path: 'formats/offline.jpg',
							alt: 'Офлайн'
						},
						caption: 'Посмотрите как проходят занятия в школе',
						modal: true
					} %}

					<div class="card">
						<div class="tags">
							<span class="tag">Офлайн группы</span>
							<span class="tag">Индивидуально</span>
						</div>

						<div class="text">
							<p class="bold">Цените живое общение и живете в Москве?</p>
							<p>Учите английский, обретайте новых друзей и весело проводите время с {{COMPANY_NAME}} в кругу единомышленников.</p>
							<p>Наш офис разположен в пяти минутах ходьбы от метро Павелецкая.</p>
						</div>
					</div>
				</div>

				<div class="format-block format-block--online hidden" data-tab-panel="online">
					{% include 'components/video.twig' with {
						youtube_id: 'f3cBgWC2ljM',
						image: {
							path: 'formats/online.jpg',
							alt: 'Онлайн'
						},
						caption: 'Посмотрите как проходят онлайн-занятия',
						modal: true
					} %}

					<div class="card">
						<div class="tags">
							<span class="tag">Онлайн группы</span>
							<span class="tag">Индивидуально</span>
						</div>

						<div class="text">
							<p class="bold">Предпочитаете заниматься из любого места в удобное время?</p>
							<p>Выбирайте формат онлайн уроков — в мини-группе в Zoom или индивидуально на нашей онлайн-платформе.</p>
						</div>
					</div>
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}