{% embed 'components/section.twig' with {
    name: name ?: 'formats',
    title: title ?: 'Наша школа предлагает курсы английского языка для разных уровней знаний и в разнообразных форматах:',
    description,
    padded,
    padded_header
} %}
    {% block content %}
        {% from 'blocks/format-card.twig' import format_card %}

        <div class="grid {{grid_class ?: 'grid-2-md'}}">
            {% for format in formats %}
                {{format_card(format, {
                    color: cycle(colors ?? ['white', 'pink', 'purple'], loop.index0),
                    size: 'sm',
                    with_prices
                })}}
            {% endfor %}

            {% if with_help %}
                <div class="text-card card">
                    <p class="text">Затрудняетесь с выбором формы обучения?</p>

                    <h3 class="heading heading-3">Подберем для вас удобный курс и формат обучения!</h3>

                    <button class="btn btn--purple" data-modal-trigger="request-modal">Оставить заявку</button>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}