{% embed 'components/section.twig' with {
	name: 'formats',
	title: 'Как вы хотите учиться?'
} %}
	{% block description %}
		<span class="color-primary">Очное</span>
		обучение в школе в центре Москвы или удобство
		<span class="color-primary">онлайн</span>
		занятий?
	{% endblock %}

	{% block content %}
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Офлайн в Москве',
					value: 'offline',
					active: true
				},
				{
					content: 'Онлайн по всему миру',
					value: 'online'
				}
			],
			color: 'purple'
		} %}
			{% block content %}
				<div class="block" data-tab-panel="offline">
					{% include 'components/video.twig' with {
						youtube_id: 'f3cBgWC2ljM',
						image: {
							path: 'formats/offline.jpg',
							alt: 'Офлайн'
						},
						modal: true
					} %}

					<div class="card">
						<div class="tags">
							<span class="tag">Офлайн группы</span>
							<span class="tag">Индивидуально</span>
						</div>

						<p class="text text--bold">Цените живое общение и живете в Москве?</p>
						<p class="text">Учите английский, обретайте новых друзей и весело проводите время с SAY YES! в кругу единомышленников.</p>
						<p class="text">Наш офис разположен в пяти минутах ходьбы от метро Павелецкая.</p>
					</div>
				</div>

				<div class="block hidden" data-tab-panel="online">
					{% include 'components/video.twig' with {
						youtube_id: 'f3cBgWC2ljM',
						image: {
							path: 'formats/online.jpg',
							alt: 'Онлайн'
						},
						modal: true
					} %}

					<div class="card">
						<div class="tags">
							<span class="tag">Онлайн группы</span>
							<span class="tag">Индивидуально</span>
						</div>

						<p class="text text--bold">Предпочитаете заниматься из любого места в удобное время?</p>

						<p class="text">Выбирайте формат онлайн уроков — в мини-группе в Zoom или индивидуально на нашей онлайн-платформе.</p>
					</div>
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}