<section class="img-courses-2 {{class}}">
	<div class="section-container">
		<h2 class="subtitle">{{title}}</h2>

		<div class="img-courses-2__blocks">
			{% include 'components/big-courses.twig' with {
				courses,
				withoutPrice,
				cycleColors
			} %}

			{% block content %}
			{% endblock %}
		</div>
	</div>
</section>