<section class="learning-form {{class}}">
	<div class="section-container">
		<h2 class="subtitle">{{title}}</h2>

		<p class="learning-form__description">{{description}}</p>

		<ul class="learning-form__blocks">
			
		</ul>
	</div>
</section>