<section class="mainscreen">
	<div class="mainscreen__content">
		<h1 class="mainscreen__title">
			{% block title %}{{title}}{% endblock %}
		</h1>

		<div class="mainscreen__description">
			{% block content %}
				{{content}}
			{% endblock %}
		</div>
	</div>

	{% if image %}
		<img class="mainscreen__image" src="{{theme.link}}/static/images/mainscreens/{{image}}" alt="Команда мечты">
	{% endif %}
</section>