{% embed 'components/section.twig' with {
	name: 'cta',
	class: 'trial-lesson-cta',
	color: 'yellow'
} %}
	{% block content %}
		<button class="link link--primary link--underlined" data-modal-trigger="request-modal">Запишитесь</button> на&nbsp;пробный урок, и уже через месяц вы почувствуете свой прогресс
	{% endblock %}
{% endembed %}