{% embed 'components/section.twig' with {
	name: 'trial-lesson',
	class,
	padded_header: true
} %}
	{% block title %}
		{% if title %}
			{{title}}
		{% else %}
			Запишитесь на <span class="color-primary">бесплатный</span> пробный урок
		{% endif %}
	{% endblock %}

	{% block description %}
		{% if description %}
			{{description}}
		{% else %}
			На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем
		{% endif %}
	{% endblock %}

	{% block content %}
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Взрослым',
					value: 'adults',
					active: active_tab == 'adults'
				},
				{
					content: 'Детям',
					value: 'children',
					active: active_tab == 'children'
				}
			]
		} %}
			{% block content %}
				{% set title = 'Оставьте заявку на&nbsp;пробный урок' %}
				{% set description = 'Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах' %}

				{% embed 'blocks/trial-lesson-block.twig' with {
					type: 'adults',
					title,
					description,
					caption: 'Ольга мечтает о карьере в международной компании',
					hidden: active_tab == 'children'
				} %}
					{% block content %}
						{% include 'blocks/request-form.twig' with {
							format: true
						} %}
					{% endblock %}
				{% endembed %}

				{% embed 'blocks/trial-lesson-block.twig' with {
					type: 'children',
					title,
					description,
					caption: 'Родители Вани планируют его учебу за границей',
					hidden: active_tab == '' or active_tab == 'adults'
				} %}
					{% block content %}
						{% include 'blocks/request-form.twig' with {
							format: true,
							children: true
						} %}
					{% endblock %}
				{% endembed %}
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}