<section class="trial-lesson">
	<div class="section-container">
		<h2 class="subtitle">
			Запишитесь на
			<span class="text text--violet">бесплатный</span>
			пробный урок
		</h2>
		
		<p class="trial-lesson__description">На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем</p>
	</div>

	{% embed 'components/tabs.twig' with {
		tabs: [
			{
				content: 'Взрослым',
				target: '.invite--adults',
				active: true
			},
			{
				content: 'Детям',
				target: '.invite--children'
			}
		]
	} %}
		{% block content %}
			<div class="invite invite--adults">
				<div class="invite__left">
					<div class="invite__title">Оставьте заявку на пробный урок</div>

					<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
				</div>

				<div class="invite__right">
					{% include 'components/request-form.twig' with {
						format: true
					} %}
				</div>
			</div>

			<div class="invite invite--children hidden">
				<div class="invite__left">
					<div class="invite__title">Оставьте заявку на пробный урок</div>

					<p class="invite__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
				</div>

				<div class="invite__right">
					{% include 'components/request-form.twig' with {
						format: true,
						children: true
					} %}
				</div>
			</div>
		{% endblock %}
	{% endembed %}
</section>