{% embed 'components/section.twig' with {
	name: 'trial-lesson',
	class,
	padded_header: true
} %}
	{% block title %}
		{% if title %}
			{{title}}
		{% else %}
			Запишитесь на <span class="color-primary">бесплатный</span> пробный урок
		{% endif %}
	{% endblock %}

	{% block description %}
		{% if description %}
			{{description}}
		{% else %}
			На уроке вы узнаете свой уровень, оцените методику школы, познакомитесь с преподавателем
		{% endif %}
	{% endblock %}

	{% block content %}
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Взрослым',
					value: 'adults',
					active: active_tab == 'adults'
				},
				{
					content: 'Детям',
					value: 'children',
					active: active_tab == 'children'
				}
			]
		} %}
			{% block content %}
				<div class="trial-lesson-section trial-lesson-section--adults{{(active_tab == '' or active_tab == 'adults') ? '' : ' hidden'}}" data-tab-panel="adults">
					<div class="trial-lesson-section__left">
						<div class="trial-lesson-section__title">Оставьте заявку на&nbsp;пробный урок</div>

						<p class="trial-lesson-section__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
					</div>

					<div class="trial-lesson-section__right">
						{% include 'blocks/request-form.twig' with {
							format: true
						} %}
					</div>
				</div>

				<div class="trial-lesson-section trial-lesson-section--children{{active_tab == 'children' ? '' : ' hidden'}}" data-tab-panel="children">
					<div class="trial-lesson-section__left">
						<div class="trial-lesson-section__title">Оставьте заявку на пробный урок</div>

						<p class="trial-lesson-section__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы, и расскажем о курсах</p>
					</div>

					<div class="trial-lesson-section__right">
						{% include 'blocks/request-form.twig' with {
							format: true,
							children: true
						} %}
					</div>
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}