<section class="trial-lesson-mini">
	{% embed 'components/central-text.twig' %}
		{% block title %}
			<a href="#" class="text text--violet text--underline">Оставьте заявку</a>
			на пробный урок, и уже через месяц вы почувствуете свой прогресс
		{% endblock %}
	{% endembed %}

	<img class="trial-lesson-mini__hourglass-icon" src="{{theme.link}}/static/images/decoration/elements/hourglass.svg" alt="Песочные часы">
	<img class="trial-lesson-mini__book-icon" src="{{theme.link}}/static/images/decoration/elements/book-with-pen.svg" alt="Книга">
	<img class="trial-lesson-mini__statue-of-liberty-icon" src="{{theme.link}}/static/images/decoration/elements/statue-of-liberty.svg" alt="Статуя свободы">
</section>