<section class="video-section video-section--{{mixin}}">
	<div class="video-section__info">
		<h2 class="subtitle">{{subtitle}}</h2>

		{% for paragraph in description %}
			<p class="video-section__description">{{paragraph}}</p>
		{% endfor %}
	</div>

	<div class="video-section__video">
		{% include 'components/video.twig' with video %}
	</div>
</section>