@use 'components/heading';
@use 'mq';

.article {
    max-width: 1024px;
    padding-bottom: 4rem;
    line-height: 1.4;

    header + section,
    section + section {
        margin-top: 2rem;
    }

    h1 {
        @include heading.h1;
    }

    h2 {
        @include heading.h2;
    }

    h3 {
        @include heading.h3;
    }

    ul,
    ol,
    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        list-style: inside;
    }

    li:not(:last-child) {
        margin-bottom: .5rem;
    }

    p a {
        color: var(--primary-color);
        text-decoration: underline;
    }
}