@use 'styles/theme' as *;
@use 'styles/variables' as *;

#callback-modal {
    .modal {
        &__surface {
            max-width: 960px;
            display: flex;

            &::before {
                content: '';
                width: 40%;
                border-radius: 0;
			    @include border-radius((top-left, bottom-left));
                background: url('./static/images/pictures/anastasia-2.jpg') center center/cover no-repeat;
            }
        }

        &__body {
            width: 60%;
            padding: 40px;
        }
    }
}