@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

#callback-modal {
    --modal-max-width: 960px;
    
    .modal {
        &__surface {
            display: flex;

            &::before {
                content: '';
                width: 40%;
                border-radius: 0;
			    @include border-radius((top-left, bottom-left));
                background: image('pictures/anastasia-2.jpg') center center/cover no-repeat;
            }
        }

        &__body {
            width: 60%;
            padding: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}