@use 'styles/variables' as *;

#callback-modal {
    .modal {
        &__surface {
            width: 955px;
            display: flex;

            &::before {
                content: '';
                width: 42%;
                border-radius: $border-radius 0 0 $border-radius;
                background: url('./static/images/pictures/anastasia-2.jpg') center center/cover no-repeat;
            }
        }

        &__body {
            width: 58%;
		    padding: 35px 45px;
        }
    }
}