@use 'styles/components/heading';
@use 'styles/mq';
@use 'styles/theme' as *;
@use 'styles/variables' as *;

.course-card {
	display: flex;
	flex-direction: column;

	.card {
		--card-image-aspect-ratio: 2 / 1;

		@include mq.to(xl) {
			&__body {
				.text {
					display: none;
				}
			}
		}

		@include mq.from(lg) {
			&__body {
				display: flex;
				flex-grow: unset;
				flex-wrap: wrap;
				gap: 60px;
			}
	
			&__content {
				display: flex;
				justify-content: space-between;
				padding: 40px;
			}
		}
	}

	&__age-tag {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 145px;
		height: 40px;
		background-color: $black;
		color: $white;

		@include mq.from(lg) {
			height: 50px;
		}
	}

	.card__media &__age-tag {
		bottom: 0;
		left: 0;
		border-top-right-radius: $border-radius-sm;
		@include border-radius((bottom-left));
	}

	.card__header &__age-tag {
		display: none;
		bottom: 46px;
		right: -47px;
		border-top-right-radius: $border-radius-sm;
		transform: rotate(-90deg);

		.card--black & {
			background-color: $purple;
		}
	}

	.list {
		flex: 1;
		gap: 5px;

		.list-item {
			display: flex;
			align-items: flex-end;
			gap: 20px;

			span {
				flex: 1;

				&.price {
					text-wrap: nowrap;
				}
			}
		}
	}

	@include mq.to(lg) {
		&__lesson-cost {
			display: none;
		}
	}

	@include mq.to(md) {
		&__lesson-type {
			padding-right: 0;
		}

		&__list {
			width: 100%;
		}
	}

	@include mq.from(md) {
		&__description {
			max-width: none;
		}

		&__lesson-cost {
			display: block;
		}

		&__list {
			width: auto;
		}
	}

	@include mq.from(md) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
			min-height: 145px;
		}

		&__content {
			min-height: 105px;
			padding: 22px 15px 22px 24px;
		}

		&__item {
			line-height: 15px;
		}
	}

	@include mq.from(xl) {
		&__title {
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;

			margin-bottom: 12px;
		}

		&__header {
			padding-top: 29px;
			min-height: 175px;
		}

		&__lesson-cost {
			display: none;
		}

		&__content {
			min-height: 125px;
			padding: 25px 20px 25px 40px;
		}

		&__list {
			width: 100%;
		}

		&__age-tag {
			top: 0;
			left: 0;
			right: auto;
			width: 130px;
			height: 33px;
			transform: none;
			border-radius: 0;
			border-bottom-right-radius: $border-radius-sm;
		}

		&--children {
			.course__header {
				min-height: 190px;
				padding-top: 46px;
			}
		}
	}

	&--large-header {
		background-color: $white;
		color: $black;
		
		.card {
			&__media {
				display: none;
			}

			&__header {
				flex-grow: 1;
				padding: 20px 25px;
				background-color: var(--card-background-color);
				color: var(--card-text-color);
				overflow: hidden;
				@include border-radius;
			}

			&__title {
				@include heading.h3;
			}

			&__description {
				max-width: 360px;
			}

			@include mq.from(md) {
				&__header {
					padding: 25px 30px;
				}
			}

			@include mq.from(lg) {
				&__header {
					padding: 35px 40px;
				}
			}
		}
	}
}