.course-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.card {
		&__media {
			img {
				aspect-ratio: 2 / 1;
			}
		}

		&__header {
			position: relative;
			padding: 25px 40px 0;
		}

        &__body {
            flex-grow: unset;
			display: flex;
			justify-content: space-between;
			gap: 85px;
			color: $black;
        }

        &__title {
			font-weight: 800;
        }
    
        &__description {
			margin-top: 0;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            min-height: 145px;
            padding: 38px 40px;
        }
	}

	&__age-tag {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 145px;
		height: 52px;
		background-color: $black;
		color: $white;
	}

	.card__media &__age-tag {
		bottom: 0;
		left: 0;
		border-top-right-radius: $border-radius-sm;
		border-bottom-left-radius: $border-radius;
	}

	.card__header &__age-tag {
		display: none;
		bottom: 46px;
		right: -47px;
		border-top-right-radius: $border-radius-sm;
		transform: rotate(-90deg);

		.card--black & {
			background-color: $purple;
		}
	}

	.list {
		margin-left: auto;
		gap: 5px;

		.list-item {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: 35px;

			span {
				flex-shrink: 0;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;

			margin-bottom: 12px;
		}

		&__header {
			padding-top: 29px;
			min-height: 175px;
		}

		&__lesson-cost {
			display: none;
		}

		&__content {
			min-height: 125px;
			padding: 25px 20px 25px 40px;
		}

		&__list {
			width: 100%;
		}

		&__age-tag {
			top: 0;
			left: 0;
			right: auto;
			width: 130px;
			height: 33px;
			transform: none;
			border-radius: 0;
			border-bottom-right-radius: $border-radius-sm;
		}

		&--children {
			.course__header {
				min-height: 190px;
				padding-top: 46px;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
			min-height: 145px;
		}

		&__content {
			min-height: 105px;
			padding: 22px 15px 22px 24px;
		}

		&__item {
			line-height: 15px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;

		&__title {
			font-size: 32px;
			line-height: 30px;
		}

		&__description {
			max-width: none;
		}

		&__lesson-cost {
			display: block;
		}

		&__list {
			width: auto;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
		}

		&__lesson-cost {
			display: none;
		}

		&__lesson-type {
			padding-right: 0;
		}

		&__list {
			width: 100%;
		}
	}
}