@use 'global' as *;

.format-card {
	.list {
		gap: 10px;

		.list-item {
			display: flex;
			justify-content: space-between;
			gap: 30px;
		}
	}

	&--without-list {
		.card {
			&__title {
				max-width: 410px;
				margin-bottom: 10px;
			}
	
			&__content {
				padding: 33px 38px 37px;
				min-height: auto;
			}
	
			&__description {
				max-width: 400px;
			}
		}
	}

	&--sm {
		.card {
			&__media {
				height: 370px;
			}
	
			&__title {
				margin-bottom: 10px;
				font-size: 18px;
				line-height: 20px;
			}
	
			&__content {
				padding: 34px 39px 46px;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__lesson-cost {
			display: none;
		}
	}

	@include breakpoint($breakpoint-md) {
		&--sm {
			width: 100%;
			display: flex;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.card {
			.card__lesson-cost {
				display: block;
				margin-right: 80px;
			}
	
			.card__lesson-type {
				width: 135px;
				margin-right: 15px;
			}
	
			.card__info {
				justify-content: space-between;
			}
	
			.card__list {
				flex-grow: 0.4;
			}
		}

		&--without-list {
			.big-course__title {
				max-width: none;
			}

			.big-course__description {
				max-width: none;
			}
		}

		&--sm {
			display: block;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__lesson-cost {
			display: none;
		}

		&__list {
			flex-grow: 1;
		}

		&__content {
			padding: 20px;
		}
	}
}