@use 'global' as *;
@use 'mq';

.format-block {
	position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

	@include mq.to(md) {
		.card {
			padding: 20px;
	
			.tags {
				margin-bottom: 15px;
			}
		}

		.caption {
			display: none;
		}
	}

    @include mq.from(md) {
		flex-direction: row;
		align-items: flex-start;
	
		.video {
			flex-basis: 50%;
		}
	
		.card {
			flex-basis: 50%;
			padding: 30px;
	
			.tags {
				margin-bottom: 20px;
			}
		}

		// TODO: Adjust position and add arrow
		.caption {
			bottom: 0;
			max-width: 150px;
			color: $primary-color;
		}
	}

	@include mq.from(lg) {
		.video {
			flex-basis: 60%;
		}

		.card {
			flex-basis: 40%;
			margin-top: 40px;
			padding: 40px;

			.text:first-of-type {
				max-width: 230px;
				margin-bottom: 15px;
			}
		}

		&--offline {
			@include decoration('elements/red-square.svg', after) {
				top: -40%;
				right: -40%;
				width: 500px;
				height: 100%;
				z-index: -1;
			}
		}

		&--online {
			@include decoration('elements/laptop.svg', after) {
				top: -40%;
				right: -40%;
				width: 500px;
				height: 100%;
				z-index: -1;
			}
		}
	}
}