@use 'global' as *;
@use 'components/text';
@use 'mq';

.founders-card {
    padding: 25px 30px;

    figure {
        position: absolute;
        bottom: 100%;
        left: -5%;
        width: 100%;
        display: flex;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 100%;
            background: image('elements/branch.svg') center center / contain no-repeat;
            z-index: -1;
        }

        &::after {
            right: -10%;
            transform: scaleX(-1);
        }
    }

    .caption {
        position: absolute;
        top: -30%;
        left: 20%;
        transform: rotateZ(-10deg);

        @include decoration('arrows/arrow-4.svg') {
            width: 41px;
            height: 57px;
        }
    }

    @include mq.to(md) {
        margin-top: 100%;
        order: -1;
    }

    @include mq.from(md) {
        figcaption {
            max-width: 200px;
        }
    }
}