@use 'global' as *;
@use 'components/text';
@use 'mq';

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	font-size: 14px;
	z-index: 100;

	&__main {
		max-width: calc(100% - 20px);
		width: 1280px;
		height: 65px;
		margin: 0 auto;
		border-radius: $border-radius-sm;
		background-color: $dark-purple;
		color: $white;
		transition: 0.2s linear all;
	}

	&__container {
		max-width: 1280px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 0 20px;
		transition: 0.3s all linear;
	}

	&__nav {
		position: relative;
		background-color: rgba(249, 244, 242, .75);
		backdrop-filter: blur(5px);
		transform: translateY(-100%);
		transition: 0.2s linear transform;
		z-index: -1;
	}

	&__logo {
		flex-shrink: 0;
	}

	&__content,
	&__buttons {
		display: flex;
		align-items: center;
	}

	&__content {
		flex: 1;
		justify-content: space-evenly;
		gap: 20px;
	}

	&__buttons {
		gap: 20px;

		.btn {
			width: auto;
			@include text.label;
		}
	}

	&__address {
		display: flex;
		flex-direction: column;
		gap: 5px;
		
		span {
			font-weight: 700;
			line-height: 12px;
		}
	}

	&__menu-button {
		flex-shrink: 0;
		margin-left: auto;
	}

	&__trial-lesson {
		margin: 10px auto 0;
    	width: calc(100% - 40px);
	}

	&--expanded & {
		&__main {
			max-width: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	&--open & {
		&__nav {
			transform: translateY(0);
		}
	}

	.phone-numbers {
		gap: 5px;
	}

	@include mq.to(xl) {
		&__address {
			display: none;
		}
	}

	@include mq.to(lg) {
		&__callback,
		&__phones {
			display: none;
		}

		&__nav {
			height: auto;
			margin: 0 10px;
			padding: 20px 0;
			border-radius: $border-radius-sm;
		}
	}

	@include mq.to(md) {
		&__test {
			display: none;
		}
	}

	@include mq.to(sm) {
		&__content {
			display: none;
		}
	}

	@include mq.from(md) {
		&__main {
			max-width: calc(100% - 30px);
		}
	}

	@include mq.from(lg) {
		&__container {
			padding: 0 60px;
		}

		&__nav {
			position: relative;
			height: 40px;
	
			> .nav {
				height: 100%;
				width: 735px;
				max-width: calc(100% - 120px);
				margin: 0 auto;
	
				> .nav__list {
					height: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					> .nav__item  {
						transition: color 0.3s linear;

						&--active {
							color: $purple;
						}

						&:hover {
							color: $purple;
						}

						> .nav__link {
							padding: 0;
						}
					}
				}
			}
		}

		&__trial-lesson,
		&__menu-button {
			display: none;
		}
	}
}