.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	font-size: 14px;
	z-index: 100;

	&__main {
		width: 1280px;
		max-width: calc(100% - 40px);
		background-color: $dark-purple;
		color: $white;
		border-radius: $border-radius-sm;
		height: 65px;
		margin: 0 auto;
		transition: 0.2s linear all;

		@include breakpoint($breakpoint-md) {
			max-width: calc(100% - 30px);
		}
	}

	&__container {
		max-width: 1280px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 0 60px;
		transition: 0.3s all linear;
	}

	&__logo {
		margin-right: 32px;
	}

	&__buttons {
		margin-right: 50px;
		display: flex;
		gap: 20px;

		.btn {
			letter-spacing: 1.4px;
			font-weight: 800;
		}
	}

	&__phones {
		margin-right: 20px;
	}

	&__contacts {
		font-weight: 700;
		line-height: 12px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__login {
		margin-left: auto;
	}

	&__login {
		padding: 0;
		border: none;
		background-color: transparent;
		text-transform: uppercase;
		color: $white;
		font-family: "Raleway", sans-serif;
		font-size: 14px;
		font-weight: 800;
		line-height: 1;
		transition: color 0.3s linear;

		&:hover {
			color: $violet;
		}
	}

	&__free-lesson {
		border: 1.5px solid #fffcff;

		@include hover-active((
			background-color: transparent,
			border-color: $violet,
			color: $violet
		));
	}

	&__burger {
		position: relative;
		display: none;
		width: 22px;
		padding: 0;
		margin-left: 40px;
		border: none;
		background-color: transparent;

		&-line {
			height: 2px;
			background-color: $white;
			border-radius: 10px;
			transition: 0.3s linear all;

			&:not(:last-child) {
				margin-bottom: 3px;
			}
		}
	}

	&__nav {
		position: relative;
		height: 55px;
		padding-top: 15px;
		background-color: $pearl-white;
		font-weight: 700;
		transform: translateY(-120%);
		transition: 0.2s linear all;
		z-index: -1;

		&-list {
			width: 735px;
			max-width: calc(100% - 120px);
			height: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-item {
			position: relative;

			&:hover {
				> .subnav {
					opacity: 1;
					visibility: visible;
				}
			}

			// &:last-child {
			// 	display: none;

			// 	.subnav {
			// 		right: -40px;
			// 		left: auto;
			// 	}
			// }
		}

		&-link {
			color: $black;
			transition: color 0.3s linear;

			&:hover {
				color: $purple;
			}
		}
	}

	&__trial-lesson {
		margin: 0 auto;
		display: none;
		min-width: 326px;
	}

	&.expanded {
		.header__main {
			max-width: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	&.opened {
		.header__nav {
			transform: translateY(-15px);
		}

		.header__burger-line {
			&:first-child {
				transform: rotate(45deg) translate(4px, 3.5px);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:last-child {
				transform: rotate(-45deg) translate(4px, -3.5px);
			}
		}
	}

	@include breakpoint($breakpoint-xl) {
		&__container {
			padding: 0 40px;
		}

		&__test {
			display: none;
		}
	}

	@include breakpoint($breakpoint-lg) {
		.logo {
			margin-right: 20px;
		}

		&__free-lesson {
			margin-right: 15px;
		}

		&__callback {
			margin-right: 110px;
		}

		&__contacts {
			display: none;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__container {
			padding: 0 30px;
		}

		&__callback {
			margin-right: 0;
		}

		&__phones {
			margin-left: auto;
			margin-right: 0;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__callback {
			display: none;
		}

		&__item {
			&:nth-child(7) {
				order: -1;
			}

			&:nth-child(4),
			&:nth-child(6) {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		font-size: 16px;

		&__logo {
			margin-right: 10px;
		}

		&__free-lesson {
			display: none;
		}

		&__phones {
			margin-left: 30px;
		}

		&__burger {
			display: block;
		}

		&__trial-lesson {
			display: block;
		}

		&__nav {
			height: auto;
			margin: 0 20px;
			padding-bottom: 30px;
			background-color: $white;
			border-radius: 0 0 $border-radius $border-radius;

			&-list {
				width: auto;
				max-width: none;
				flex-direction: column;
				align-items: flex-start;
				margin: 0;
			}

			&-item {
				width: 100%;
				padding: 12px 30px;

				&:nth-child(7) {
					order: 1;
				}
	
				&:nth-child(4),
				&:nth-child(6) {
					display: block;
				}
	
				&:last-child {
					display: none;
				}
	
				&:has(.subnav) {
					cursor: pointer;
	
					.header__nav-link {
						pointer-events: none;
					}
	
					&::before {
						content: "";
						background: url("./static/images/icons/check-3.svg")
							center center/cover no-repeat;
						width: 12px;
						height: 6px;
						position: absolute;
						top: 20px;
						right: 28px;
						transform: scaleY(-1);
						transition: 0.3s linear transform;
					}
	
					&.active {
						&::before {
							transform: scaleY(1);
						}
					}
				}

				.subnav {
					transition: 0.3s linear;
				}
			}
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__phones {
			display: none;
		}

		&__trial-lesson {
			width: 300px;
			max-width: 100%;
			min-width: auto;
		}
	}
}