@use 'styles/components/text';
@use 'styles/mq';
@use 'styles/variables' as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	font-size: 14px;
	z-index: 100;

	&__main {
		max-width: calc(100% - 20px);
		width: 1280px;
		height: 65px;
		margin: 0 auto;
		border-radius: $border-radius-sm;
		background-color: $dark-purple;
		color: $white;
		transition: 0.2s linear all;
	}

	&__container {
		max-width: 1280px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 0 20px;
		transition: 0.3s all linear;
	}

	&__nav {
		position: relative;
		height: 40px;
		background-color: $pearl-white;
		font-weight: 700;
		transform: translateY(-100%);
		transition: 0.2s linear all;
		backdrop-filter: blur(5px);
		background-color: rgba(249, 244, 242, .75);
		z-index: -1;
	
		&-list {
			width: 735px;
			max-width: calc(100% - 120px);
			height: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-item {
			position: relative;

			&:hover {
				> .subnav {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&-link {
			color: $black;
			transition: color 0.3s linear;

			&:hover {
				color: $purple;
			}
		}
	}

	&__logo {
		flex-shrink: 0;
	}

	&__content,
	&__buttons {
		display: flex;
		align-items: center;
	}

	&__content {
		flex: 1;
		justify-content: space-evenly;
		gap: 20px;
	}

	&__buttons {
		gap: 20px;

		.btn {
			width: auto;
			@include text.label;
		}
	}

	&__address {
		display: flex;
		flex-direction: column;
		gap: 5px;
		
		span {
			font-weight: 700;
			line-height: 12px;
		}
	}

	&__menu-button {
		flex-shrink: 0;
		margin-left: auto;
	}

	&__trial-lesson {
		margin: auto;
	}

	&--expanded & {
		&__main {
			max-width: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	&--open & {
		&__nav {
			transform: translateY(0);
		}
	}

	.phone-numbers {
		gap: 5px;
	}

	@include mq.to(xl) {
		&__address {
			display: none;
		}
	}

	@include mq.to(lg) {
		&__callback,
		&__phones {
			display: none;
		}

		&__nav {
			height: auto;
			margin: 0 20px;
			padding-bottom: 30px;
			background-color: $white;
			border-radius: 0 0 $border-radius $border-radius;

			&-list {
				width: auto;
				max-width: none;
				flex-direction: column;
				align-items: flex-start;
				margin: 0;
			}

			&-item {
				width: 100%;
				padding: 12px 30px;

				&:nth-child(7) {
					order: 1;
				}
	
				&:nth-child(4),
				&:nth-child(6) {
					display: block;
				}
	
				&:last-child {
					display: none;
				}
	
				&:has(.subnav) {
					cursor: pointer;
	
					.header__nav-link {
						pointer-events: none;
					}
	
					&::before {
						content: '';
						background: url('./static/images/icons/check-3.svg')
							center center/cover no-repeat;
						width: 12px;
						height: 6px;
						position: absolute;
						top: 20px;
						right: 28px;
						transform: scaleY(-1);
						transition: 0.3s linear transform;
					}
	
					&.active {
						&::before {
							transform: scaleY(1);
						}
					}
				}

				.subnav {
					transition: 0.3s linear;
				}
			}
		}
	}

	@include mq.to(md) {
		&__test {
			display: none;
		}
	}

	@include mq.to(sm) {
		&__content {
			display: none;
		}
	}

	@include mq.from(md) {
		&__main {
			max-width: calc(100% - 30px);
		}
	}

	@include mq.from(lg) {
		&__container {
			padding: 0 60px;
		}

		&__trial-lesson,
		&__menu-button {
			display: none;
		}
	}
}