@use 'global' as *;
@use 'mq';

.license {
	position: relative;
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 110px;
	padding-right: 20px;
	border-radius: $br-m;
	background-color: $pearl-white;
	font-size: 16px;
	line-height: 15px;

	&::before {
		content: '';
		position: absolute;
		top: -3px;
		left: -4px;
		width: 145px;
		height: 79px;
		display: block;
		background-image: image('pictures/license.png');
		background-size: contain;
	}

	&__title {
		font-weight: 700;
    	margin-bottom: 5px;
	}

	&__series {
		font-weight: 500;
	}

	@include mq.for(sm) {
		padding: 0;
		background-color: transparent;

		&::before {
			display: none;
		}
	}
}