@use 'global' as *;

.manager-card {
    --card-image-aspect-ratio: 1;

    .card__description {
        position: relative;
        margin-top: 20px;

        @include decoration('elements/lightning.svg', before) {
            bottom: 20px;
            left: -50px;
            width: 30px;
            height: 40px;
        }
    }
}