.phone-numbers {
	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		white-space: nowrap;
	}
}