@use 'components/text';
@use 'mq';

.progress-block {
    .progress-excerpt {
        margin-bottom: 1rem;
        @include text.handwritten;
    }

    @include mq.to(md) {
        flex-direction: column;
        align-items: center;
        gap: 0;

        &__video,
        &__content {
            flex-basis: auto;
        }

        .video {
            z-index: 1;
        }

        .card {
            margin-top: -20px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            padding: 40px 20px 20px;
        }

        .speech-bubble {
            display: none;
        }
    }

    @include mq.from(md) {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;

        &__video {
            flex-basis: 50%;
        }
    
        &__content {
            flex-basis: 50%;
        }

        .card {
            padding: 25px 30px;
        }
    
        .progress-excerpt {
            display: none;
        }

        .speech-bubble {
            margin-left: auto;
            margin-top: 1rem;
        }
    }
}