@use 'mq';

.request-form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__contact,
	&__children {
		display: flex;
		gap: 10px;
	}

	&__contact {
        flex-direction: column;
	}

	&__children {
		align-items: center;
	}

	&__submit {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	@include mq.to(md) {
		&__children {
			flex-direction: column;
		}
	}
}