@use 'global' as *;
@use 'mq';

#request-modal {
    --surface-max-width: 1280px;
    z-index: 1001;

    @include mq.to(md) {
        .tabs {
            &__nav {
                max-width: unset;
                padding: 0 20px;
            }
        }
    }

    @include mq.from(md) {
        .tabs {
            &__nav {
                left: 40%;
                width: 60%;
                padding-right: 40px;
            }
        }
    }
}