@use 'global' as *;
@use 'mq';

.student-progress-slider {
	@include mq.to(md) {
		@include overflow(30px);
	}

	@include mq.from(lg) {
		overflow: visible;
	}

	.slider {
		@include mq.to(md) {
			&__arrows {
				display: none;
			}
		}

		@include mq.from(md) {
			&__pagination {
				padding-left: 48%;
			}
		}
	}
}