.student-progress-slider {
	.slider {
		&__arrows {
			right: 10%;
		}

		@include breakpoint($breakpoint-md) {
			&__arrows {
				right: 0;
			}
		}
	
		@include breakpoint($breakpoint-xxs) {
			&__pagination {
				padding-left: 48%;
			}
		}
	
		@include breakpoint($breakpoint-mobile) {
			&__arrows {
				display: none;
			}
		}
	}
}