@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.subnav {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 25px;
	left: -40px;
	width: 250px;
	margin-top: -10px;
	padding-top: 15px;

	transition: opacity 0.3s ease;
	z-index: 1;

	.subnav {
		position: static;
		opacity: 1;
		overflow: hidden;
		visibility: visible;
		transition: 0.3s linear height;

		height: 0;
		padding-top: 0;
		margin-top: 0;

		.subnav__list {
			padding: 0;
			border-radius: 0;
		}

		.subnav__link {
			padding-left: 48px;
			padding-right: 0;
		}
	}

	&__list {
		padding: 30px 0;
		border-radius: $border-radius-sm;
		background-color: $white;
	}

	&__item {
		position: relative;
		&:hover {
			background-color: $pale-white;

			> .subnav {
				height: 220px;
			}
		}

		&:has(.subnav) {
			&::before {
				content: "";
				background: url("./static/images/icons/check-3.svg") center
					center/cover no-repeat;
				width: 12px;
				height: 6px;
				position: absolute;
				top: 20px;
				right: 28px;
				transition: 0.3s linear transform;
			}

			&:hover {
				&::before {
					transform: scaleY(-1);
				}
			}
		}
	}

	&__link {
		display: block;
		padding: 12px 30px;

		font-size: 14px;
		font-weight: 700;
		color: $black;
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;
		position: static;
		opacity: 1;
		visibility: visible;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.subnav__list {
			padding: 10px 0 0;
		}

		.subnav__link {
			padding-left: 20px;
		}
	}
}