@use 'global' as *;
@use 'components/heading';
@use 'components/text';
@use 'mq';

.teacher-block {
	padding: 20px;
	display: flex;
	gap: 15px;
	background-color: $pale-white;
	@include border-radius;

	&__summary,
	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__info {
		flex: 1;
	}

	&__title {
		@include heading.h4;
	}

	&__free-lesson {
		@include text.body1;
		margin-top: auto;
	}

	&__details {
		background-color: $white;
		@include border-radius;
		overflow: hidden;
	}

	.tabs {
		// TODO: Remove display: none;
		&__nav {
			display: none;
			gap: 0;
			padding: 0 20px;
			max-width: none;
		}

		&__content {
			padding: 20px;
			@include scroll-y;
		}
	}

	.teacher-details {
		&__section {
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
		}

		&__heading {
			font-weight: 800;
		}

		&__content {
			font-weight: 600;
		}
	}

	.teacher-reviews {
		height: 329px;
		padding: 20px 25px 25px;
		overflow-y: auto;
		background-color: $white;
		border-radius: 0 0 $border-radius-sm $border-radius-sm;
	
		&__review {
			&:not(:last-child) {
				padding-bottom: 20px;
				margin-bottom: 5px;
				border-bottom: 2px solid $pale-white;
			}
		}
	
		&__info {
			display: flex;
			gap: 5px;
			margin-bottom: 5px;
		}
	
		&__name {
			font-size: 14px;
			font-weight: 800;
			line-height: 25px;
		}
	
		&__description {
			font-size: 14px;
			font-weight: 600;
			line-height: 15px;
		}
	
		&::-webkit-scrollbar {
			width: 3px;
		}
	
		&::-webkit-scrollbar-thumb {
			background: $linen;
			border-radius: 10%;
		}
	}

	@include mq.to(sm) {
		flex-direction: column;

		&__share-link {
			display: none;
		}

		.tabs {
			&__content {
				max-height: 300px;
			}
		}
	}

	@include mq.from(sm) {
		flex-direction: row;
		
		&__summary {
			width: 40%;
		}

		&__details {
			width: 60%;
		}

		&__share-link {
			position: absolute;
			top: 30px;
			right: -15px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			border-radius: 100%;
			background-color: $white;

			img {
				width: 70%;
			}
		}

		.tabs {
			&__content {
				max-height: 360px;
			}
		}
	}

	@include mq.from(lg) {
		padding: 30px;
		gap: 30px;

		&__summary,
		&__info {
			gap: 20px;
		}

		&__share-link {
			top: 35px;
			right: -25px;
			width: 50px;
			height: 50px;
		}

		.tabs {
			&__nav {
				padding: 0 30px;
			}

			&__content {
				padding: 30px;
				max-height: 480px;
			}
		}
	}
}