#testimonial-modal {
    .testimonial-card {
        width: 100%;
        max-width: 950px;

        .testimonial-meta {
            order: -1;
        }
        
        .testimonial-excerpt {
            display: none;
        }

        .testimonial-content {
            display: block;
        }
    }
}