@use 'global' as *;
@use 'mq';

.testimonial-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .testimonial-excerpt,
    .testimonial-content {
        font-size: 16px;
        font-weight: 600;
    }

    .testimonial-content {
        display: none;
    }

    .testimonial-meta {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &__info {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .link {
        display: block;
        margin-top: 1rem;
        text-decoration: underline;
        font-size: 16px;
        line-height: 15px;
    }

    @include mq.from(md) {
        padding: 25px 30px;
    }

    @include mq.from(lg) {
        padding: 45px 40px 45px 50px;
    }
}