@use 'global' as *;
@use 'components/heading';

.testimonial-group {
	padding: 30px 60px 50px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	background-color: $yellow;
	@include border-radius;

	&__header {
		margin-left: 48px;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: 15px;

		&-value {
			@include heading.h2;
		}

		&-info {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.text {
				font-weight: 800;
			}
		}
	}

	.stars {
		color: $purple;
	}

	@include breakpoint($breakpoint-lg) {
		padding: 30px;

		&__header {
			margin-left: 0;
		}

		&__rating-value {
			font-size: 36px;
			line-height: 35px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		padding: 25px;
	}
}