@use 'global' as *;
@use 'mq';

.test {
	.text-card {
		display: flex;
		align-items: flex-end;
		padding-right: 120px;
	}
}

.test-loading {
	width: 100%;
	height: 480px;
	display: flex;

	.spinner {
		margin: auto;
	}
}

.test-main,
.test-results {
	margin: auto;
	padding: 20px;
	display: flex;
	gap: 30px;
	background-color: $white;
	@include border-radius;

	@include mq.from(sm) {
		padding: 30px;
	}

	@include mq.from(md) {
		padding: 40px;
	}
}

.test-main {
	max-width: 960px;
	flex-direction: column;

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__content {
		flex: 1;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	@include mq.to(md) {
		padding-top: 25px;
	}

	@include mq.from(md) {
		padding: 40px 80px;
	}
}

.test-results {
	max-width: 1024px;
	flex-direction: column;

	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.card {
		padding: 20px;
	}

	@include mq.from(md) {
		flex-direction: row;

		.card {
			padding: 30px;
		}
	}

	@include mq.from(lg) {
		padding: 50px;
	}
}

.test-item {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__question {
		position: relative;
		line-height: 1.4;
	}

	.blank {
		position: relative;
		height: 1.5em;
		display: inline-block;
		align-items: center;
		padding: 0 10px;
		border-radius: $br-m;
		background-color: $linen;
		color: $purple;
		vertical-align: middle;

		&:empty {
			width: 100px;
		}
	}

	.radio {
		--radio-hover-color: #{$purple};
		--radio-checked-color: #{$purple};
	}
}