@use 'global' as *;

#video-modal {
    z-index: 1001;

    .video {
        width: 80vh;
        display: block;
        background-color: $pale-white;
        @include border-radius;

        &--vertical {
            height: 80vh;
        }
    }
}