{% if children %}
	<div class="feedback-form__children">
		<input class="input-text" type="text" name="children-name" placeholder="Имя ребёнка">

		{% include 'components/custom-select.twig' with {
			options: [
				'От 6 до 11 лет',
				'От 11 до 16 лет'
			]
		} %}
	</div>

	<input class="input-text" type="text" name="parent-name" placeholder="Имя родителя">
{% else %}
	<input class="input-text" type="text" name="name" placeholder="Имя">
{% endif %}

<input class="input-text" type="tel" name="phone" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}">

<div class="feedback-form__communication">
	Выберите удобный способ связи:

	{% include 'components/custom-select.twig' with {
		options: [
			'Позвоните мне',
			'Напишите мне в WhatsApp',
			'Напишите мне в Telegram'
		]
	} %}
</div>

<button class="btn btn--full">Оставить заявку</button>

{% include 'components/custom-checkbox.twig' with {
	name: 'consent'
} %}