<input type="text" placeholder="Имя" name="name" class="feedback-form__input-text">

<input type="tel" placeholder="+7 (999) 999-99-99" pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" name="phone" class="feedback-form__input-text">

<div class="feedback-form__communication">
	Выберите удобный способ связи:
	<select name="select" class="feedback-form__input-select">
		<option value="value1" selected>Позвоните мне</option>
		<option value="value2">Напишите мне в WhatsApp</option>
		<option value="value3">Напишите мне в Telegram</option>
	</select>
</div>

<button class="btn">Оставить заявку</button>

<div class="feedback-form__policy">
	<input type="checkbox">
	Я согласен с политикой обработки персональных данных
</div>