{% set id = name ~ '-' ~ random() %}

<div class="checkbox">
	<input id="{{id}}" class="checkbox__input" type="checkbox" name="{{name}}"{% if checked %} checked{% endif %}>
	
	<span class="checkbox__checkmark"></span>

	{% if label %}
		<label class="checkbox__label" for="{{id}}">
			{{label}}
		</label>
	{% endif %}
</div>