<div class="feedback-block">
	<img class="feedback-block__img" src="{{theme.link}}/static/images/pictures/anastasia-2.jpg" alt="Say Yes">

	<div class="feedback-block__content">
		<h2 class="feedback-block__title">Оперативно перезвоним</h2>

		<p class="feedback-block__description">И подробно ответим на все ваши вопросы об условиях и ценах на обучение</p>

		<form class="feedback-form">
			{% include 'components/callback-form.twig' %}
		</form>
	</div>
</div>