<form class="feedback-form" action="post">
	<h3 class="feedback-form__format">Выберите желаемый формат обучения:</h3>

	{% include 'components/custom-radio-buttons.twig' with {
		name: 'format' ~ (children ? '-children' : ''),
		items: [
			{
				label: 'Офлайн',
				value: 'online',
				checked: 'checked'
			},
			{
				label: 'Онлайн',
				value: 'offline',
			},
			{
				label: 'Не знаю',
				value: 'unknown'
			}
		]
	} %}

	{% include 'components/callback-form.twig' with {
		children
	} %}
</form>