<div class="tabs">
	<div class="tabs__nav tabs__nav--feedback-modal">
		<button class="tabs__tab active">Взрослым</button>
		<button class="tabs__tab">Детям</button>
	</div>

	<div class="tabs__content">
		<div class="tabs__item active">
			<div class="feedback-block">
				<div class="feedback-block__overview"></div>

				<div class="feedback-block__content">
					<p class="feedback-block__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>

					{% include 'components/feedback-form.twig' %}
				</div>
			</div>
		</div>

		<div class="tabs__item">
			<div class="feedback-block feedback-block--children">
				<div class="feedback-block__overview"></div>

				<div class="feedback-block__content">
					<p class="feedback-block__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>

					{% include 'components/feedback-form.twig' with {
						children: true
					} %}
				</div>
			</div>
		</div>
	</div>
</div>