{% macro format_card(format, color) %}
    {% embed 'components/card.twig' with {
        class: 'format-card',
        title: format.title,
        description: format.description,
        image: format.thumbnail ? {
            src: format.thumbnail.src,
            alt: format.title
        },
        link: format.link,
        color
    } %}
        {% block content %}
            Стоимость обучения:

            <span>
                {{format.price.prefix}} <strong>{{format.price.value}}</strong>{{format.price.postfix}}
            </span>
        {% endblock %}
    {% endembed %}
{% endmacro %}