<header class="header opened">
	<div class="header__overview">
		<div class="header-container">
			{% include 'components/logo.twig' with { fill: '#fff' } %}

			<button class="header__free-lesson feedback-btn btn btn--transparent btn--uppercase btn--sm">Бесплатный урок</button>

			<button class="header__test">Онлайн тест</button>

			<button class="header__callback callback-btn">Обратный звонок</button>

			{% include 'components/phone-numbers.twig' with {
				icon_class: 'icon--white icon--sm' 
			} %}

			<div class="header__contacts">
				<div class="header__city">Москва</div>
				<div class="header__time">ПН-ПТ с 12:00 до 21:00</div>
			</div>

			<a class="header__login" href="#">Войти</a>

			<button class="header__burger">
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
			</button>
		</div>
	</div>

	<nav class="header__navigation">
		<ul class="header__list">
			{% for item in main_menu.items %}
				<li class="{{html_classes('header__item', item.classes|join(' '), {
					'active': item.current,
					'dropdown': item.children
				})}}"{% if item.is_external %} target="_blank"{% endif %}>
					<a class="header__sublink" href="{{item.link}}">{{item.title}}</a>

					{% if item.children %}
						{% include 'components/subnav.twig' with {
							items: item.children
						} %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<button class="header__trial-lesson feedback-btn btn btn--yellow">Записаться на пробный урок</button>
	</nav>
</header>