<div class="license">
	<img src="{{theme.link}}/static/images/pictures/license.png" alt="Лицензия 77 Л01 №0007610" class="license__img">

	<div class="license__info">
		<a href="{{ site.link }}/licenzii/">
			<h4 class="license__title">Лицензия на доп. образование</h4>
			<p class="license__series">серия 77 Л01 №0007610</p>
		</a>
	</div>
</div>