<ul class="{{html_classes('list', {
	'list--ul': type == 'ul',
	'list--ol': type == 'ol',
	'list--dl': type == 'dl'
})}}">
	{% for item in items %}
		<li class="list-item">
			{{item.content}}

			{% if item.title %}
				<h4 class="list-item__title">{{item.title}}</h4>
			{% endif %}

			{% if item.description %}
				<p class="list-item__description">{{item.description}}</p>
			{% endif %}
		</li>
	{% endfor %}
</ul>