<ul class="list {{classes}}">
	{% for item in list %}
		<li class="list__item">
			{{item.content}}

			{% if item.title %}
				<h4 class="list__title">{{item.title}}</h4>
			{% endif %}

			{% if item.description %}
				<p class="list__description">{{item.description}}</p>
			{% endif %}
		</li>
	{% endfor %}
</ul>