<div class="{{html_classes(class ?? [], 'modal')}}">
	<div class="modal__window">
		<button class="modal__close">+</button>
		
		<div class="modal__content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>