<ul class="phone-numbers">
	{% for key, number in site_data.contacts.phone_numbers %}
		<li class="phone-numbers__item">
			{% include 'components/icon.twig' with {
				name: key == 'main' ? 'phone' : key
			} %}
			
			<a class="phone-numbers__link" href="tel:{{format_phone_number(number)}}">{{number}}</a>
		</li>
	{% endfor %}
</ul>