<ul class="phone-numbers">
	{% for key, number in settings.phone_numbers %}
		<li class="phone-numbers__item">
			{% include 'components/icon.twig' with {
				class: 'icon--' ~ key ~ ' ' ~ icon_class
			} %}
			
			<a class="phone-numbers__link" href="tel:{{number|replace({ '+': '', '-': '', ' ': '' })}}">{{number}}</a>
		</li>
	{% endfor %}
</ul>