{% macro progress_card(progress) %}
    <div class="progress-card card">
        <div class="progress-card__media">
            {% include 'components/video.twig' with {
                youtube_id: progress.youtube_id,
                image: {
                    src: progress.thumbnail.src,
                    alt: progress.title
                },
                modal: true
            } %}
        </div>

        <div class="progress-card__content">
            <h4 class="progress-card__title">{{progress.title}}</h4>

            <p class="progress-card__description">{{progress.excerpt({ read_more: false })}}</p>

            {% include 'components/list.twig' with {
                items: [
                    {
                        title: 'Старт обучения:',
                        description: progress.level
                    },
                    {
                        title: 'Преподаватель:',
                        description: progress.teacher
                    }
                ],
                type: 'dl'
            } %}
        </div>
    </div>
{% endmacro %}