<div class="section {{class}}">
    <h3 class="section__title">
        {% block title %}
            {{title}}
        {% endblock %}
    </h3>

	<div class="section__content">
        {% block content %}
            {{content}}
        {% endblock %}
	</div>
</div>