<div class="{{name}}-slider slider">
	<div class="slider__arrows">
		<button class="slider__left-arrow" type="button"></button>
		<button class="slider__right-arrow" type="button"></button>
	</div>

	<div class="swiper-wrapper">
		{% block content %}
		{% endblock %}

		{# <div class="slider__slide swiper-slide">
			{{block('content')}}
		</div> #}
	</div>

	<ul class="slider__pagination"></ul>
</div>