<div class="{{name}}-slider slider">
	{% if not arrows %}
		<div class="slider__arrows">
			<button class="slider__left-arrow" type="button"></button>
			<button class="slider__right-arrow" type="button"></button>
		</div>
	{% endif %}

	<div class="swiper-wrapper">
		{% block content %}
		{% endblock %}

		{# <div class="slider__slide swiper-slide">
			{{block('content')}}
		</div> #}
	</div>

	{% if not pagination %}
		<div class="slider__pagination"></div>
	{% endif %}
</div>