<ul class="social">
	{% for key, url in settings.social_accounts %}
		<li class="social__item">
			<a class="social__link" href="{{url}}">
				{% include 'components/icon.twig' with {
					name: key
				} %}
			</a>
		</li>
	{% endfor %}
</ul>