<ul class="social">
	{% for item in data.social %}
		<li class="social__item">
			<a href="{{item.href}}" class="social__link">
				{% include 'components/icon.twig' with { class: item.icon } %}
			</a>
		</li>
	{% endfor %}
</ul>