<div class="card story-card">
    <div class="card-body">
        <div class="author">
            <img class="avatar-big img-raised" src="{{ story.thumbnail.src }}" alt="Фото {{ story.title }}">
        </div>

        <h2 class="card-title h5">{{ story.title }}</h2>
    </div>

    <footer class="card-footer">
        <a href="{{ story.link }}" class="card-link text-info">Посмотреть историю</a>
    </footer>
</div>