<img src="{{theme.link}}/static/images/icons/check-2.svg" alt="" class="window__check-icon">

<h2 class="window__title">Заявка отправлена</h2>

<p class="window__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах.</p>