<div class="tabs">
    <div class="tabs__nav">
        {% for tab in tabs %}
            <button class="tabs__tab{{tab.active ? ' active' : ''}}" data-tab-target="{{tab.target}}">{{tab.content}}</button>
        {% endfor %}
    </div>

    <div class="tabs__content">
        {% block content %}
        {% endblock %}
    </div>
</div>