<article class="teacher-block" v-if="teacher">
	<div class="teacher-block__summary">
		<div class="teacher-block__media">
			<div class="video video--modal">
				<img class="video__bg" :src="teacher.imageUrl" :alt="teacher.name">
				<button class="video__btn" type="button" :data-embed-url="teacherVideoEmbedUrl">
			</div>
		</div>

		<div class="teacher-block__info">
			<h2 class="teacher-block__title">${teacher.name}</h2>

			<p class="teacher-block__free-lesson">Бесплатный пробный урок с этим преподавателем</p>

			<button class="feedback-btn btn btn--sm btn--transparent btn--transparent-black">Подробнее</button>
		</div>
	</div>

	<div class="teacher-block__details">
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Обо мне',
					target: '.teacher-details',
					active: true
				},
				{
					content: 'Отзывы',
					target: '.teacher-reviews'
				}
			]
		} %}
			{% block content %}
				<section class="teacher-details">
					<div class="teacher-details__section" v-if="teacher.experience">
						<h3 class="teacher-details__heading">Опыт работы:</h3>
						<div class="teacher-details__content" v-html="teacher.experience"></div>
					</div>

					<div class="teacher-details__section" v-if="teacher.education">
						<h3 class="teacher-details__heading">Образование:</h3>
						<div class="teacher-details__content" v-html="teacher.education"></div>
					</div>

					<div class="teacher-details__content" v-html="teacher.content"></div>
				</section>

				<section class="teacher-reviews hidden">
					<div class="teacher-reviews__review" v-for="review in teacher.reviews">
						<div class="teacher-reviews__info">
							<h4 class="teacher-reviews__name">${review.name}</h4>

							<a class="teacher-reviews__social" href="${review.social.url}" target="_blank">
								{# {% include 'components/icon.twig' with {class: review.social.icon} %} #}
							</a>
						</div>

						<p class="teacher-reviews__description">${review.content}</p>
					</div>
				</section>
			{% endblock %}
		{% endembed %}
	</div>

	<button class="teacher-block__share-link" data-share="${teacher.shareLink}">
		<img src="{{theme.link}}/static/images/icons/share.svg" alt="">
	</button>
</article>