#about-page {
    
}

.founders-announcement {
	&__container {
		gap: 20px;
	}

	&__header {
		width: 100%;
		padding: 70px 100px;
		background-color: #fffcff;
		border-radius: 30px;

		.text {
			position: relative;
    		padding-left: 60px;

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 45px;
				height: 33px;
				background: url('./static/images/icons/quotes.svg') center center / contain no-repeat;
			}

			&::before {
				top: -15px;
				left: 0px;
			}

			&::after {
				bottom: -10px;
				right: 0px;
				transform: rotate(180deg);
			}
		}		
	}

	&__title {
		max-width: 470px;
		margin-bottom: 40px;
	}

	&__media {
		position: relative;
		min-width: 370px;
    	min-height: 500px;
		border-radius: 30px;
		background-color: $pale-pink;

		&::before {
			content: '';
			position: absolute;
			top: 50px;
			left: 160px;
			transform: translateX(-50%);
			width: 227px;
			height: 71px;
			background: url('./static/images/decoration/notes/founders-2.svg') center center/contain no-repeat;
		}

		.image {
			position: absolute;
			width: 120%;
			left: -15%;
			bottom: 0;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__media {
			min-height: 365px;

			&::before {
				width: 191px;
				height: 60px;
				top: 25px;
				left: 122px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__media {
			min-height: 165px;

			&::before {
				width: 191px;
				height: 60px;
				top: 59px;
				left: 140px;
			}

			.image {
				left: auto;
				right: 0;
				width: 260px;
			}
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__title {
			margin-bottom: 272px;
			max-width: 270px;
		}

		&__media {
			min-height: 215px;

			&::before {
				width: 158px;
				height: 49px;
				top: 20px;
				left: 98px;
			}

			.image {
				width: 260px;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__media {
			&::before {
				left: 90px;
			}

			.image {
				width: 220px;
			}
		}
	}
}

.digits {
	&__container {
	    justify-content: space-between;
    }

	&__header {
		max-width: 190px;
	}

	&__content {
		width: 764px;
		display: grid;
		gap: 20px;
		grid-template-areas:
			'a a a b b b b b'
			'c c c c c d d d'
			'e e e e e d d d';
	}

	.card {
		min-height: 200px;
		padding: 45px 0 0 45px;

		&__title {
			margin-bottom: 10px;
			font-size: 70px;
			font-weight: 700;
			line-height: 60px;
		}
	
		&__description {
			max-width: 140px;
		}

		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
			display: flex;
			min-height: 150px;

			.card__title {
				margin-right: 70px;
			}
		}

		&:nth-child(4) {
			grid-area: d;
		}

		&:nth-child(5) {
			grid-area: e;
			display: flex;
			min-height: 150px;

			.card__title {
				margin-right: 45px;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			max-width: 150px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__content {
			width: 580px;
			gap: 15px;
			grid-template-areas:
				'a b'
				'c d'
				'e d';
		}

		.card {
			min-height: 135px;
			padding: 20px 0 0 20px;

			&__title {
				margin-bottom: 5px;
				font-size: 42px;
				line-height: 40px;
			}

			&:nth-child(3),
			&:nth-child(5) {
				min-height: 135px;
				display: block;

				.card__title {
					margin-right: 0;
				}
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		&__content {
			width: 450px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
		flex-direction: column;

		&__content {
			width: 100%;
		}

		.card {
			&__title {
				max-width: none;
				margin-bottom: 25px;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__content {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.card {
			min-height: 90px;
			padding: 0 25px;
			display: flex;
			align-items: center;
			background-color: $yellow;

			&__title {
				width: 140px;
				margin-right: 25px;
			}

			&__description {
				max-width: 210px;
			}

			&:nth-child(3),
			&:nth-child(5) {
				min-height: 90px;
				display: flex;

				.card__title {
					margin-right: 25px;
				}
			}
		}
	}
}

.back-office {
	position: relative;

	&__title {
		max-width: 700px;
		margin-bottom: 15px;
	}

	&__description {
		margin-bottom: 35px;

		p:first-of-type {
			max-width: 470px;
		}
		
		p:last-of-type {
			max-width: 500px;
		}
		
		p:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	.card:first-of-type {
		&::before {
			content: '';
			position: absolute;
			width: 181px;
			height: 116px;
			bottom: 100px;
			right: 55px;
			background: url('./static/images/decoration/notes/superpowers.svg')
				center center/cover no-repeat;
		}
	}

	.manager-card {
		&::before {
			content: '';
			position: absolute;
			bottom: 47px;
			left: -12px;
			width: 40px;
			height: 55px;
			background: url('./static/images/decoration/elements/lightning.svg')
				center center/contain no-repeat;
		}
	}

	.text-card {
		padding: 50px 35px 50px 50px;
		align-self: flex-start;
	}

	@include breakpoint($breakpoint-md) {
		.card:first-of-type {
			&::before {
				width: 145px;
				height: 93px;
			}
		}

		.manager-card {
			&::before {
				width: 30px;
				height: 41px;
				left: -15px;
			}
		}

		.text-card {
			padding: 25px;

			&:last-of-type {
				margin-top: 0;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.cards-grid {
			margin-top: 165px;
		}

		.card:first-of-type {
			position: absolute;
			bottom: 470px;
			left: 15px;

			&::before {
				display: none;
			}

			.card__title {
				margin-bottom: 10px;
				font-size: 26px;
				line-height: 25px;
			}

			.card__subtitle {
				max-width: 280px;
			}
		}

		.text-card {
			justify-content: center;
            
			.card__text {
				text-align: center;
				line-height: 25px;
			}
		}
	}
}

.behind-the-scenes {
	position: relative;
	padding: 100px 60px;
	margin-bottom: 100px;
	border-radius: $border-radius;
	background-color: $white;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: -4px;
		left: -5px;
		background: url('./static/images/decoration/elements/confetti-2.svg') center center/cover no-repeat;
	}

	&__title {
		max-width: 590px;
		margin-bottom: 20px;
	}

	&__description {
		max-width: 730px;

		p:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	&__gallery {
		margin-top: 40px;
		display: grid;
		grid-template-areas:
			'a a a a a a a b b b b b'
			'c c d d d d d d . . . .'
			'e e e e e f f f f f f f'
			'. . . . g g g g g g h h';
		gap: 20px;
	}

	&__media {
		position: relative;

		.image {
			height: 100%;
		}

		.video {
			max-width: 172px;
		}

		&:nth-child(1) {
			grid-area: a;

			&::before {
				content: '';
				width: 360px;
				height: 205px;
				position: absolute;
				top: -10px;
				left: -281px;
				transform: scaleX(-1) rotate(50deg);
				background: url('./static/images/decoration/elements/tinsel.svg')
					center center/cover no-repeat;
			}
		}

		&:nth-child(2) {
			grid-area: b;

			&::before {
				content: '';
				width: 157px;
				height: 142px;
				position: absolute;
				top: -193px;
				right: 134px;
				background: url('./static/images/decoration/notes/celebration.svg')
					center center/cover no-repeat;
			}
		}

		&:nth-child(3) {
			grid-area: c;

			&::before {
				content: '';
				width: 324px;
				height: 190px;
				position: absolute;
				top: -8%;
				left: 445%;
				background: url('./static/images/decoration/elements/tinsel.svg')
					center center/cover no-repeat;
			}
		}

		&:nth-child(4) {
			grid-area: d;

			&::before {
				content: '';
				width: 173px;
				height: 107px;
				position: absolute;
				top: 55%;
				right: -53%;
				background: url('./static/images/decoration/notes/fun.svg')
					center center/cover no-repeat;
			}
		}

		&:nth-child(5) {
			grid-area: e;
		}

		&:nth-child(6) {
			grid-area: f;
		}

		&:nth-child(7) {
			grid-area: g;

			&::before {
				content: '';
				width: 227px;
				height: 164px;
				position: absolute;
				bottom: -13%;
				left: -82%;
				background: url('./static/images/decoration/elements/petard.svg')
					center center/cover no-repeat;
			}
		}

		&:nth-child(8) {
			grid-area: h;

			&::before {
				content: '';
				width: 137px;
				height: 85px;
				position: absolute;
				top: 30%;
				left: -445%;
				background: url('./static/images/decoration/notes/awards.svg')
					center center/cover no-repeat;
			}

			.image:last-child {
				display: none;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		padding: 70px 50px;

		&__description {
			max-width: 600px;
		}

		&__media {
			&:nth-child(1) {
				&::before {
					width: 324px;
					height: 184px;
					top: -30px;
					left: -260px;
				}
			}

			&:nth-child(3) {
				&::before {
					width: 248px;
					height: 143px;
				}
			}

			&:nth-child(8) {
				&::before {
					width: 126px;
					height: 78px;
					top: 10%;
					left: -485%;
				}
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		&__media {
			&:nth-child(2) {
				&::before {
					left: auto;
					right: 10px;
				}
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		padding: 60px 20px;

		&__gallery {
			grid-template-areas:
				'b a a'
				'b a a'
				'd d .'
				'd d .'
				'g g c'
				'g g c'
				'g g c'
				'. f f'
				'. f f'
				'h e e'
				'h e e'
				'h e e';
			gap: 15px;
			grid-auto-rows: 110px;
		}

		&__media {
			&:nth-child(1) {
				&::before {
					width: 125px;
					height: 113px;
					position: absolute;
					top: -140px;
					left: auto;
					right: -10px;
					transform: none;
					background: url('./static/images/decoration/notes/celebration.svg')
						center center/cover no-repeat;
				}
			}

			&:nth-child(2) {
				&::before {
					width: 324px;
					height: 184px;
					top: -30px;
					left: -220px;
					transform: scaleX(-1) rotate(50deg);
					background: url('./static/images/decoration/elements/tinsel.svg')
						center center/cover no-repeat;
				}
			}

			&:nth-child(3),
			&:nth-child(7) {
				&::before {
					display: none;
				}
			}

			&:nth-child(4) {
				&::before {
					width: 178px;
					height: 103px;
					top: -10%;
					left: 99%;
					background: url('./static/images/decoration/elements/tinsel.svg')
						center center/cover no-repeat;
				}
			}

			&:nth-child(8) {
				&::before {
					width: 103px;
					height: 101px;
					top: -65%;
					left: 15%;
					background: url('./static/images/decoration/notes/awards-2.svg')
						center center/cover no-repeat;
				}
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&::before {
			display: none;
		}

		&__gallery {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&__media {
			&:nth-child(4),
			&:nth-child(8) {
				&::before {
					display: none;
				}
			}

			&:nth-child(1) {
				&::before {
					display: block;
					width: 50%;
					height: 54%;
					top: -30px;
					left: -35%;
					background: url('./static/images/decoration/elements/tinsel.svg')
						center center/cover no-repeat;
				}
			}

			&:nth-child(2) {
				&::before {
					width: 238px;
					height: 139px;
					top: 20px;
					left: 69%;
					transform: rotate(65deg);
					background: url('./static/images/decoration/elements/tinsel.svg')
						center center/cover no-repeat;
				}
			}

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(1),
			&:nth-child(7) {
				order: -2;
			}
			&:nth-child(6) {
				order: -1;
			}
			&:nth-child(4),
			&:nth-child(5) {
				order: 1;
			}

			&:nth-child(8) {
				display: flex;
				gap: 10px;

				img:last-child {
					display: block;
				}
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__picture {
			&:nth-child(8) {
				overflow-x: auto;
				width: calc(100% + 20px);
				height: 360px;
				padding-right: 20px;

				.image {
					min-width: 213px;
					display: block;
				}

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
}