@use 'styles/mq';
@use 'styles/theme';
@use 'styles/variables' as *;

#contacts-page {
    .main-section {
		--title-max-width: 680px;
		--description-max-width: unset;
	}
}

.contacts {
	--max-width: unset;

	padding: 20px;

	&__content,
	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.phone-numbers {
		&__item {
			color: $purple;
			font-size: 18px;
		}
	}

	&__email {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__time {
		.list {
			gap: 5px;
		}

		.list-item {
			&__content {
				flex-direction: row;
			}
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 800;
		letter-spacing: 0.36px;
		text-transform: uppercase;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__map {
		width: 100%;
		@include theme.border-radius;
	}

	@include mq.to(md) {
		&__time {
			.list-item {
				&__content {
					justify-content: space-between;
				}
			}
		}
	}

	@include mq.for(md) {
		&__info {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'a b'
				'c d'
				'e e';

			.btn {
				grid-area: e;
				margin: auto;
			}
		}

		&__email {
			align-items: flex-start;
			order: 1;
		}

		&__map {
			height: 360px;
		}
	}

	@include mq.from(md) {
		padding: 30px;

		&__content,
		&__info {
			gap: 30px;
		}
	}

	@include mq.from(lg) {
		padding: 40px;

		&__content {
			flex-direction: row;
			gap: 40px;
		}
	}
}

.contact-us {
	&__content {
		display: flex;
		gap: 20px;
	}

	@include mq.to(md) {
		&__content {
			flex-direction: column;
		}
	}
}