@use 'styles/components/heading';
@use 'styles/mq';
@use 'styles/theme';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

#corporate-page {
    .main-section {
        .price-list-button {
            margin-top: 15px;
        }

        @include mq.from(md) {
            --title-max-width: 880px;
            --description-max-width: 450px;

            .price-list-button {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }
        }
    }

    .video-section {
        --header-max-width: 530px;
    
        @include breakpoint($breakpoint-md) {
            &__info {
                max-width: 390px;
            }
        }
    
        @include breakpoint($breakpoint-sm) {
            &__info {
                max-width: 330px;
            }
        }
    
        @include breakpoint($breakpoint-xxs) {
            align-items: center;
    
            &__info {
                max-width: 530px;
            }
        }
    
        @include breakpoint($breakpoint-sm-mobile) {
            &__info {
                max-width: none;
            }
        }
    }

    .founders-card {
        figure::before,
        figure::after,
        figcaption {
            display: none;
        }

        @include mq.to(md) {
            margin-top: 75%;
        }
    }
}

.corporate-directions {    
    .card {
        flex: 1;
        padding-top: 60px;

        &__title {
            max-width: 100px;
        }

        @include mq('md') {
            padding-top: 100px;

            &__title {
                max-width: none;
            }
        }

        @include mq('lg') {
            min-height: 275px;
            padding: 123px 20px 16px 38px;
        }
    }

    @include mq.for(md) {

    }

    @include mq.from(lg) {
        &__header {
            max-width: 650px;
        }
    }

    @include mq.from(xl) {
        &__header {
            max-width: 900px;
        }
    }
}

.corporate-formats {
    .grid {
        @include mq.between(sm, lg) {
            @include scroll-x;
        }
    }

    .card {
        min-width: 250px;
    }

    @include mq.from(md) {
        --header-max-width: 420px;
    }

    @include mq.from(lg) {
        --header-max-width: 900px;
    }
}

.corporate-benefits,
.corporate-steps {
    .picture {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: #e5e3e2;
        @include theme.border-radius;

        &__image {
            position: relative;
            margin-top: auto;
            display: block;
            object-fit: contain;
        }

        &__caption {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
            font-style: italic;

            .heading {
                font-size: 18px;
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        grid-area: c;
        margin: auto;
    }

    @include mq.to(md) {
		padding: 20px;
		background-color: $white;

        &__header {
            padding: 0 !important;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .picture {
            &__image {
                width: 50%;
                height: auto;
            }

            &__caption {
                max-width: 40%;
            }
        }
	}

    @include mq.from(md) {
        .picture {
            &__image {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 80%;
            }
        }

        .card {
            padding: 30px;
        }
	}

    @include mq.from(lg) {
        .card {
            padding: 40px;
        }

        .list {
            gap: 15px;
        }

        .btn {
            min-width: 470px;
        }
    }
}

.corporate-benefits {
    @include mq.from(md) {
        --header-max-width: 400px;

        &__content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                'a b'
                'c c';
            gap: 20px;
        }
	}

    @include mq.from(lg) {
        --header-max-width: 550px;

        &__content {
            row-gap: 40px;
        }
    }
}

.corporate-teachers {
    &__title {
        max-width: 880px;
    }

    &__description {
        max-width: 720px;
    }

    .grid {
        margin-bottom: 20px;

        + .btn {
            max-width: 372px;
            margin: auto;
        }
    }

    @include mq.to(md) {
        .grid {
            display: flex;
            @include scroll-x;
        }

        .card {
            min-width: 250px;
        }
    }

    @include mq.from(md) {
        .grid {
            margin-bottom: 40px;
        }
    }
}

.corporate-extra-benefits {
    --header-max-width: 800px;

    .card {
        display: flex;
        // TODO: Fix text-card image
        padding-right: 120px;
    }

	.btn {
		margin: 40px auto 0;
	}
    
    @include mq.from(md) {
        .btn {
            min-width: 360px;
        }
    }

    @include mq.from(lg) {
        .card {
            align-items: flex-end;
        }
    }
}

.corporate-clients {
	.card {
        height: 100%;
        display: flex;

        img {
            width: 70%;
            height: 70%;
            margin: 1rem auto;
            aspect-ratio: 1;
            object-fit: contain;
        }
	}

	@include breakpoint($breakpoint-xxs) {
		.slider {
            &__arrows {
                display: none;
            }
		}
	}
}

.corporate-reviews {
    --header-max-width: 580px;

    .card {
        background: none;
        cursor: pointer;

        .image {
            width: 100%;
            display: block;
            object-fit: contain;
            border-radius: $border-radius;
        }
    
        .heading {
            margin-top: 20px;
            font-weight: 800;
            text-align: center;
        }
    }

    @include mq.to(lg) {
		.slider {
            &__arrows {
                display: none;
            }
		}
	}

    @include mq.to(md) {
        .swiper-slide {
            width: 80%;
        }
    }
}

.corporate-steps {
    --header-max-width: 550px;
    --caption-max-width: none;

    .picture {
        &__caption {
            max-width: var(--caption-max-width);
        }
    }

    @include mq.to(md) {
        --caption-max-width: 105px;
    }

    @include mq.from(md) {
        --caption-max-width: 200px;

        &__content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
        }

        .list {
            align-items: flex-start;
    
            .list-item:nth-child(4),
            .list-item:nth-child(5) {
                @include decoration('notes/free.svg', after) {
                    top: -12px;
                    right: -78px;
                    width: 63px;
                    height: 44px;
                }
            }
        }
    }
}