.page-template-page-courses-adults,
.page-template-page-courses-children {
    .main-section {
        &__description {
            max-width: 460px;
        }
    }

    .formats {
        &__header {
            max-width: 860px;
        }
    
        @include breakpoint($breakpoint-lg) {
            &__header {
                max-width: 650px;
            }
        }
    
        @include breakpoint($breakpoint-xxs) {
            &__header {
                max-width: 550px;
            }
        }
    }
    
    .courses {
        &__header {
            max-width: 560px;
        }
    
        @include breakpoint($breakpoint-lg) {
            &__header {
                max-width: 440px;
            }
        }
    }
}