@use 'styles/mq';

.page-template-page-courses-adults,
.page-template-page-courses-children {
    .main-section {
        --description-max-width: 460px;
    }

    .formats {
        @include mq.to(md) {
            --header-max-width: 550px;
        }
    
        @include mq.from(md) {
            --header-max-width: 650px;
        }

        @include mq.from(lg) {
            --header-max-width: 860px;
        }
    }
    
    .courses {
        @include mq.from(md) {
            --header-max-width: 400px;
        }

        @include mq.from(lg) {
            --header-max-width: 550px;
        }
    }
}