.single-course {
    .main-section {
        &__title {
            max-width: 680px;
        }

        &__description {
            max-width: 510px;
        }
    }

    .about {
        &__container {
            gap: 80px;
        }

        &__header,
        &__content {
            flex: 1;
        }

        &__content {
            p + p {
                margin-top: 10px;
            }
        }
    }

    .course-formats {
        .card {
            &__body {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &__content {
                margin-top: auto;
                padding-right: 30px;
            }
        }
    }
}