@use 'styles/mq';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.course-children {
    .course-facts {
		.fact-card {
			padding-right: 110px;
		}
	}
}

.request-lesson {
	&__content {
		display: flex;
		gap: 20px;
	}

	@include mq.to(md) {
		padding: 20px;

		&__content {
			flex-direction: column;
		}

		.card {
			background-color: inherit;
			padding: 0;
		}
	}

	@include mq.from(md) {
		padding: 30px;

		.list {
			@include decoration('notes/free-2.svg') {
				bottom: 0;
				right: 0;
				width: 200px;
				height: 117px;
			}
		}

		.card {
			padding: 30px;
			background-color: #ffdf76;
		}
	}

	@include mq.from(lg) {
		padding: 40px;

		.list {
			width: 360px;
		}

		.card {
			width: 568px;
			padding: 40px;
		}
	}

	@include mq.from(xl) {
		padding: 50px;

		.card {
			width: 568px;
			padding: 50px;
		}
	}
}

.online-video {
	margin-bottom: 180px;
	background-color: $purple;
	color: $white;

	&__container {
		&::before {
			content: '';
			position: absolute;
			width: 234px;
			height: 104px;
			top: 200px;
			left: 331px;
			background-image: url('./static/images/decoration/notes/only-2-min.svg');
			background-size: contain;
		}
	}

	&__description {
		max-width: 350px;
	}

	&__media {
		&::before {
			content: none;
		}
	}

	@include breakpoint($breakpoint-xl) {
		&__container {
			&::before {
				top: 260px;
				left: 240px;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		&__container {
			&::before {
				left: 180px;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__container {
			padding-bottom: 40px;

			&::before {
				top: 150px;
				left: 190px;
			}
		}

		&.progress-video-section {
			.video-section__info {
				max-width: 320px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__container {
			&::before {
				top: initial;
				bottom: 215px;
				left: 35%;
				width: 171px;
				height: 70px;
				background-image: url("./static/images/decoration/notes/only-2-min-2.svg");
			}
		}

		&.progress-video-section {
			.video-section__info {
				margin-bottom: 10px;
			}
		}
	}
}

.course-fesults {
	&__header {
		max-width: 700px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 35px;

		.image {
			flex-basis: 33%;
		}

		.card {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
			padding: 40px 100px;

			&__body {
				padding: 0;
			}

			.btn {
				margin: 0 auto;
			}
		}
	}
}

.progress-video {
	@include breakpoint($breakpoint-sm) {
		&__header {
			max-width: 320px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__header {
			margin-bottom: 10px;
		}
	}
}

.course-progress {
	&__title {
		max-width: 1000px;
	}

	&__description {
		max-width: 500px;
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			max-width: 700px;
		}
	}
	@include breakpoint($breakpoint-xxs) {
		&__title {
			max-width: 460px;
			margin-bottom: 15px;
		}

		.slider {
			width: calc(100% + 15px);
		}

		.slider__arrows,
		.slider__pagination {
			display: none;
		}

		.swiper-wrapper {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.course-teachers {
	padding: 55px 60px 60px;
	background-color: $purple;
	color: $white;

	&__title {
		max-width: 750px;
		margin-bottom: 20px;
	}

	&__description {
		max-width: 500px;
	}

	.slider {
		margin-bottom: 20px;
	}

	.text-card {
		justify-content: flex-start;
		padding-right: 25px;
		padding-top: 200px;

		.card__title {
			max-width: 260px;
		}

		.card__description {
			
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			max-width: 500px;
		}

		&__cards {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-md) {
		padding: 30px;

		.text-block {
			padding: 140px 20px 20px;

			.text-block__title {
				font-size: 16px;
				line-height: 18px;
				font-weight: 800;
				max-width: 180px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		padding: 25px;

		.slider {
			width: calc(100% + 25px);
			margin-bottom: 15px;

			&__arrows {
				display: none;
			}
		}

		.swiper-wrapper {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__cards {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		padding: 20px;

		.slider {
			width: calc(100% + 25px);
		}

		.text-block {
			padding-top: 70px;
		}

		&__cards {
			flex-wrap: wrap;
		}
	}
}