@use 'global' as *;
@use 'mq';

.course-children {
    .course-facts {
		@include mq.from(lg) {
			.fact-card {
				padding-right: 200px;
			}
		}
	}
}

.request-lesson {
	&__content {
		display: flex;
		gap: 20px;
	}

	@include mq.to(md) {
		padding: 20px;

		&__content {
			flex-direction: column;
		}

		.card {
			background-color: inherit;
			padding: 0;
		}
	}

	@include mq.from(md) {
		padding: 30px;

		&__content {
			align-items: flex-start;
			justify-content: space-between;
		}

		.list {
			@include decoration('notes/free-2.svg') {
				top: 120%;
				right: 0;
				width: 200px;
				height: 117px;
			}
		}

		.card {
			padding: 30px;
			background-color: #ffdf76;
		}
	}

	@include mq.from(lg) {
		padding: 40px;

		.list {
			width: 360px;
		}

		.card {
			width: 568px;
			padding: 40px;
		}
	}

	@include mq.from(xl) {
		padding: 50px;

		.card {
			width: 568px;
			padding: 50px;
		}
	}
}

.online-video {
	--description-max-width: 350px;
}

.course-fesults {
	--header-max-width: 700px;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;

		.card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			padding: 20px;

			&__body {
				padding: 0;
			}

			.btn {
				margin: 0 auto;
			}
		}
	}

	@include mq.to(md) {
		.image {
			aspect-ratio: 16 / 9;
		}
	}

	@include mq.from(md) {
		&__content {
			flex-direction: row;
		}

		.image {
			flex-basis: 33%;
		}

		.card {
			width: 100%;
			padding: 30px 60px;
		}
	}

	@include mq.from(lg) {
		.card {
			padding: 40px 80px;
		}
	}
}

.course-teachers {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.slider {
		--slider-pagination-color: #{$white};
	}

	@include mq.to(md) {
		padding: 20px;

		.slider {
			&__arrows {
				display: none;
			}
		}

		.teacher-card {
			flex-direction: column;
		}

		.text-card {
			padding-right: 100px;
		}
	}

	@include mq.from(sm) {
		.teacher-card {
			display: flex;
			flex-direction: row;

			.card__media {
				width: 40%;
			}
		}
	}

	@include mq.from(md) {
		--title-max-width: 500px;

		padding: 30px;

		.teacher-card {
			.card__media {
				width: 25%;
			}
		}

		.text-card {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-top: 140px;
		}
	}

	@include mq.from(lg) {
		--title-max-width: 750px;
		--description-max-width: 500px;

		padding: 50px;

		.text-card {
			padding-top: 150px;
	
			.card__title {
				max-width: 260px;
			}
		}
	}
}

.course-parents-testimonials {
	@include mq.to(md) {
		--title-max-width: 460px;
	}

	@include mq.from(md) {
		--title-max-width: 700px;
	}

	@include mq.from(lg) {
		--title-max-width: 1000px;
		--description-max-width: 500px;
	}

	.card {
		.card__description +
		.card__description {
			display: none;
		}

		.card__description {
			.link {
				margin-top: 1rem;
			}
		}
	}
}

.progress-video {
	.video__media {
		&::after {
			background-image: image('elements/video-frame_white.svg');
		}
	}
}

#content-modal {
	.card__description:first-of-type {
		display: none;
	}
}