.course-children {
    .advantages {
		.grid {
			grid-template-rows: 1fr 1fr;
		}

        .card {
			padding-right: 182px;

            &__title {
				max-width: unset;
                font-size: 18px;
                line-height: 20px;
            }

            &__description {
				margin-top: 1rem;
            }
        }
    }
}

.online-video {
	margin-bottom: 180px;
	background-color: $purple;
	color: $white;

	&__container {
		&::before {
			content: '';
			position: absolute;
			width: 234px;
			height: 104px;
			top: 200px;
			left: 331px;
			background-image: url('./static/images/decoration/notes/only-2-min.svg');
			background-size: contain;
		}
	}

	&__description {
		max-width: 350px;
	}

	&__media {
		&::before {
			content: none;
		}
	}

	@include breakpoint($breakpoint-xl) {
		&__container {
			&::before {
				top: 260px;
				left: 240px;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		&__container {
			&::before {
				left: 180px;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__container {
			padding-bottom: 40px;

			&::before {
				top: 150px;
				left: 190px;
			}
		}

		&.progress-video-section {
			.video-section__info {
				max-width: 320px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__container {
			&::before {
				top: initial;
				bottom: 215px;
				left: 35%;
				width: 171px;
				height: 70px;
				background-image: url("./static/images/decoration/notes/only-2-min-2.svg");
			}
		}

		&.progress-video-section {
			.video-section__info {
				margin-bottom: 10px;
			}
		}
	}
}

.course-fesults {
	&__header {
		max-width: 700px;
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 35px;

		.image {
			flex-basis: 33%;
		}

		.card {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
			padding: 40px 100px;

			&__body {
				padding: 0;
			}

			&__title {
				@include heading('xs', 800);
			}

			.btn {
				margin: 0 auto;
			}
		}
	}
}

.request-lesson {
	padding: 55px 60px 60px;

	&__header {
		@include decoration('notes/free-2.svg') {
			bottom: 0;
			right: 0;
			width: 200px;
			height: 117px;
		}
	}

	.list {
		width: 360px;
	}

	.card {
		width: 568px;
		padding: 50px;
		background-color: #ffdf76;
	}

	@include breakpoint($breakpoint-lg) {
		padding: 40px;
	}

	@include breakpoint($breakpoint-sm) {
		&__content {
			flex-direction: column;
		}

		.list {
			width: 80%;
			margin-left: 35px;

			&::after {
				display: none;
			}
		}

		.card {
			width: 100%;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		padding: 30px;

		.card {
			padding: 25px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.card {
			background-color: inherit;
			padding: 0;
		}
	}
}

.progress-video {
	@include breakpoint($breakpoint-sm) {
		&__header {
			max-width: 320px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__header {
			margin-bottom: 10px;
		}
	}
}