@use 'styles/mq';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.single-format,
.page-template-page-format {
    .about-format,
    .about-lessons {
        @include mq.from(md) {
            &__header,
            &__content {
                width: 50%;
            }
        }
    }

    .format-facts {
        --header-max-width: 450px;
    
        .card {
            padding-right: 120px;
        }

        .text {
            max-width: 650px;
            margin: 2rem auto 0;
        }
    }

    .format-video {
        // TODO: Adjust caption position
    }

    .format-features {
        --header-max-width: 530px;
    }

    .online-class {
        --header-max-width: 540px;
    
        @include mq.to(md) {
            --content-max-width: 350px;

            &__container {
                flex-wrap: wrap;
            }
        }
    
        @include mq.from(md) {
            --content-max-width: 440px;
        }

        @include mq.from(lg) {
            --content-max-width: 500px;
        }
    }
}