@use 'styles/components/text';
@use 'styles/mixins';
@use 'styles/mq';
@use 'styles/theme';
@use 'styles/variables';

#main-page {
    .hero {
		flex-direction: column;
		padding-right: 0;
		padding-bottom: 0;

		&__content {
			ul {
				margin-left: 25px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				
				li {
					strong {
						color: variables.$yellow;
					}

					@include mixins.decoration('icons/rhomb.svg', before) {
						display: inline-block;
						width: 10px;
						height: 18px;
						top: 50%;
						left: -20px;
						transform: translateY(-50%);
					}
				}
			}
		}

		@include mq.to(sm) {
			&__image {
				width: 120%;
				left: -20%;
			}
		}

		@include mq.to(md) {
			&__image {
				width: 110%;
				left: -10%;
			}
		}

		@include mq.from(md) {
			flex-direction: row;

			&__content {
				max-width: 35%;
			}

			&__image {
				width: 100%;
				left: unset;
			}

			@include mixins.decoration('notes/dream-team.svg', after) {
				bottom: 10%;
				right: -20%;
				width: 78px;
				height: 105px;
			}
		}
    }
}

.tangible-result {
    text-align: center;

    &__container {
        max-width: 876px;
    }

    &__description {
        max-width: 580px;
        margin: 0 auto;
    }

    @include mq.to(md) {
        display: none;
    }
}

.practice,
.dream-team,
.platform,
.atmosphere {
    background-color: variables.$white;
}

.practice,
.dream-team,
.platform {
	margin-bottom: 0;
}

.practice,
.dream-team,
.platform,
.atmosphere {
	padding: 25px;
}

.practice {
	padding-top: 40px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	@include mq.from(md) {
		&__header {
            max-width: 450px;
        }

		&__content {
			flex-direction: row;
			gap: 50px;
		}
	}

	@include mq.from(lg) {
		padding-top: 95px;
		padding-bottom: 30px;

		&__header {
			max-width: 570px;
		}
	
		&__content {
			gap: 100px;
		}
	
		.text {
			max-width: 380px;
		}
	}
}

.dream-team {
	border-radius: 0;

	&__content,
	&__info,
	&__details {
		display: flex;
		gap: 20px;
	}

	&__info {
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	@include mq.to(md) {
		&__content,
		&__details {
			flex-direction: column;
		}
	}

	@include mq.for(md) {
		&__video {
			display: none;
		}
	}

	@include mq.from(md) {
		&__content {
			align-items: flex-start;
			gap: 60px;
		}

		&__info,
		&__details {
			flex: 1;
		}
	}

	@include mq.to(lg) {
		&__list {
			padding: 25px;
			gap: 5px;
			background-color: variables.$pearl-white;
			@include theme.border-radius;
		}
	}

	@include mq.from(lg) {
		&__info {
			flex-basis: 40%;
		}

		&__details {
			flex-basis: 60%;
		}

		&__video {
			width: 150px;
		}

		&__list {
			padding: 0;
			gap: 20px;
			background-color: transparent;
		}
	}

	@include mq.from(xl) {
		&__video {
			width: 178px;
		}
	}

    .item {
		@include text.body1;

		&__heading {
			font-weight: 800;
		}

		@include mq.to(lg) {
			&__heading,
			&__description {
				display: inline;
			}
		}

		@include mq.from(lg) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			background-color: variables.$pearl-white;
			@include theme.border-radius;

			&__heading,
			&__description {
				width: 50%;
			}

			&__number {
				padding-right: 10px;
				font-size: 31px;
				line-height: 40px;
			}
		
			&__text {
				display: inline-block;
				max-width: 128px;
			}

			&:first-child &__description {
				max-width: 100px;
				margin-right: auto;
			}
		}

		@include mq.from(xl) {
			padding: 30px;

			&__number {
				padding-right: 20px;
				font-size: 42px;
				line-height: 45px;
			}

			&__text {
				max-width: 150px;
			}
		}
    }
}

.platform {
	border-radius: 0;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@include mq.from(lg) {
		&__header {
			margin-bottom: 40px;
		}

		&__title {
			max-width: 490px;
		}
	
		&__description {
			max-width: 425px;
		}
	
		&__content {
			flex-direction: row;
			gap: 40px;
		}
	
		.image {
			width: 50%;
		}
	}
}

.atmosphere {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

	&__content,
	&__trip,
	&__celebration,
	&__celebration {
		display: flex;
	}

	.list {
		gap: 5px;
	}

	@include mq.to(lg) {
		&__content {
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}

		&__trip {
			flex-direction: column-reverse;
			gap: 10px;
		}

		&__celebration {
			.list {
				display: none;
			}

			.flex {
				gap: 15px;
			}

			figcaption {
				margin: 10px;
			}
		}
	}

	@include mq.to(md) {
		.list {
			position: absolute;
			bottom: 5px;
			left: 5px;
			flex-direction: column-reverse;
		}

		.list-item  {
			width: fit-content;
			max-width: none;
			border-radius: variables.$border-radius;
			padding: 8px 10px;
			background-color: variables.$white;
			@include text.body2($responsive: false);
		}

		figcaption {
			@include text.body2($responsive: false);
		}

        &__trip {
			position: relative;
		}

		&__celebration {
			width: calc(100% + 25px);
			padding-right: 25px;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			.video {
				min-width: 214px;
				max-height: 380px;
			}
		}
	}

	@include mq.from(md) {
		&__content {
			flex-direction: row;
		}

		&__trip {
			.image {
				width: 360px;
			}
		}

		&__celebration {
			.video {
				min-width: 212px;
				max-height: 380px;
			}
		}
	}

	@include mq.for(md) {
		&__content {
			overflow-x: auto;
			margin-right: -25px;
			padding-right: 25px;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	@include mq.from(lg) {
		&__content {
			flex-direction: column;
			gap: 20px;
		}

		.list-item {
			@include text.body1($weight: 700, $responsive: false);
		}

		&__trip {
			flex-direction: row;
			justify-content: space-between;

			.image {
				width: 640px;
			}
		}

		&__celebration {
			.flex {
				width: 640px;
				gap: 20px;
			}

			figure {
				flex: 1 1 176px;

				&:first-child {
					flex-basis: 274px;
				}
			}
		}
	}
}

.student-progress {
	@include mq.to(md) {
		&__container {
			padding: 0 20px;
		}
	}

	@include mq.from(md) {
		&__header {
			max-width: 480px;
		}
	}

	@include mq.from(lg) {
		margin-bottom: 130px;

		&__header {
			max-width: 640px;
		}

		&__description {
			max-width: 480px;
		}

		&__content {
			max-width: 1024px;
		}
	}
}

.courses {
	.course-card {
		&:nth-last-child(2) {
			height: auto;
			align-self: self-start;
		}
	}
}