#main-page {
    .hero {
        ul {
            color: $white;
            margin-left: 25px;
        
            li {
                position: relative;

                strong {
                    color: $yellow;
                }
        
                &::before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    left: -20px;
                    transform: translateY(-50%);
                    background: url("./static/images/icons/rhomb.svg") center
                        center/cover no-repeat;
                }
        
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        @include breakpoint($breakpoint-lg) {
            ul {
                font-size: 16px;
			    line-height: 18px;
            }
        }
    }

    .tangible-result {
        margin-bottom: 100px;
        text-align: center;

        .section__container {
            max-width: 876px;
        }
    
        .section__title {
            margin-bottom: 20px;
            font-size: 42px;
            font-weight: 700;
            line-height: 40px;
        }
    
        .section__description {
            max-width: 580px;
            margin: 0 auto;
        }
    
        @include breakpoint($breakpoint-lg) {
            margin-bottom: 70px;
        
            .section__title {
                max-width: 650px;
                margin: 0 auto 20px;
                font-size: 32px;
                line-height: 30px;
            }
        }
    
        @include breakpoint($breakpoint-xxs) {
            display: none;
        }
    }
}