@use 'global' as *;
@use 'mq';

#methodology-page {
    .main-section {
		--title-max-width: 880px;
		--description-max-width: 520px;
    }
}

.methodology-video {
	--header-max-width: 400px;
}

.methodology-methods {
	.method-card {
		&:first-child {
			background-color: $violet;
		}

		&:last-child {
			background-color: $yellow;
		}

		.card__description {
			margin-bottom: 20px;
		}
	}

	// TODO: Adjust position
	.caption {
		position: absolute;
        top: -35%;
		right: 2%;
		width: 218px;
	}

	@include mq.to(md) {
		.flex {
			flex-direction: column;
		}

		.method-card {
			&:first-child {
				border-radius: 0;
				@include border-radius((top-left, top-right));
				padding-bottom: 40px;
			}

			&:last-child {
				margin-top: -20px;
			}
		}

		.caption {
			display: none;
		}
	}

	@include mq.from(md) {
		&__header {
			max-width: 620px;
		}

		.method-card {
			flex-basis: 50%;

			&:first-child {
				margin-right: -20px;
				z-index: 1;
			}
			
			&:last-child {
				padding-left: 50px;
				border-radius: 0;
				@include border-radius((top-right, bottom-right));
			}
		}

		.caption {
			right: 10%;
		}
	}

	@include mq.from(lg) {
		.caption {
			right: 13%;
		}
	}
}

.methodology-advantages {
	&__header {
		max-width: 700px;
	}

	.card {
		&__title {
			margin-top: unset;
		}

		@include mq.to(md) {
			&:nth-child(2)::before {
				display: none;
			}
		}

		@include mq.from(md) {
			&__title {
				max-width: 220px;
			}
		}
	}
}

.methodology-trial-lesson {
	@include mq.from(md) {
		.section {
			&__title {
				max-width: 365px;
			}
		
			&__description {
				max-width: 220px;
			}
		}
	}

	@include mq.from(lg) {
		.section__title {
			max-width: 430px;
		}
	}
}