#not-found-page {
    .main-section {
        &::before {
            content: '';
            display: block;
            margin: auto;
            width: 200px;
            height: 200px;
            background-image: url('./static/images/cat/cat-sad.png');
            background-size: contain;
        }
    }
}