#placement-test-page {
    #test-modal {
        .modal-dialog {
            padding: 0;
            max-height: calc(100% - 3.5rem);
            min-height: calc(100% - 3.5rem);
        }

        .modal-content {
            max-height: calc(100vh - 3.5rem);
            min-height: calc(100vh - 3.5rem);

            .modal-body {
                overflow-y: auto;
                padding: 0;
                display: flex;

                iframe {
                    flex: 1;
                }
            }
        }
    }
}