@use 'styles/mq';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

#prices-page {
    .main-section {
		--description-max-width: 340px;
    }

    .courses {
		@include mq.from(sm) {
			&__header {
				text-align: center;
			}
		}

		@include mq.from(lg) {
			&__title {
				max-width: 880px;
			}
		}
    }
}

.discounts {
	.card {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&::before {
			top: -5%;
			right: -5%;
			background-size: contain;
			background-position: right top;
		}
	}

	.asterisk-text {
		max-width: 700px;
		margin: 20px auto 0;
		text-align: center;
	}

	@include mq.to(lg) {
		.card {
			padding-right: 25%;
			
			&::before {
				
				width: 25%;
				height: 100%;
			}

			.caption {
				display: none;
			}
		}
	}

	@include mq.between(sm, lg) {
		&__header {
			position: absolute;
			width: calc(50% - 20px);
		}

		.grid {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'. a'
				'b c';

			:nth-child(1) {
				grid-area: a;
			}

			:nth-child(2) {
				grid-area: b;
			}

			:nth-child(3) {
				grid-area: c;
			}
		}

		.card {
			padding-right: 30%;

			&::before {
				top: -5%;
				right: -5%;
				width: 35%;
				height: 100%;
				background-size: contain;
				background-position: right top;
			}
		}
	}

	@include mq.from(lg) {
		&__header {
			text-align: center;
		}

		&__description {
			max-width: 400px;
			margin: 0 auto;
		}

		.card {
			padding-top: 50%;

			&::before {
				top: -5%;
				right: -10%;
				width: 100%;
				height: 50%;
			}

			.caption {
				position: absolute;
				top: 58px;
				left: 45px;
				max-width: 142px;
				color: $purple;
				font-size: 24px;
				line-height: 23px;
				transform: rotate(-15deg);
			}
		}

		.asterisk-text {
			margin-top: 30px;
		}
	}
}

.certificates {
	&__header {
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		gap: 20px;
	}

	@include mq.to(lg) {
		&__content {
			padding-bottom: 70px;
			flex-direction: column;	
		}

		.content {
			max-width: 420px;
		}

		.btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@include mq.from(lg) {
		&__header {
			margin-bottom: 30px;
		}

		&__content {
			gap: 40px;
		}

		.content,
		.image {
			width: 50%;
		}
		
		.btn {
			margin-top: 30px;
		}
	}
}