#prices-page {
    .main-section {
        &__description {
            max-width: 340px;
        }
    }

    .courses {
        &__title {
            max-width: 880px;
			margin: 0 auto 20px;
			text-align: center;
        }

        &__description {
            text-align: center;
			margin-bottom: 40px;
        }

        .tabs {
            margin: 0 auto;

            &__nav {
                margin: 0 auto 40px;
            }
        }
    }
}

.discounts {
	&__header {
		text-align: center;
		margin-bottom: 45px;
	}

	&__title {
		margin: 0 auto 20px;
	}

	&__description {
		max-width: 400px;
		margin: 0 auto;
	}

	.card {
		min-height: 370px;
		display: flex;
		flex-direction: column;
		padding: 0;
		justify-content: flex-end;

		&__subtitle {
			position: absolute;
			top: 58px;
			left: 45px;
			max-width: 142px;
			color: $purple;
			font-size: 24px;
			line-height: 23px;
			transform: rotate(-15deg);
		}
	}

	.asterisk-text {
		max-width: 680px;
		margin: 35px auto 0;
		text-align: center;
	}

	@include breakpoint($breakpoint-md) {
		&__header {
			text-align: left;
		}

		&__title {
			max-width: calc(50% - 7.5px);
			margin: 0 0 20px;
		}

		&__description {
			max-width: 200px;
			margin: 0;
		}

		.cards {
			margin-top: -85px;
			gap: 15px;
		}

		.card {
			min-height: 185px;

			&::after {
				display: none;
			}

			&:first-child {
				margin-left: calc(50% + 7.5px);
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__description {
			max-width: none;
			margin-bottom: 20px;
		}

		.cards {
			margin-top: 0;
		}

		.card {
			&:first-child {
				margin-left: 0;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__title {
			max-width: none;
		}

		.card {
			padding-right: 65px;

			&__title {
				max-width: 130px;
			}
		}
	}
}

.certificates {
	&__container {
		justify-content: space-between;
	}

	&__header {
		max-width: 700px;
		margin-bottom: 30px;
	}

	&__content {
		display: flex;
		gap: 40px;
	}

	.content {
		max-width: 470px;

		.btn {
			margin-top: 30px;
		}
	}

	.image {
		display: block;
		width: 638px;
		height: 286px;
		margin: -25px -45px 0 0;
		object-fit: cover;
	}

	@include breakpoint($breakpoint-md) {
		&__content {
			flex-direction: column;
		}

		&__text {
			margin-bottom: 50px;
			max-width: none;
		}

		&__img {
			width: 100%;
			height: 100%;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__text {
			max-width: 470px;
		}
	}
}