#progress-page {
    .main-section {
        &__title {
            max-width: 680px;
        }

        &__description {
            max-width: 750px;
        }
    }
}

.student-results {
    &__header {
        text-align: center;
        margin-bottom: 65px;
    }

    &__title {
        max-width: 720px;
        margin: 0 auto 20px;
    }

    &__description {
        max-width: 600px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .btn {
        margin: 0 auto;
    }

    @include breakpoint($breakpoint-lg) {
        &__header {
            margin-bottom: 40px;
        }
    }

    @include breakpoint($breakpoint-md) {
        &__content {
            gap: 15px;
        }
    }

    @include breakpoint($breakpoint-xs) {
        &__header {
            margin-bottom: 30px;
        }
    }
}