@use 'mq';

#progress-page {
    .main-section {
        @include mq.to(md) {
            --title-max-width: 300px;
        }

        @include mq.for(md) {
            --title-max-width: 360px;
            --description-max-width: 600px;
        }

        @include mq.from(lg) {
            --title-max-width: 460px;
            --description-max-width: 700px;
        }
    }
}

.student-results {
    &__header {
        text-align: center;
    }

    &__title,
    &__description {
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        max-width: 720px;
    }

    &__description {
        max-width: 600px;
    }

    .btn {
        margin: 0 auto;
    }
}