#events-page {
    .mainscreen {
        padding: 68px 0 0 106px;
		background-image: url('./static/images/mainscreens/mainscreen-8.jpg');

		&__title {
			margin-bottom: 38px;
		}

        @include breakpoint($breakpoint-xl) {
            &__image {
                width: 1100px;
            }
        }

        @include breakpoint($breakpoint-md) {
            .btn {
                margin-top: 50px;
                min-width: 267px;
            }

            &__image {
                width: 900px;
            }
        }

        @include breakpoint($breakpoint-sm) {
            &__title {
                margin-bottom: 20px;
            }

            .btn {
                margin-top: 20px;
            }

            &__image {
                width: 800px;
            }
        }

        @include breakpoint($breakpoint-xxs) {
            &__content {
                max-width: 440px;
            }

            &__image {
                width: 145%;
            }
        }

        @include breakpoint($breakpoint-mobile) {
            padding: 40px 0 0 38px;
            height: 671px;

            &__image {
                right: auto;
                left: -80%;
                width: 800px;
            }
        }

        @include breakpoint($breakpoint-sm-mobile) {
            padding: 25px 0 0 25px;
    
            &__image {
                right: -40px;
                left: auto;
                width: 800px;
            }
        }
    }
}