#speaking-club-page {
    .section-image {
        &::before {
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 0;
        }

        .info {
            color: white;

            .description {
                color: white;
            }
        }
    }
}

.single-event {
    .event-image {
        max-width: 500px;
        width: 100%;
    }
    
    .event-subtitle {
        margin-top: 1em;
    }
    
    .event-details {
        margin-bottom: 1.5em;
        
        li {
            margin: 1em 0;
        }
        
        .fa-li {
            margin-top: 3px;
            color: white;
            background-color: $sy-primary;
            width: 30px;
            height: 30px;
            padding-top: 7px;
            border-radius: 100%;
            margin-top: 0;
            top: -3px;
        }
    }
    
    .fa {
        margin-right: .5em;
    }

}