@use 'global' as *;

#events-page {
    .hero {
        padding: 68px 0 0 106px;
		background-image: image('mainscreens/mainscreen-8.jpg');

		&__title {
			margin-bottom: 38px;
		}

        @include breakpoint($breakpoint-xl) {
            &__image {
                width: 1100px;
            }
        }

        @include breakpoint($breakpoint-md) {
            .btn {
                margin-top: 50px;
                min-width: 267px;
            }

            &__image {
                width: 900px;
            }
        }

        @include breakpoint($breakpoint-sm) {
            &__title {
                margin-bottom: 20px;
            }

            .btn {
                margin-top: 20px;
            }

            &__image {
                width: 800px;
            }
        }

        @include breakpoint($breakpoint-xxs) {
            &__content {
                max-width: 440px;
            }

            &__image {
                width: 145%;
            }
        }

        @include breakpoint($breakpoint-mobile) {
            padding: 40px 0 0 38px;
            height: 671px;

            &__image {
                right: auto;
                left: -80%;
                width: 800px;
            }
        }

        @include breakpoint($breakpoint-sm-mobile) {
            padding: 25px 0 0 25px;
    
            &__image {
                right: -40px;
                left: auto;
                width: 800px;
            }
        }
    }

    .img-comment {
        .appeal {
			&__title {
				max-width: 510px;
			}

			&__text {
				padding-left: 0;

				&::before,
				&::after {
					content: none;
				}
			}
		}

		&__img {
			left: -7px;
		}

		&__picture {
			min-height: 450px;

			background-color: $purple;

			&::before {
				top: 45px;
				right: 30px;
				width: 143px;
				height: 151px;
				background: url("./static/images/decoration/notes/casey-speaker.svg")
					center center/contain no-repeat;
			}
		}

        @include breakpoint($breakpoint-md) {
            &__picture {
                min-height: 350px;
    
                &::before {
                    top: 15px;
                    right: 13px;
                    width: 109px;
                    height: 115px;
                }
            }
        }
    
        @include breakpoint($breakpoint-xxs) {
            &__picture {
                min-height: 165px;
    
                &::before {
                    width: 122px;
                    height: 130px;
                    top: 20px;
                    left: auto;
                    right: 25%;
                    transform: rotate(8deg);
                }
            }
        }

        @include breakpoint($breakpoint-mobile) {
            .appeal {
				&__title {
					margin-bottom: 272px;
					max-width: 90%;
				}
			}

			&__picture {
				min-height: 215px;
				top: initial;
				bottom: 38%;

				&::before {
					right: 50px;
					transform: none;
				}
			}
        }

        @include breakpoint($breakpoint-sm-mobile) {
            &__picture {
				&::before {
					width: 95px;
					height: 100px;
					right: 25px;
				}
			}

			&__img {
				width: 160px;
				height: 181px;
				left: 9px;
			}
        }
    }

    .tabs {
        &__nav {
            max-width: 100%;
			margin-bottom: 45px;

            @include breakpoint($breakpoint-lg) {
				margin-bottom: 15px;
			}
        }
        
        .tab {
            width: 33%;
				margin-right: 0;

				&:first-of-type {
					border-radius: $border-radius 0 0 $border-radius;
				}

				&:last-of-type {
					border-radius: 0 $border-radius $border-radius 0;
				}

				&--active {
					color: $white;
					background-color: $purple;
				}
        }
    }

    .video-section {
        background-color: $yellow;

        &::before {
			background-image: url("./static/images/decoration/notes/only-1.5-min.svg");
		}

		&__info {
			max-width: 450px;
		}

        @include breakpoint($breakpoint-md) {
            &__info {
				max-width: 350px;
			}
        }

        @include breakpoint($breakpoint-sm) {
            &::before {
				top: 145px;
				left: 25%;
				width: 207px;
				height: 94px;
			}
        }

        @include breakpoint($breakpoint-xxs) {
            &::before {
				top: auto;
				bottom: 220px;
				left: 35%;
				width: 171px;
				height: 70px;
				background-image: url("./static/images/decoration/notes/only-1.5-min-3.svg");
			}
        }
    }
}

.speaking-club-reasons {
    &__title {
        max-width: 273px;
        margin-bottom: 20px;
    }

    .card {
        justify-content: flex-start;
    }
}