.single-teacher { 
    .page {
        .nav {
            justify-content: center;
            margin: 2rem 0;
        }

        .info {
            padding: 0;
        }
    }

    .teacher-section {
        > .media {
            margin-top: 0;
            border-bottom: 0;

            .media-image {
                margin-right: 1rem;
                max-width: 36px;
            }
    
            .title {
                margin-top: 0;
                margin-bottom: .5rem;
            }
        }
    }

    #teacher-experience {
        margin-top: 2rem;
    }

    #teacher-testimonials {
        .media {
            article.media {
                margin-left: 0;

                .title {
                    small {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }

    #video {
        .card {
            max-width: 640px;
            margin: auto;
        }
    }
}