#teachers-page {
    .teachers {
        &__title {		
            max-width: 881px;
            margin: 0 auto 15px;
            text-align: center;
        }
    
        &__description {
            max-width: 630px;
            margin: 0 auto 10px;
            text-align: center;
        }
    
        .tabs {
            margin: 35px auto 40px;
    
            &__nav {
                margin: 0 auto 40px;
            }
    
            &__tab {
                @include breakpoint($breakpoint-md) {
                    max-width: 520px;
                }
    
                @include breakpoint($breakpoint-sm-mobile) {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
        }
    
        .grid {
            margin-bottom: 40px;
        }
    
        .teacher-card {
            .card__img {
                aspect-ratio: 1 / 1;
            }
    
            .card__title {
                font-weight: 800;
                margin-bottom: 5px;
            }
    
            .card__description {
                margin-bottom: 20px;
            }
    
            .btn {
                margin-bottom: auto;
            }
        }
    
        .btn {
            margin: 0 auto;
        }
    }
}