#thank-you-page {
    .page {
        max-width: 1024px;
        margin: 3rem auto;
        text-align: center;

        .instagram-media {
            margin: 2rem auto 0 !important;
        }
    }
}