@use 'styles/components/heading';
@use 'styles/components/text';
@use 'styles/mixins';
@use 'styles/mq';
@use 'styles/variables';

#vacancies-page {
    .main-section {
        &__description {
			max-width: 650px;
		}
    }
}

.vacancies-expectations {
	&__container {
		padding: 0 20px;
	}

	&__description {
		max-width: 530px;
	}

	@include mq.for(md) {
		&__header {
			width: calc(50% - 30px);
			position: absolute;
		}

		.grid {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				'. a'
				'b c'
				'd e';
		}
	}

	.fact-card {
        justify-content: flex-end;

		@include mq.to(md) {
			padding-right: 120px;
		}

		@include mq.for(md) {
			padding-right: 120px;

			&:nth-child(1) {
				grid-area: a;
			}
	
			&:nth-child(2) {
				grid-area: b;
			}
	
			&:nth-child(3) {
				grid-area: c;
			}
	
			&:nth-child(4) {
				grid-area: d;
			}
	
			&:nth-child(5) {
				grid-area: e;
			}
		}
    }
}

.vacancies-offers {
	@include mq.to(md) {
		margin-left: -10px;
		padding: 20px;
		margin-right: -10px;
		border-radius: 0;

		&__container {
			padding: 10px;
		}
	}

	@include mq.from(md) {
		padding: 30px;
	}
	
	@include mq.from(lg) {
		padding: 40px;
	}

	.card {
		&__content {
			@include text.body1;
		}

		@include mq.from(md) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.vacancies-steps {
	// TODO: Move to section
	&__container {
		padding: 0 20px;
	}

	@include mq.to(lg) {
		&__container {
			flex-direction: column;
		}
	}

	@include mq.from(lg) {
		&__header {
			min-width: 360px;
		}
	}

	.card {
		@include mq.to(lg) {
			padding-right: 30%;
		}

		// TODO: Move to text-card
		&::before {
			background-size: contain;
			background-position: top center;
			height: 100%;
			width: 40%;
			top: -10px;
			right: -10%;
		}
	}
}

.vacancies-action {
    &__container {
        max-width: unset;
    }

	&__header {
		// TODO: Move to section
		max-width: 1156px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}

	@include mq.from(md) {
		&__title,
		&__description {
			max-width: 560px;
		}
	}
}

.vacancies-cta {
	@include mixins.decoration('elements/letter-sending.svg', before) {
		bottom: -20px;
		left: -60px;
		width: 262px;
		height: 274px;
	}

	@include mixins.decoration('elements/statue-of-liberty.svg', after) {
		bottom: -25px;
		right: 35px;
		width: 124px;
		height: 251px;
	}
}