{% extends 'pages/formats/format.twig' %}

{% set sections = {
    about_format: {
        title: 'Наша школа предлагает индивидуальные онлайн уроки под ваши цели и темп обучения.',
        content: [
            'Обучение проходит на платформе школы или в Zoom с русскоязычными преподавателями или носителями языка.',
            'Мы делаем ставку на живое общение и программу, которую учитель адаптирует лично под вас. В индивидуальном обучении студент практикует речь 80% времени.'
        ]
    },
    format_facts: {
        title: 'Коротко об индивидуальном онлайн обучении*',
        items: [
            {
                image: 'lightning',
                title: 'Интенсивность  обучения',
                description: 'По желанию студента'
            },
            {
                image: 'clock',
                title: 'Длительность занятия',
                description: '50 минут'
            },
            {
                image: 'calendar',
                title: 'Расписание занятий',
                description: 'По желанию студента'
            },
            {
                image: 'levels-2',
                title: 'Продолжительность уровня',
                description: 'От 6 до 9 месяцев'
            },
            {
                image: 'rubles',
                title: 'Стоимость занятий',
                description: 'От 950 ₽/урок'
            }
        ]
    },
    format_features: {
        title: 'Особенности индивидуального онлайн обучения в SAY YES!',
        items: [
            {
                title: 'Занятия по удобному расписанию',
                description: 'Занятия рано утром или поздно вечером? Мы постараемся подобрать удобное для вас время уроков.'
            },
            {
                title: 'Закрепление материала на онлайн платформе',
                description: 'Наша онлайн платформа позволяет вам выполнять домашку в удобном виде, интерактивно и эффективно.'
            },
            {
                title: 'Гибкая система оплаты',
                description: 'Пакетная оплата обучения от 5 до 60 уроков с возможностью переноса занятий и заморозки.'
            },
            {
                title: 'Возможность экономии',
                description: 'Приобретайте пакет из бóльшего количества уроков и получайте выгоду до 30%!'
            }
        ]
    },
    format_testimonials: {
        title: 'Отзывы об индивидуальном онлайн обучении',
        description: 'За 10 лет работы, обучили более 10 000 человек и получили более 800 отзывов',
        items: [
            {
                score: '4,6',
                stars: '5.5',
                company: 'ZOON',
                link: '#',
                reviews: [
                    {
                        author: 'Богучарова Каролина',
                        date: '14 октября 2020, 11:04',
                        content: [
                            'Мне нужно было срочно, в самые сжатые сроки подтянуть английский. От этого зависели мои карьерные перспективы. Say Yes выбрала по отзывам в интернете. Мне предложили на выбор обучение в группе или индивидуальную программу, но так как мне требовался быстрый результат, я решила выбрать именно индивидуальное обучение. Не думала, что такое возможно, особенно по скайпу, но буквально за два месяца обучения я сама заметила прогресс. У меня в разы увеличился словарный запас, я не боюсь говорить по-английски даже с носителями, понимаю на слух. Очень здорово проходят занятия, мой преподаватель Анастасия ...'
                        ]
                    },
                    {
                        author: 'Емельянова Юлия',
                        date: '17 декабря 2019, 14:56',
                        content: [
                            'В восторге от занятий с Полиной. Занимаюсь уже полгода на индивидуальных занятиях, очень нравится планирую продолжать и свободно говорить на английском:)'
                        ]
                    }
                ]
            },
            {
                company: 'Schooltate',
                score: '85',
                stars: '5.5',
                link: '#',
                reviews: [
                    {
                        author: 'Лифанов Сергей',
                        date: '25 октября 2022',
                        content: [
                            'Занимаюсь в Say Yes уже пару лет, всё нравится.',
                            'Много преподавателей, найдёте себе преподавателя и собеседника по душе.',
                            'Приемлемая цена занятий, интересная программа, рекомендовал своим друзьям и родственникам эту школу, и никто не пожалел!'
                        ]
                    },
                    {
                        author: 'Ахмыстова Екатерина',
                        date: '25 сентября 2020',
                        content: [
                            'Я занимаюсь в школе Say Yes онлайн несколько месяцев, по одному разу в неделю. Занимаюсь просто для себя, не преследуя каких либо глобальных целей. Первое время параллельно занималась еще в одной школе, но в итоге осталась здесь, так как увидела больше пользы. Мне очень комфортно с моим преподавателем Дариной. Уроки проходят легко и непринужденно- как с подружкой болтаем, только по-английски.'
                        ]
                    }
                ]
            },
            {
                company: 'Yandex',
                score: '5.0',
                stars: '5.5',
                link: '#',
                reviews: [
                    {
                        author: 'Любовь Черникова',
                        date: '4 марта 2022',
                        content: [
                            'Сначала занималась в школе очно - весело, интенсивно, продуктивно. Спустя время рабочий график стал напряженным, поэтому перешла на более комфортный вариант индивидуальных занятий онлайн. Сейчас занимаюсь с Полиной Юдиной в своем темпе, согласно своим запросам. Полина чудесна: придумывает интерактивные языковые игры, блюдет баланс грамматики/лексики, помогает прокачивать разговорные навыки! Я довольна!'
                        ]
                    },
                    {
                        author: 'Venera',
                        date: '8 февраля 2023',
                        content: [
                            'Большое спасибо преподавателю школы Сабине! Об уровне школы я уже знала, обратилась по рекомендации. Английский со временем и без разговорной практики ушел в пассив, Сабина нашла способ пассив превратить в актив! Мы занимались индивидуально онлайн (для меня это идеальный формат), и Сабина была знающим и комфортным спутником на полтора часа занятия. Особенно было приятно обсуждать не какие-то абстрактные темы, что зачастую предлагаются при обучении, а всегда что-то личное и интересующее именно тебя. Если вам есть что сказать, но вы забыли как это сделать по-английски, обращайтесь ...'
                        ]
                    }
                ]
            }
        ]
    },
    format_faq: {
        items: [
            {
                title: '1. Где проходят уроки онлайн?',
                description: 'Наши студенты могут заниматься в удобной для них программе: Skype, Zoom или же на нашей онлайн платформе.'
            },
            {
                title: '2. Как быстро я заговорю, занимаясь индивидуально?',
                description: 'Ваш прогресс будет зависеть от многих факторов: с какого уровня вы начали заниматься, сколько уроков в неделю планируете брать, готовы ли к дополнительной самостоятельной работе помимо уроков с учителем. В среднем один уровень занимает от 6 до 9 месяцев.'
            },
            {
                title: '3. Могу я сам выбрать себе преподавателя?',
                description: '<p>Наши менеджеры уточнят ваши цели обучения, предпочтительное расписание и смогут организовать пробные уроки с тем преподавателем, кто больше всего подойдет под ваш запрос.</p><p>Вы также можете ознакомиться с видео-визитками преподавательского состава и обозначить того, с кем бы вы хотели заниматься.</p>'
            },
            {
                title: '4. Я могу поменять преподавателя, если пойму, что мы не подходим друг другу во время обучения?',
                description: 'Да, мы уточним причины и обязательно предложим других кандидатов на пробные уроки.'
            },
            {
                title: '5. Могу я не делать домашнее задание? У меня нет на это времени.',
                description: 'Если вы хотите хорошего прогресса в английском, то это подразумевает самостоятельное закрепление материала. Но наш преподаватель учтет ваши пожелания и возможности и построит обучение наиболее эффективным образом. При этом срок обучения может увеличиться.'
            },
            {
                title: '6. Что будет, если я не смогу прийти на урок?',
                description: 'Мы перенесем ваш урок без потерь если вы предупредите своего преподавателя за 8 часов до занятия.'
            },
            {
                title: '7. Могу я оплатить обучение в рассрочку?',
                description: 'Предусмотрена рассрочка платежа на 20, 40 и 60 занятий: 50% предоплата, через 14 дней оставшиеся 50%.'
            }
        ]
    }
} %}