{% extends 'pages/formats/format.twig' %}

{% set sections = {
    about_format: {
        title: 'Наша школа предлагает индивидуальные офлайн уроки под ваши цели и темп обучения.',
        content: [
            'Занятия проходят в школе в Москве, либо в офисе клиента. Обучение проводят русскоязычные преподаватели и носители языка.',
            'Мы делаем ставку на живое общение и программу, которую учитель адаптирует лично под вас. В индивидуальном обучении студент практикует речь 80% времени.'
        ]
    },
    format_facts: {
        title: 'Коротко об индивидуальном офлайн обучении*',
        items: [
            {
                image: 'lightning',
                title: 'Интенсивность  обучения',
                description: 'По желанию студента'
            },
            {
                image: 'clock',
                title: 'Длительность занятия',
                description: '45 или 60 минут'
            },
            {
                image: 'calendar',
                title: 'Расписание занятий',
                description: 'По желанию студента'
            },
            {
                image: 'levels-2',
                title: 'Продолжительность уровня',
                description: 'От 6 до 9 месяцев'
            },
            {
                image: 'rubles',
                title: 'Стоимость занятий',
                description: 'От 1.550 ₽/урок'
            }
        ]
    },
    homework: true,
    format_features: {
        title: 'Особенности индивидуального офлайн обучения в SAY YES!',
        items: [
            {
                title: 'Занятия по удобному расписанию',
                description: 'Занятия рано утром или поздно вечером? Мы постараемся подобрать удобное для вас время уроков.'
            },
            {
                title: 'Закрепление материала на онлайн платформе',
                description: 'Наша онлайн платформа позволяет вам выполнять домашку в удобном виде, интерактивно и эффективно.'
            },
            {
                title: 'Гибкая система оплаты',
                description: 'Пакетная оплата обучения от 4 до 16 уроков с возможностью переноса занятий и заморозки.'
            },
            {
                title: 'ТОП преподаватели школы',
                description: 'Заниятия с ТОП преподавателями лично— залог вашего прогресса!'
            }
        ]
    },
    format_testimonials: {
        title: 'Отзывы об индивидуальном офлайн обучении',
        description: 'За ' ~ COMPANY_AGE ~ ' работы, обучили более 10 000 человек и получили более 800 отзывов',
        items: [
            {
                score: '4,6',
                stars: '5.5',
                company: 'ZOON',
                link: '#',
                reviews: [
                    {
                        author: 'Антон',
                        date: '19 декабря 2019, 17:23',
                        content: [
                            'В начале года решил, что пора вспомнить все забытое по английскому языку, пришел в SayYes по рекомендации коллеги, и уже через неделю начал заниматься. Удобные индивидуальные занятия с преподавателем (Мария) — можно выбрать дни, время и место. За год неплохо прокачал уровень, главное не останавливаться)'
                        ]
                    },
                    {
                        author: 'Емельянова Юлия',
                        date: '17 декабря 2019, 14:56',
                        content: [
                            'В восторге от занятий с Полиной. Занимаюсь уже полгода на индивидуальных занятиях, очень нравится планирую продолжать и свободно говорить на английском:)'
                        ]
                    }
                ]
            },
            {
                company: 'Schooltate',
                score: '85',
                stars: '5.5',
                link: '#',
                reviews: [
                    {
                        author: 'Натали',
                        date: '11 июля 2023',
                        content: [
                            'Потрясающие преподаватели! Сначала занималась в группе, после окончания решила продолжить и перешла на индивидуальные занятия. Для меня это просто победа, потому что я не просто хожу на занятия, я уже могу спокойно общаться, без страха, что меня не поймут. Буду дальше кочать свой английский, если вдруг решусь на переезд, то перейду в онлайн. Изучение английского у меня теперь только с Say Yes!'
                        ]
                    },
                    {
                        author: 'Мирских Анна',
                        date: '3 июля 2021',
                        content: [
                            'В школе Say Yes прохожу обучение уже около года, у лучшего в мире преподавателя Романа! Самое удивительное то, что несмотря на длительный период обучения не становится скучно и всегда с удовольствием посещаю занятия. Очень нравится то, что занятия выстроены на системном уровне: всегда даётся комплексное домашнее задание, на основе которого далее строится урок в классе. Отличный темп урока, время проходит легко и не заметно. Большое спасибо за тёплый подход к ученикам, и неравнодушное отношение к делу.'
                        ]
                    }
                ]
            },
            {
                company: 'Yandex',
                score: '5.0',
                stars: '5.5',
                link: '#',
                reviews: [
                    {
                        author: 'Фарида К.',
                        date: '10 июля 2023'
                        content: [
                            'Занимаюсь в этой школе уже второй год с Кристиной) Кристина - прекрасный преподаватель с великолепным подходом к студенту, всегда подбирает интересные для обсуждения темы, чтобы занятия проходили как игра или просто диалог с другом))🥰 Очень рада знакомству с ней, обязательно будем продолжать заниматься, чтобы увеличивать словарный запас и не растерять полученные знания))'
                        ]
                    },
                    {
                        author: 'Александра Скворцова',
                        date: '31 мая 2023'
                        content: [
                            'Хожу сюда уже 2 года, сейчас у меня лучший преподаватель Ульяна. Она использует разные методики для работы, актуализирует знания, подбирает на некоторых уроках материалы которые вам интересны, например сейчас мы разбираем интервью на англ Честера Бенингктона, потому что это мой любимый исполнитель. Ульяна постоянно работает над актцализацией знаний, помогает их использовать, вникает и грамотно разъясняет все детали. Соотношение цена качество супер, я довольна 👌'
                        ]
                    }
                ]
            }
        ]
    },
    format_faq: {
        items: [
            {
                title: '1. Где проходят уроки онлайн?',
                description: 'Наши студенты могут заниматься в удобной для них программе: Skype, Zoom или же на нашей онлайн платформе.'
            },
            {
                title: '2. Как быстро я заговорю, занимаясь индивидуально?',
                description: 'Ваш прогресс будет зависеть от многих факторов: с какого уровня вы начали заниматься, сколько уроков в неделю планируете брать, готовы ли к дополнительной самостоятельной работе помимо уроков с учителем. В среднем один уровень занимает от 6 до 9 месяцев.'
            },
            {
                title: '3. Могу я сам выбрать себе преподавателя?',
                description: '<p>Наши менеджеры уточнят ваши цели обучения, предпочтительное расписание и смогут организовать пробные уроки с тем преподавателем, кто больше всего подойдет под ваш запрос.</p><p>Вы также можете ознакомиться с видео-визитками преподавательского состава и обозначить того, с кем бы вы хотели заниматься.</p>'
            },
            {
                title: '4. Я могу поменять преподавателя, если пойму, что мы не подходим друг другу во время обучения?',
                description: 'Да, мы уточним причины и обязательно предложим других кандидатов на пробные уроки.'
            },
            {
                title: '5. Могу я не делать домашнее задание? У меня нет на это времени.',
                description: 'Если вы хотите хорошего прогресса в английском, то это подразумевает самостоятельное закрепление материала. Но наш преподаватель учтет ваши пожелания и возможности и построит обучение наиболее эффективным образом. При этом срок обучения может увеличиться.'
            },
            {
                title: '6. Что будет, если я не смогу прийти на урок?',
                description: 'Мы перенесем ваш урок без потерь если вы предупредите своего преподавателя за 8 часов до занятия.'
            },
            {
                title: '7. Могу я оплатить обучение в рассрочку?',
                description: 'Предусмотрена рассрочка платежа на 20, 40 и 60 занятий: 50% предоплата, через 14 дней оставшиеся 50%.'
            }
        ]
    }
} %}