{% extends 'pages/formats/format.twig' %}

{% set sections = {
    about: {
        title: 'Наша школа предлагает индивидуальные офлайн уроки под ваши цели и темп обучения.',
        content: [
            'Занятия проходят в школе в Москве, либо в офисе клиента. Обучение проводят русскоязычные преподаватели и носители языка.',
            'Мы делаем ставку на живое общение и программу, которую учитель адаптирует лично под вас. В индивидуальном обучении студент практикует речь 80% времени.'
        ]
    },
    facts: {
        title: 'Коротко об индивидуальном офлайн обучении*',
        items: [
            {
                image: 'lightning',
                title: 'Интенсивность  обучения',
                description: 'По желанию студента'
            },
            {
                image: 'clock',
                title: 'Длительность занятия',
                description: '45 или 60 минут'
            },
            {
                image: 'calendar',
                title: 'Расписание занятий',
                description: 'По желанию студента'
            },
            {
                image: 'levels-2',
                title: 'Продолжительность уровня',
                description: 'От 6 до 9 месяцев'
            },
            {
                image: 'rubles',
                title: 'Стоимость занятий',
                description: 'От 1.550 ₽/урок'
            }
        ]
    },
    homework: true,
    features: {
        title: 'Особенности индивидуального офлайн обучения в ' ~ COMPANY_NAME,
        items: [
            {
                title: 'Занятия по удобному расписанию',
                description: 'Занятия рано утром или поздно вечером? Мы постараемся подобрать удобное для вас время уроков.'
            },
            {
                title: 'Закрепление материала на онлайн платформе',
                description: 'Наша онлайн платформа позволяет вам выполнять домашку в удобном виде, интерактивно и эффективно.'
            },
            {
                title: 'Гибкая система оплаты',
                description: 'Пакетная оплата обучения от 4 до 16 уроков с возможностью переноса занятий и заморозки.'
            },
            {
                title: 'ТОП преподаватели школы',
                description: 'Заниятия с ТОП преподавателями лично— залог вашего прогресса!'
            }
        ]
    },
    testimonials: {
        title: 'Отзывы об индивидуальном офлайн обучении',
        items: format.testimonials_by_group
    },
    faq: {
        items: [
            {
                question: '1. Где проходят уроки онлайн?',
                answer: 'Наши студенты могут заниматься в удобной для них программе: Skype, Zoom или же на нашей онлайн платформе.'
            },
            {
                question: '2. Как быстро я заговорю, занимаясь индивидуально?',
                answer: 'Ваш прогресс будет зависеть от многих факторов: с какого уровня вы начали заниматься, сколько уроков в неделю планируете брать, готовы ли к дополнительной самостоятельной работе помимо уроков с учителем. В среднем один уровень занимает от 6 до 9 месяцев.'
            },
            {
                question: '3. Могу я сам выбрать себе преподавателя?',
                answer: '<p>Наши менеджеры уточнят ваши цели обучения, предпочтительное расписание и смогут организовать пробные уроки с тем преподавателем, кто больше всего подойдет под ваш запрос.</p><p>Вы также можете ознакомиться с видео-визитками преподавательского состава и обозначить того, с кем бы вы хотели заниматься.</p>'
            },
            {
                question: '4. Я могу поменять преподавателя, если пойму, что мы не подходим друг другу во время обучения?',
                answer: 'Да, мы уточним причины и обязательно предложим других кандидатов на пробные уроки.'
            },
            {
                question: '5. Могу я не делать домашнее задание? У меня нет на это времени.',
                answer: 'Если вы хотите хорошего прогресса в английском, то это подразумевает самостоятельное закрепление материала. Но наш преподаватель учтет ваши пожелания и возможности и построит обучение наиболее эффективным образом. При этом срок обучения может увеличиться.'
            },
            {
                question: '6. Что будет, если я не смогу прийти на урок?',
                answer: 'Мы перенесем ваш урок без потерь если вы предупредите своего преподавателя за 8 часов до занятия.'
            },
            {
                question: '7. Могу я оплатить обучение в рассрочку?',
                answer: 'Предусмотрена рассрочка платежа на 20, 40 и 60 занятий: 50% предоплата, через 14 дней оставшиеся 50%.'
            }
        ]
    }
} %}