.about {
	margin-bottom: 100px;
	
	.section__container {
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}

	.section__title {
		width: calc(48% - 25px);
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	.section__content {
		width: calc(52% - 25px);

		p + p {
			margin-top: 15px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.section__title {
			font-size: 32px;
			line-height: 30px;
		}
	}

	@include breakpoint($breakpoint-md) {
		gap: 35px;

		.section__title {
			width: calc(48% - 17.5px);
		}

		.section__content {
			width: calc(52% - 17.5px);
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		flex-direction: column;
		gap: 15px;

		.section__title {
			width: 100%;
			font-size: 26px;
			line-height: 25px;
		}

		.section__content {
			width: 100%;
		}
	}
}