.all-teachers {
	margin-bottom: 100px;

	.subtitle {
		max-width: 880px;
		margin-bottom: 20px;
	}

	.btn {
		margin: 0 auto;

		font-weight: 700;
	}

	.cards {
		margin-bottom: 40px;
	}

	&__description {
		max-width: 720px;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}