.atmosphere {
	background-color: $white;
	border-radius: 0 0 $border-radius $border-radius;
	padding: 50px 0 95px;
	margin-bottom: 150px;

	&__title {
		margin-bottom: 20px;
	}

	&__description {
		max-width: 570px;
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__trip,
	&__celebration {
		position: relative;
		display: flex;
		justify-content: space-between;

		&::after {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__trip {
		&-img {
			width: 665px;
			height: 360px;
			display: block;
			border-radius: $border-radius;
			object-fit: cover;
		}

		&::after {
			top: -120px;
			right: 150px;
			width: 92px;
			height: 102px;
			background-image: url('./static/images/decoration/notes/picnic.svg');
		}
	}

	&__celebration {
		&::after {
			top: 235px;
			left: 257px;
			width: 133px;
			height: 61px;
			background-image: url('./static/images/decoration/notes/celebrating-completion.svg');
		}
	}

	&__list {
		max-width: 207px;

		&-item {
			max-width: 180px;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}

	&__celebration-media {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 20px;

		.video {
			&__btn {
				right: 50%;
				transform: translateX(50%);
			}

			&:first-of-type {
				width: 274px;
			}

			&:last-of-type {
				width: 176px;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		&__description {
			max-width: 500px;
		}

		&__trip-img {
			width: 520px;
			height: 285px;
		}

		&__celebration-media {
			gap: 15px;

			.video {
				&:nth-of-type(1) {
					width: 215px;
				}

				&:nth-of-type(2) {
					width: 138px;
				}

				&:nth-of-type(3) {
					width: 138px;
				}
			}

		}
	}

	@include breakpoint($breakpoint-md) {
		&__trip {
			&::after {
				right: 60px;
			}
		}
		
		&__celebration {
			&::after {
				left: 150px;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__celebration {
			&::after {
				left: 30px;
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__content {
			width: calc(100% + 35px);
			padding-bottom: 30px;
			display: flex;
			flex-direction: row;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__trip-img {
			width: 327px;
			height: 175px;
			border-radius: $border-radius-sm;
		}

		&__trip &__list {
			position: absolute;
			bottom: 85px;
			left: 0;

			&-item {
				&:first-child {
					margin-bottom: 3px;
				}
			}
		}

		&__celebration {
			&::after {
				left: -170px;
			}
		}

		&__celebration &__list {
			&-item {
				position: absolute;
				bottom: -43px;

				&:first-child {
					max-width: 150px;
					left: 453px;
				}

				&:last-child {
					max-width: 100px;
					left: 226px;
				}
			}
		}

		.video {
			width: 212px;
			border-radius: $border-radius-sm;
		}

		&__celebration-img-2 {
			margin-right: 40px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}

	@include breakpoint($breakpoint-mobile) {
		&__content {
			display: block;
		}

		&__celebration {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__trip-img {
			width: 290px;
			height: 160px;
		}

		.video,
		&__celebration-img,
		&__celebration-img-2 {
			width: 214px;
			height: 395px;
		}

		&__list {
			display: flex;
			flex-direction: column-reverse;

			&-item {
				background-color: $white;
				border-radius: $border-radius;
				padding: 7px 10px;
				max-width: none;
				width: fit-content;
				font-size: 14px;
				line-height: 15px;
			}
		}

		&__trip &__list {
			bottom: 3px;
			left: 5px;

			&-item {
				&:last-child {
					margin-bottom: 5px;
				}
			}
		}

		&__celebration &__list {
			&-item {
				bottom: auto;
				top: 5px;
				width: 100%;
				z-index: 1;

				&:first-child {
					left: 463px;
					max-width: 168px;
				}

				&:last-child {
					left: 234px;
					max-width: 172px;
				}
			}
		}
	}
}