.atmosphere {
	background-color: $white;
	border-radius: 0 0 $border-radius $border-radius;
	padding: 50px 0 95px;
	margin-bottom: 150px;

	.subtitle {
		margin-bottom: 20px;
	}

	.video {
		overflow: hidden;
		margin-right: 20px;
		border-radius: $border-radius;

		.video__bg {
			border-radius: 0;
		}

		.play {
			right: 50%;
			transform: translateX(50%);
		}
	}

	&__description {
		max-width: 570px;

		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	&__trip {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		position: relative;
	}

	&__trip-img,
	&__celebration-img {
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
	}

	&__celebration-img-2 {
		width: 176px;
		height: 365px;
		border-radius: $border-radius;
	}

	&__trip-img {
		width: 666px;
		height: 360px;
	}

	&__celebration-img {
		width: 274px;
		height: 495px;
		margin-right: 20px;
	}

	&__trip-tip {
		position: absolute;
		top: -120px;
		right: 150px;
	}

	&__celebrations {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__celebrations-list {
		max-width: 207px;
	}

	&__celebrations-item {
		font-weight: 700;
		max-width: 180px;
		margin-bottom: 15px;
	}

	&__celebrations-images {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__celebrations-tip {
		position: absolute;
		top: 235px;
		left: 257px;
	}

	@include breakpoint($breakpoint-lg) {
		.video {
			width: 138px;
			height: 265px;
			margin-right: 15px;
		}

		&__description {
			max-width: 500px;
		}

		&__trip-img {
			width: 520px;
			height: 285px;
		}

		&__celebration-img {
			width: 215px;
			height: 385px;
			margin-right: 15px;
		}

		&__celebration-img-2 {
			width: 138px;
			height: 265px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__celebrations-tip {
			left: 150px;
		}

		&__trip-tip {
			right: 60px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__celebrations-tip {
			left: 30px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		.video {
			margin-right: 15px;
		}

		&__content {
			display: flex;
			overflow-x: auto;
			width: calc(100% + 35px);
			padding-bottom: 30px;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__trip {
			.atmosphere__celebrations-list {
				position: absolute;
				bottom: 85px;
				left: 0;

				.atmosphere__celebrations-item {
					&:first-child {
						margin-bottom: 3px;
					}
				}
			}
		}

		&__celebrations {
			.atmosphere__celebrations-item {
				position: absolute;
				bottom: -43px;

				&:first-child {
					max-width: 150px;
					left: 453px;
				}

				&:last-child {
					max-width: 100px;
					left: 226px;
				}
			}
		}

		&__trip-img {
			width: 327px;
			height: 175px;
			margin-right: 15px;
			border-radius: $border-radius-sm;
		}

		&__celebration-img {
			margin-right: 15px;
		}

		&__celebration-img-2 {
			margin-right: 40px;
		}

		.video,
		&__celebration-img,
		&__celebration-img-2 {
			width: 212px;
			height: 325px;
			border-radius: $border-radius-sm;
		}

		&__celebrations-tip {
			left: -170px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__content {
			display: block;
		}

		&__trip-img {
			width: 290px;
			height: 160px;
		}

		.video,
		&__celebration-img,
		&__celebration-img-2 {
			width: 214px;
			height: 395px;
		}

		&__celebrations-list {
			display: flex;
			flex-direction: column-reverse;
		}

		&__celebrations-item {
			background-color: $white;
			border-radius: $border-radius;
			padding: 7px 10px;
			max-width: none;
			width: fit-content;
			font-size: 14px;
			line-height: 15px;
		}

		&__trip {
			.atmosphere__celebrations-list {
				bottom: 3px;
				left: 5px;

				.atmosphere__celebrations-item {
					&:last-child {
						margin-bottom: 5px;
					}
				}
			}
		}

		&__celebrations {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			.atmosphere__celebrations-item {
				bottom: auto;
				top: 5px;
				z-index: 1;
				width: 100%;

				&:first-child {
					left: 463px;
					max-width: 168px;
				}

				&:last-child {
					left: 234px;
					max-width: 172px;
				}
			}
		}
	}
}
