@use 'global' as *;
@use 'components/heading';
@use 'components/text';
@use 'mq';

.awards {
	// TODO: Refactor to card
	&__container {
		padding: 0 20px;
	}

	&__header {
		max-width: 920px;
	}

	&__content {
		display: flex;
		gap: 20px;
	}

	@include mq.to(md) {
		&__content {
			flex-direction: column;
		}

		.grid {
			@include overflow(30px);
		}
	}

	@include mq.from(md) {
		&__content {
			align-items: flex-end;
		}

		.founders-card {
			min-width: 33%;
		}
	}
}

.award-card {
	.card {
		&__title {
			margin-bottom: 5px;
			@include heading.h3($weight: 800);
		}
	
		&__subtitle {
			max-width: 250px;
			margin-bottom: 20px;
		}
	}

	@include mq.to(lg) {
		min-width: 214px;
		padding: 20px 25px;
	}

	@include mq.from(lg) {
		padding: 25px 30px;
	}
}