.back-office {
	position: relative;
	margin-bottom: 100px;

	&__title {
		max-width: 700px;
		margin-bottom: 15px;
	}

	&__description {
		margin-bottom: 35px;

		p:first-of-type {
			max-width: 470px;
		}
		
		p:last-of-type {
			max-width: 500px;
		}
		
		p:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.cards-grid {
			margin-top: 165px;
		}
	}
}