.back-office {
	position: relative;
	margin-bottom: 100px;

	.section {
		&__title {
			max-width: 700px;
			margin-bottom: 15px;
		}
	
		&__description {
			margin-bottom: 35px;
	
			p:first-of-type {
				max-width: 470px;
			}
			
			p:last-of-type {
				max-width: 500px;
			}
			
			p:not(:last-of-type) {
				margin-bottom: 10px;
			}
		}
	}

	.card:first-of-type {
		&::before {
			content: '';
			position: absolute;
			width: 181px;
			height: 116px;
			bottom: 100px;
			right: 55px;
			background: url('./static/images/decoration/notes/superpowers.svg')
				center center/cover no-repeat;
		}
	}

	.manager-card {
		&::before {
			content: '';
			position: absolute;
			bottom: 47px;
			left: -12px;
			width: 40px;
			height: 55px;
			background: url('./static/images/decoration/elements/lightning.svg')
				center center/contain no-repeat;
		}
	}

	.text-card {
		padding: 50px 35px 50px 50px;
		align-self: flex-start;
	}

	@include breakpoint($breakpoint-md) {
		.card:first-of-type {
			&::before {
				width: 145px;
				height: 93px;
			}
		}

		.manager-card {
			&::before {
				width: 30px;
				height: 41px;
				left: -15px;
			}
		}

		.text-card {
			padding: 25px;

			&:last-of-type {
				margin-top: 0;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.cards-grid {
			margin-top: 165px;
		}

		.card:first-of-type {
			position: absolute;
			bottom: 470px;
			left: 15px;

			&::before {
				display: none;
			}

			.card__title {
				margin-bottom: 10px;
				font-size: 26px;
				line-height: 25px;
			}

			.card__subtitle {
				max-width: 280px;
			}
		}

		.text-card {
			justify-content: center;
            
			.card__text {
				text-align: center;
				line-height: 25px;
			}
		}
	}
}