.back-office {
	margin-bottom: 100px;
	position: relative;

	.subtitle {
		max-width: 700px;
		margin-bottom: 15px;
	}

	&__description {
		max-width: 470px;
		margin-bottom: 10px;

		&:last-of-type {
			max-width: 500px;
			margin-bottom: 35px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}