.contacts-section {
	margin: 25px 0 100px;

	.subtitle {
		max-width: 800px;
		margin: 0 auto 20px;

		font-size: 46px;
		text-align: center;
		line-height: 45px;
	}

	&__description {
		margin: 0 auto;
		margin-bottom: 50px;

		text-align: center;
	}
}