.contact-us {
	margin-bottom: 100px;

	.subtitle {
		margin-bottom: 40px;
	}

	&__cards {
		display: flex;
		gap: 20px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-sm) {
		&__cards {
			flex-direction: column;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}