.convenient-oc {
	margin-bottom: 100px;

	.subtitle {
		max-width: 540px;
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}

	&__description {
		max-width: 500px;
	}

	&__paragraph {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__img {
		width: 49%;
		border-radius: $border-radius;
		object-fit: cover;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		&__description {
			max-width: 440px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__content {
			flex-wrap: wrap;
		}

		&__description {
			max-width: 350px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
		
		&__description {
			max-width: 100%;
		}

		&__img {
			width: 100%;
		}
	}
}