@use 'styles/components/heading';
@use 'styles/components/text';
@use 'styles/mq';

.courses {
	@include mq.from(md) {
		--header-max-width: 500px;
	}

	@include mq.from(lg) {
		--header-max-width: 700px;

		.tabs {
			--nav-max-width: calc(50% - 10px);
		}
	}

	.text-card {
		text-align: center;

		.text,
		.heading {
			margin-bottom: 20px;
		}

		.btn {
			margin: auto;
		}

		@include mq.from(md) {
			.btn {
				min-width: auto;
				width: 100%;
			}
		}

		@include mq.from(lg) {
			.btn {
				min-width: 291px;
			}
		}
	}
}