.course-feedback {
	margin-bottom: 135px;

	.subtitle {
		max-width: 470px;
		margin-bottom: 20px;
	}

	.btn {
		margin: 30px auto 0;
	}

	.slider {
		overflow: hidden;
	}

	&__description {
		max-width: 440px;
	}

	&__rating {
		margin: 0 0 17px 48px;
		display: flex;
		align-items: center;
		gap: 14px;
	}

	&__rating-value {
		font-size: 46px;
		font-weight: 700;
		line-height: 70px;
	}

	&__zoon {
		font-weight: 800;
	}

	&__block {
		padding: 33px 62px 50px;

		border-radius: $border-radius;
		background-color: $yellow;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	&__card {
		width: calc(50% - 10px);
		min-height: 460px;
		padding: 46px 40px 44px 49px;
		display: flex;
		flex-direction: column;

		background-color: $white;
		border-radius: $border-radius;
	}

	&__paragraph {
		font-size: 16px;
		font-weight: 600;

		&:not(:last-of-type) {
			margin-bottom: 5px;
		}
	}

	&__link {
		margin-top: auto;

		text-decoration: underline;
		color: $violet;
		font-size: 16px;
		line-height: 15px;
	}

	&__info {
		margin-top: 35px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__author {
		font-size: 16px;
		font-weight: 800;
	}

	&__date {
		font-size: 16px;
		color: lighten($black, 50%);
	}

	&__offline {
		.course-feedback__block {
			background-color: $violet;
		}

		.course-feedback__rating {
			color: $white;
		}
	}

	&__adults-courses {
		.slider__pagination {
			bottom: -40px;
		}
	}

	&__adults-courses {
		.subtitle {
			max-width: 550px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 400px;
			margin-bottom: 15px;
		}

		&__block {
			padding: 30px;
		}

		&__cards {
			gap: 15px;
		}

		&__card {
			width: calc(50% - 7.5px);
			padding: 25px 30px;
		}

		&__rating-value {
			font-size: 36px;
			line-height: 35px;
		}

		&__rating {
			margin-left: 0;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		.slider {
			width: calc(100% + 15px);
		}

		.slider__arrows,
		.slider__pagination {
			display: none;
		}

		.swiper-wrapper {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__cards {
			flex-direction: column;
		}

		&__card {
			width: 100%;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}

	@include breakpoint($breakpoint-mobile) {
		.slider {
			overflow: visible;
			width: 100%;
		}

		.swiper-wrapper {
			display: flex;
			flex-direction: column;
			gap: 15px;
			overflow: visible;
		}

		&__block {
			padding: 25px;
		}

		&__cards {
			flex-direction: row;
			width: calc(100% + 50px);
			transform: translateX(-25px);
			padding: 0 25px;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__card {
			padding: 15px;
			min-width: 85%;
		}
	}
}