.course-testimonials {
	margin-bottom: 135px;

	&__title {
		max-width: 470px;
	}

	&__description {
		max-width: 440px;
	}

	.btn {
		margin: 30px auto 0;
	}

	&__offline {
		.course-feedback__block {
			background-color: $purple;
		}

		.course-feedback__rating {
			color: $white;
		}
	}

	&__adults-courses {
		.section__title {
			max-width: 550px;
		}

		.slider__pagination {
			bottom: -40px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		.section__title {
			max-width: 400px;
			margin-bottom: 15px;
		}

		&__cards {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		.slider {
			width: calc(100% + 15px);

			&__arrows,
			&__pagination {
				display: none;
			}
		}

		.swiper-wrapper {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__cards {
			flex-direction: column;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.slider {
			overflow: visible;
			width: 100%;
		}

		.swiper-wrapper {
			display: flex;
			flex-direction: column;
			gap: 15px;
			overflow: visible;
		}

		&__cards {
			flex-direction: row;
			width: calc(100% + 50px);
			transform: translateX(-25px);
			padding: 0 25px;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}