.course-results {
	margin-bottom: 100px;

	.section__title {
		max-width: 700px;
		margin-bottom: 20px;
	}

	.section__content {
		display: flex;
		justify-content: space-between;
		gap: 35px;
	}

	.text {
		width: 450px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 104px;
			left: 115px;
			width: 254px;
			height: 148px;
			background: url('./static/images/decoration/notes/free-2.svg') center center/cover no-repeat;
		}
	}

	.card {
		width: 568px;
		padding: 45px 80px 45px 45px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.section__title {
			max-width: 500px;
		}

		.text {
			&::after {
				width: 177px;
				height: 102px;
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.section__title {
			max-width: 400px;
		}

		.section__content {
			flex-direction: column;
			gap: 25px;
		}

		.text {
			width: 100%;

			&::after {
				display: none;
			}
		}

		.card {
			width: 100%;
		}
	}
}