.course-formats {
	.section__title {
		max-width: 600px;
		margin-bottom: 20px;
	}

	.section__description {
		max-width: 550px;
		margin-bottom: 40px;
	}

	.format-card {
		.card__body {
			padding: 36px 30px 36px 40px;
			display: flex;
			flex-direction: column;
		}
	
		.card__title {
			margin-bottom: 10px;
			font-size: 42px;
			font-weight: 700;
			line-height: 40px;
		}

		.card__description {
			margin-top: 0;
		}
	}

	@include breakpoint($breakpoint-md) {
		.big-course__content {
			min-height: 210px;
		}

		.big-course__title {
			font-size: 24px;
			line-height: 25px;
		}

		.big-course__lesson-type {
			width: auto;
		}

		.big-course__list {
			flex-grow: 1;
		}

		&__blocks {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}