.course-faq {
	margin-bottom: 100px;

	.subtitle {
		max-width: 800px;
		margin-bottom: 40px;
	}

	.accordion {
		width: calc(67% - 10px);
	}

	&__img {
		width: calc(33% - 10px);
		height: 100%;
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
		box-shadow: 0px 0px 20px 0px $white;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 600px;
		}

		.accordion {
			width: calc(67% - 7.5px);
		}

		&__img {
			width: calc(33% - 7.5px);
		}

		&__block {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		.subtitle {
			max-width: 400px;
		}
		.accordion {
			width: 100%;
		}

		&__block {
			margin-top: -190px;
			flex-direction: column;
		}

		&__img {
			width: 40%;
			align-self: flex-end;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.subtitle {
			max-width: 320px;
		}

		&__block {
			margin-top: -170px;
			flex-direction: column;
		}

		&__img {
			width: 35%;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__block {
			margin-top: 0;
		}

		&__img {
			width: 100%;
		}
	}
}