.digits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;

	.subtitle {
		max-width: 190px;
	}

	&__list {
		width: 764px;
		display: grid;
		gap: 20px;
		grid-template-areas:
			"a a a b b b b b"
			"c c c c c d d d"
			"e e e e e d d d";
	}

	&__item {
		background-color: $yellow;
		border-radius: $border-radius;

		min-height: 200px;
		padding: 45px 0 0 45px;

		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
			display: flex;
			min-height: 150px;

			.digits__title {
				margin-right: 70px;
			}
		}

		&:nth-child(4) {
			grid-area: d;
		}

		&:nth-child(5) {
			grid-area: e;
			display: flex;
			min-height: 150px;

			.digits__title {
				margin-right: 45px;
			}
		}

		&--default {
			background-color: $yellow;
		}

		&--white {
			background-color: $white;
		}
	}

	&__title {
		font-size: 70px;
		font-weight: 700;
		line-height: 60px;

		margin-bottom: 10px;
	}

	&__description {
		max-width: 140px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 150px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__list {
			width: 580px;
			gap: 15px;
			grid-template-areas:
				"a b"
				"c d"
				"e d";
		}

		&__title {
			font-size: 42px;
			line-height: 40px;

			margin-bottom: 5px;
		}

		&__item {
			min-height: 135px;
			padding: 20px 0 0 20px;

			&:nth-child(3),
			&:nth-child(5) {
				display: block;
				min-height: 135px;

				.digits__title {
					margin-right: 0;
				}
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__list {
			width: 450px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
		flex-direction: column;

		.subtitle {
			max-width: none;
			margin-bottom: 25px;
		}

		&__list {
			width: 100%;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__list {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&__item {
			padding: 0 25px;
			display: flex;
			align-items: center;
			min-height: 90px;

			background-color: $yellow;

			&:nth-child(3),
			&:nth-child(5) {
				min-height: 90px;
				display: flex;

				.digits__title {
					margin-right: 25px;
				}
			}
		}

		&__title {
			width: 140px;
			margin-right: 25px;
		}

		&__description {
			max-width: 210px;
		}
	}
}