.discounts {
	margin-bottom: 100px;

	.subtitle {
		margin: 0 auto 20px;
		text-align: center;
	}

	&__description {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 45px;
		text-align: center;
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
	}

	.text-block {
		min-height: 370px;
	}

	&__ps {
		max-width: 680px;
		margin: 35px auto 0;
		text-align: center;
	}

	@include breakpoint($breakpoint-md) {
		.subtitle {
			margin: 0 0 20px;
			max-width: calc(50% - 7.5px);
			text-align: left;
		}

		&__description {
			max-width: 200px;
			margin: 0;
			text-align: left;
		}

		&__blocks {
			margin-top: -85px;
			gap: 15px;
		}

		.text-block {
			min-height: 185px;

			&::after {
				display: none;
			}

			&:first-child {
				margin-left: calc(50% + 7.5px);
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__description {
			max-width: none;
			margin-bottom: 20px;
		}

		&__blocks {
			margin-top: 0;
		}

		.text-block {
			&:first-child {
				margin-left: 0;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		.subtitle {
			max-width: none;
		}

		.text-block {
			padding-right: 65px;

			&__title {
				max-width: 130px;
			}
		}
	}
}
