.discounts {
	&__header {
		text-align: center;
		margin-bottom: 45px;
	}

	&__title {
		margin: 0 auto 20px;
	}

	&__description {
		max-width: 400px;
		margin: 0 auto;
	}

	.asterisk-text {
		max-width: 680px;
		margin: 35px auto 0;

		text-align: center;
	}

	.card {
		min-height: 370px;
	}

	@include breakpoint($breakpoint-md) {
		&__header {
			text-align: left;
		}

		&__title {
			max-width: calc(50% - 7.5px);
			margin: 0 0 20px;
		}

		&__description {
			max-width: 200px;
			margin: 0;
		}

		.cards {
			margin-top: -85px;
			gap: 15px;
		}

		.card {
			min-height: 185px;

			&::after {
				display: none;
			}

			&:first-child {
				margin-left: calc(50% + 7.5px);
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__description {
			max-width: none;
			margin-bottom: 20px;
		}

		.cards {
			margin-top: 0;
		}

		.card {
			&:first-child {
				margin-left: 0;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__title {
			max-width: none;
		}

		.card {
			padding-right: 65px;

			&__title {
				max-width: 130px;
			}
		}
	}
}