.education-directions {
	margin-bottom: 100px;

	.subtitle {
		max-width: 900px;
		margin-bottom: 40px;
	}

	.text-block {
		width: calc(25% - 15px);
		min-height: 275px;
		padding: 123px 20px 16px 38px;

		.text-block__title {
			margin: 0 0 15px;
			max-width: 100px;
			font-size: 18px;
			line-height: 20px;
		}
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	@include breakpoint($breakpoint-lg) {
		.subtitle {
			max-width: 650px;
		}
	}

	@include breakpoint($breakpoint-md) {
		.text-block {
			width: calc(50% - 7.5px);
			min-height: 210px;
			padding-top: 100px;

			.text-block__title {
				max-width: none;
			}
		}

		&__blocks {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.subtitle {
			max-width: 550px;
		}

		.text-block {
			width: 100%;
			min-height: 155px;
			padding-top: 60px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		.text-block {
			.text-block__title {
				max-width: 100px;
			}
		}
	}
}
