.effective-methods {
	margin-bottom: 100px;

	position: relative;

	.subtitle {
		max-width: 715px;
		margin-bottom: 40px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 13%;
		width: 218px;
		height: 85px;
		background: url("./static/images/decoration/notes/combination-of-techniques.svg")
			center center/contain no-repeat;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 600px;
		}

		&::before {
			right: 10%;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&::before {
			right: 0;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.subtitle {
			max-width: 500px;
		}

		&::before {
			display: none;
		}
	}
}