.expectations {
	margin-bottom: 80px;

	.subtitle {
		margin-bottom: 20px;
	}

	.text-block:not(.text-block--heart-bg) {
		overflow: visible;
	}

	&__description {
		max-width: 530px;
		margin-bottom: 40px;
	}

	@include breakpoint($breakpoint-md) {
		.subtitle,
		&__description {
			max-width: calc(50% - 15px);
		}

		.text-blocks {
			margin-top: -185px;
		}

		.text-block:not(.text-block--heart-bg) {
			overflow: hidden;
		}

		.text-block--diploma-bg {
			margin-left: calc(50% + 7.5px);
		}

		.text-block--diploma-bg,
		.text-block--comment-bg {
			order: -1;
		}

		.text-block--heart-bg {
			order: 1;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.subtitle,
		&__description {
			max-width: 530px;
		}

		.text-blocks {
			margin-top: 0;
		}

		.text-block--diploma-bg {
			margin-left: 0;
		}
	}
}
