@use 'global' as *;
@use 'mq';

.faq {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@include mq.for(md) {
		&__header {
			max-width: 55%;
			position: absolute;
			top: 0;
		}

		.image {
			width: 35%;
			margin-left: auto;
		}
	}

	@include mq.from(lg) {
		--title-max-width: 750px;

		&__content {
			flex-direction: row;
			gap: 15px;
		}

		.image {
			width: 30%;
			height: fit-content;
		}

		.accordion {
			width: 70%;
		}
	}
}