@use 'styles/mixins';
@use 'styles/mq';
@use 'styles/variables';

.formats-tabs {
	--description-max-width: 400px;

	position: relative;
	z-index: 1;

	@include mq.from(lg) {
		&__content {
			max-width: 80%;
		}
	}
}