.hero {
	overflow: hidden;
	display: flex;
	position: relative;
	max-width: 1280px;
	height: 560px;
	padding: 60px 0 0 51px;
	margin-bottom: 100px;
	color: white;
	border-radius: $border-radius;
	background: url('./static/images/mainscreens/mainscreen-1.jpg') right center/cover no-repeat;

	&__content {
		max-width: 440px;
		z-index: 1;
	}

	&__title {
		font-size: 68px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 25px;
	}

	&__image {
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		width: 100%;
		object-fit: contain;
	}

	&__text {
		max-width: 270px;
	}

	.btn {
		margin-top: 84px;
		font-size: 18px;
	}

	@include breakpoint($breakpoint-xl) {
		height: 520px;
	}

	@include breakpoint($breakpoint-lg) {
		height: 490px;
		margin-bottom: 70px;

		&__content {
			max-width: 400px;
		}

		&__title {
			font-size: 46px;
			line-height: 45px;
		}
	}

	@include breakpoint($breakpoint-md) {
		padding: 40px 0 0 38px;
		height: 420px;

		&__image {
			width: 1000px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		height: 360px;

		&__content {
			max-width: 370px;
		}

		&__title {
			font-size: 42px;
			line-height: 40px;
		}

		&__image {
			width: 105%;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		height: 671px;
		margin-bottom: 50px;
		border-radius: $border-radius-sm;

		&__content {
			max-width: 500px;
		}

		&__title {
			margin-bottom: 45px;
		}

		&__image {
			width: 930px;
		}

		&__text {
			max-width: 280px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		height: 585px;
		padding: 15px 0 0 20px;

		&__content {
			max-width: 370px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__image {
			width: 760px;
		}

		&__text {
			font-size: 16px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__image {
			width: 700px;
		}
	}
}