@use 'styles/components/heading';
@use 'styles/components/text';
@use 'styles/mq';
@use 'styles/theme';
@use 'styles/variables';

.hero {
	position: relative;
	max-width: 1280px;
	margin-bottom: 50px;
	padding: 20px;
	display: flex;
	@include theme.border-radius;
	background: url('./static/images/mainscreens/mainscreen-1.jpg') center/cover no-repeat;
	color: variables.$white;
	overflow: hidden;
	
	&__content {
		position: relative;
		z-index: 1;
	}

	&__image {
		position: relative;
		display: block;
		width: 100%;
		object-fit: contain;
	}

	&__title {
		margin-bottom: 25px;
		@include heading.h1;
	}

	&__description {
		@include text.body1($weight: 500);

		strong {
			font-weight: inherit;
		}
	}

	@include mq.from(md) {
		margin-bottom: 70px;
		padding: 30px;
	}

	@include mq.from(lg) {
		margin-bottom: 100px;
		padding: 60px 0 0 50px;

		&__content {
			max-width: 440px;
		}

		&__image {
			width: 60%;
		}

		&__text {
			max-width: 270px;
		}
	}


	// TODO: Clean up
	// @include breakpoint($breakpoint-xl) {
	// 	height: 520px;
	// }

	// @include breakpoint($breakpoint-lg) {
	// 	height: 490px;

	// 	&__content {
	// 		max-width: 400px;
	// 	}

	// 	&__title {
	// 		font-size: 46px;
	// 		line-height: 45px;
	// 	}
	// }

	// @include breakpoint($breakpoint-md) {
	// 	padding: 40px 0 0 38px;
	// 	height: 420px;

	// 	&__image {
	// 		width: 1000px;
	// 	}
	// }

	// @include breakpoint($breakpoint-sm) {
	// 	height: 360px;

	// 	&__content {
	// 		max-width: 370px;
	// 	}

	// 	&__title {
	// 		font-size: 42px;
	// 		line-height: 40px;
	// 	}

	// 	&__image {
	// 		width: 105%;
	// 	}
	// }

	// @include breakpoint($breakpoint-xs) {
	// 	margin-bottom: 60px;
	// }

	// @include breakpoint($breakpoint-xxs) {
	// 	height: 671px;
		
	// 	border-radius: $border-radius-sm;

	// 	&__content {
	// 		max-width: 500px;
	// 	}

	// 	&__title {
	// 		margin-bottom: 45px;
	// 	}

	// 	&__image {
	// 		width: 930px;
	// 	}

	// 	&__text {
	// 		max-width: 280px;
	// 	}
	// }

	// @include breakpoint($breakpoint-mobile) {
	// 	&__content {
	// 		max-width: 370px;
	// 	}

	// 	&__title {
	// 		margin-bottom: 20px;
	// 	}

	// 	&__image {
	// 		width: 760px;
	// 	}

	// 	&__text {
	// 		font-size: 16px;
	// 		font-weight: 500;
	// 		line-height: 18px;
	// 	}
	// }

	// @include breakpoint($breakpoint-sm-mobile) {
	// 	&__image {
	// 		width: 700px;
	// 	}
	// }
}