.img-courses {
	margin-bottom: 100px;

	.subtitle {
		max-width: 860px;
		margin-bottom: 40px;
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	@include breakpoint($breakpoint-lg) {
		.subtitle {
			max-width: 650px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__blocks {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.subtitle {
			max-width: 550px;
		}

		&__blocks {
			flex-direction: column;
		}
	}
}
