.img-courses-2 {
	margin-bottom: 100px;

	.subtitle {
		max-width: 560px;
		margin-bottom: 40px;
	}

	.big-course {
		transition: 0.3s all ease;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 0px 23.3288px 0px rgba(255, 219, 199, 0.9);
		}
	}

	.course-selection {
		align-self: flex-start;
		padding: 50px 92px;

		&__title {
			max-width: 290px;
			font-size: 18px;
			line-height: 20px;
		}

		&__description {
			margin-bottom: 45px;
		}
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&--children {
		.big-course__content {
			min-height: 235px;
		}

		.big-course__lesson-type {
			max-width: 163px;
		}

		.big-course__lesson-price {
			align-self: flex-end;
		}

		.big-course__title {
			max-width: 390px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 440px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__blocks {
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}