.knowledge-check {
	padding: 56px 59px 64px;
	margin-bottom: 100px;

	background-color: $yellow;
	border-radius: $border-radius;

	.subtitle {
		max-width: 900px;
		margin-bottom: 35px;
	}

	.btn {
		width: 100%;
		margin-bottom: 10px;
	}

	.list {
		position: relative;
		padding: 0;
		margin-left: 55px;
		width: 280px;

		background-color: transparent;

		.list__title {
			display: none;
		}

		&::after {
			content: "";
			width: 254px;
			height: 148px;
			position: absolute;
			top: 50%;
			left: 198px;
			background: url("./static/images/decoration/notes/free-2.svg")
				center center/cover no-repeat;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	&__form {
		padding: 50px;
		width: 568px;

		background-color: #ffdf76;
		border-radius: $border-radius;
	}

	&__input {
		background-color: $white;
		border-radius: $border-radius;
		border: none;
		color: $grey;

		padding: 10px 20px;
		width: 100%;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 35px;
		}
	}

	&__policy {
		font-size: 13px;
		font-weight: 600;
	}

	@include breakpoint($breakpoint-xl) {
		.list {
			&::after {
				width: 172px;
				height: 100px;
				left: 40px;
			}

			&--ul-sm {
				.list__item {
					&::before {
						top: 10px;
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		padding: 40px;

		.subtitle {
			max-width: 650px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		.list {
			width: 80%;
			margin-left: 35px;

			&::after {
				display: none;
			}
		}

		&__content {
			flex-direction: column;
		}

		&__form {
			width: 100%;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		padding: 30px;

		&__form {
			padding: 25px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__form {
			background-color: inherit;
			padding: 0;
		}
	}
}
