.main {
	margin: 25px 0 100px;

	&__title {
		max-width: 840px;
		margin: 0 auto;
		font-size: 46px;
		font-weight: 700;
		line-height: 45px;
		color: $black;
		text-align: center;
	}

	&__description {
		text-align: center;
		margin: 15px auto 25px;
		max-width: 350px;
	}

	&__image {
		width: 100%;
		height: 560px;
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
		margin-top: 50px;
	}

	.btn {
		margin: 0 auto;
	}

	&--offline {
		.title {
			max-width: 680px;
		}
	}

	&--offline {
		.main__description {
			max-width: 470px;
		}
	}

	@include breakpoint($breakpoint-xl) {
		&__image {
			height: 500px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		&__image {
			height: 460px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__title {
			font-size: 36px;
			line-height: 35px;
		}

		&__description {
			margin: 10px auto 25px;
		}

		&__image {
			height: 400px;
			margin-top: 25px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__image {
			height: 360px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__title {
			font-size: 28px;
			line-height: 30px;
		}

		&__image {
			height: 315px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		&__image {
			height: 280px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__image {
			height: 240px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__image {
			height: 190px;
		}
	}
}