.meetings {
	background-color: $yellow;
	border-radius: $border-radius;
	padding: 65px 62px 90px;

	.subtitle {
		margin-bottom: 20px;
	}

	.slider {
		overflow: hidden;
	}

	&__description {
		max-width: 550px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	@include breakpoint($breakpoint-xl) {
		padding: 40px 35px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-md) {
		.slider {
			width: calc(100% + 35px);
		}

		.slider__arrows,
		.slider__pagination {
			display: none;
		}

		.swiper-wrapper {
			overflow-x: auto;
			padding-bottom: 5px;

			&::-webkit-scrollbar {
				height: 3px;
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background: $black;
				border-radius: 10px;
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}

	@include breakpoint($breakpoint-sm-mobile) {
		padding: 20px 15px;

		.slider {
			width: calc(100% + 15px);
		}
	}
}