.offline-shortly {
	margin-bottom: 100px;

	.subtitle {
		max-width: 495px;
		margin-bottom: 50px;
	}

	.text-block {
		padding-right: 110px;

		.text-block__title {
			margin-top: 0;
		}
	}

	&__info,
	&__number {
		text-align: center;

		max-width: 650px;
		margin: 0 auto;
	}

	&__info {
		margin: 15px auto 10px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
	}
}