@use 'styles/mq';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.online-class {
    --header-max-width: 540px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include mq.from(md) {
        &__content {
            flex-direction: row;
            gap: 40px;

            .text,
            .image {
                width: 50%;
            }
        }
    }
}