.organizations {
	margin-bottom: 130px;

	.slider {
		overflow: hidden;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(6, 175px);
		grid-template-rows: repeat(3, 175px);
		gap: 20px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $white;
		border-radius: 20px;
	}

	&__img {
		width: 70%;
		height: 70%;
		object-fit: contain;
	}

	@include breakpoint($breakpoint-xl) {
		&__list {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(3, 150px);
			gap: 15px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-sm) {
		&__list {
			grid-template-rows: repeat(3, 120px);
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.slider {
			width: calc(100% + 15px);
		}

		.slider__arrows,
		.slider__pagination {
			display: none;
		}

		.swiper-wrapper {
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__list {
			grid-template-columns: repeat(6, 120px);
		}
	}
}