.part-of-team {
	margin-bottom: 100px;

	.subtitle {
		max-width: 700px;
		margin-bottom: 20px;
	}

	&__description {
		max-width: 720px;
		margin-bottom: 40px;
	}

	&__img {
		width: 100%;
		height: 560px;

		border-radius: $border-radius;
		object-fit: cover;
	}

	@include breakpoint($breakpoint-xl) {
		&__img {
			height: 500px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		.subtitle {
			max-width: 550px;
			margin-bottom: 15px;
		}

		&__description {
			max-width: 550px;
			margin-bottom: 25px;
		}

		&__img {
			height: 460px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__img {
			height: 400px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__img {
			height: 360px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__img {
			height: 315px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.subtitle {
			max-width: 450px;
			margin-bottom: 15px;
		}

		&__description {
			max-width: 480px;
		}

		&__img {
			height: 280px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__img {
			height: 240px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__img {
			height: 190px;
		}
	}
}