.practice {
	padding: 95px 0 30px;
	border-radius: $border-radius $border-radius 0 0;
	background-color: $white;

	.subtitle {
		max-width: 570px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	&__description {
		max-width: 380px;
		padding-right: 10px;
	}

	&__img {
		width: 666px;
		height: 360px;
		object-fit: cover;

		border-radius: $border-radius;
	}

	@include breakpoint($breakpoint-lg) {
		&__img {
			width: 520px;
			height: 285px;
		}

		&__description {
			max-width: 370px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__img {
			width: 420px;
			height: 225px;
		}

		&__description {
			max-width: 370px;

			p:not(:last-of-type) {
				margin-bottom: 20px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		.subtitle {
			max-width: 450px;
		}

		&__content {
			flex-direction: column;
		}

		&__description {
			margin-bottom: 25px;
			max-width: none;

			p:not(:last-of-type) {
				margin-bottom: 10px;
			}
		}

		&__img {
			width: 520px;
			max-width: 100%;
			height: 285px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__img {
			width: 290px;
			height: 160px;
		}
	}
}