.profitable-cooperation {
	margin-bottom: 135px;

	.subtitle {
		margin-bottom: 40px;
	}

	.btn {
		font-size: 18px;
		font-weight: 700;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-md) {
		margin-bottom: 125px;

		.subtitle {
			max-width: 400px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 115px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 105px;
		background-color: $white;
		border-radius: $border-radius;

		padding: 30px 20px;

		.subtitle {
			max-width: none;
			margin-bottom: 20px;
		}
	}
}