.speaking-club-faq {
	margin-bottom: 100px;

	.subtitle {
		max-width: 435px;
		margin-bottom: 30px;
	}

	.custom-select {
		display: none;
	}

	.accordion {
		margin-bottom: 35px;
	}

	.btn {
		margin: 0 auto;
		display: block;
	}

	&__not-found {
		margin: 0 auto 30px;
		max-width: 350px;
		text-align: center;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		.tabs__tab {
			display: none;
		}

		.custom-select {
			display: block;
		}
	}
}