.tangible-result {
	max-width: 876px;
	margin: 0 auto 100px;
	text-align: center;

	&__title {
		margin-bottom: 20px;
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	&__description {
		max-width: 580px;
		margin: 0 auto;
	}

	@include breakpoint($breakpoint-lg) {
    	margin-bottom: 70px;
    
		&__title {
			max-width: 650px;
			margin: 0 auto 20px;
			font-size: 32px;
			line-height: 30px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		display: none;
	}
}