.teacher-reviews {
	height: 329px;
	padding: 20px 25px 25px;
	overflow-y: auto;

	background-color: $white;
	border-radius: 0 0 $border-radius-sm $border-radius-sm;

	&__review {
		&:not(:last-child) {
			padding-bottom: 20px;
			margin-bottom: 5px;
			border-bottom: 2px solid $pale-white;
		}
	}

	&__info {
		display: flex;
		gap: 5px;
		margin-bottom: 5px;
	}

	&__name {
		font-size: 14px;
		font-weight: 800;
		line-height: 25px;
	}

	&__description {
		font-size: 14px;
		font-weight: 600;
		line-height: 15px;
	}

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-thumb {
		background: $linen;
		border-radius: 10%;
	}
}