@use 'mq';

.teachers {
    --title-max-width: 880px;
    --description-max-width: 630px;

    .grid {
        margin-bottom: 40px;
    }

    .btn {
        margin: 0 auto;
    }

    @include mq.from(lg) {
        &__title,
        &__description {
            text-align: center;
            margin-left: auto;
			margin-right: auto;
        }
    }
}