@use 'styles/components/heading';
@use 'styles/mq';
@use 'styles/mixins';

.trial-lesson-cta {
	@include mixins.decoration('elements/book-with-pen.svg', before) {
		bottom: -20px;
		left: -20px;
		width: 175px;
		height: 215px;
	}

	@include mixins.decoration('elements/statue-of-liberty.svg', after) {
		bottom: -25px;
		right: 35px;
		width: 124px;
		height: 251px;
	}

	.cta__container {
		@include mixins.decoration('elements/hourglass.svg', before) {
			top: -100px;
			right: 130px;
			width: 75px;
			height: 85px;
		}
	}
}