@use 'global' as *;
@use 'components/heading';
@use 'components/text';
@use 'mq';

.trial-lesson {
	--max-width: unset;
	--description-max-width: 380px;

	@include mq.to(md) {
		--title-max-width: 270px;
	}

	@include mq.from(md) {
		--title-max-width: 360px;
	}

	@include mq.from(lg) {
		--title-max-width: 580px;
	}

	@include mq.from(xl) {
		&__header {
			padding: 0 50px;
		}
	}

	.tabs {
		gap: 0;
	
		.tab {
			position: relative;
	
			&:first-of-type {
				background-color: $yellow;
			}
	
			&:last-of-type {
				background-color: $violet;
			}
		}
	
		@include mq.to(md) {
			--nav-max-width: unset;
	
			.tab {
				width: 100%;
				min-height: 40px;
	
				&::before {
					content: '';
					position: absolute;
					top: 100%;
					width: 50px;
					height: 50px;
				}
	
				&:first-of-type {
					&::before {
						left: 0;
						background-color: $yellow;
					}
				}
	
				&:last-of-type {
					&::before {
						right: 0;
						background-color: $violet;
					}
				}
			}
		}
	
		@include mq.from(md) {
			--nav-max-width: 320px;
	
			&__nav {
				position: absolute;
				top: -40px;
				right: 30px;
			}
	
			.tab {
				min-height: 40px;
			}
		}
	
		@include mq.from(lg) {
			--nav-max-width: 460px;
	
			&__nav {
				top: -55px;
				right: 40px;
			}
	
			.tab {
				min-height: 55px;
			}
		}
	}
}