.trial-lesson-mini {
	margin: 0 auto 100px;
	padding: 60px 175px 40px;
	text-align: center;
	position: relative;

	background-color: $yellow;
	border-radius: $border-radius;

	&__title {
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;

		margin-bottom: 20px;
	}

	&__btn {
		border: none;
		background-color: transparent;
		color: $violet;
		text-decoration: underline;
		font-weight: 700;
	}

	&__pen-icon,
	&__hourglass-icon,
	&__book-icon,
	&__statue-of-liberty-icon {
		position: absolute;
	}

	&__pen-icon {
		top: 47px;
		left: 64px;
	}

	&__hourglass-icon {
		top: -42.5px;
		right: 300px;
	}

	&__book-icon {
		bottom: -20px;
		left: -20px;
	}

	&__statue-of-liberty-icon {
		bottom: -25px;
		right: 35px;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		&__title {
			font-size: 32px;
			line-height: 30px;
			max-width: 650px;
			margin: 0 auto 20px;
		}
	}

	@include breakpoint($breakpoint-md) {
		padding: 60px 145px 40px;
	}

	@include breakpoint($breakpoint-sm) {
		padding: 60px 25px 40px;

		&__pen-icon,
		&__hourglass-icon,
		&__book-icon,
		&__statue-of-liberty-icon {
			display: none;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;
		
		&__title {
			font-size: 26px;
			line-height: 25px;
		}
	}
}