@use 'global' as *;
@use 'mq';

.video-section {
	padding: 20px;
	flex-direction: column;
	background-color: $white;

	.section {
		&__container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}
	
		&__header,
		&__media {
			flex-basis: 50%;
		}
	}

	.caption {
		position: absolute;
	}

	@include mq.from(md) {
		padding: 30px;
		flex-direction: row;

		.section {
			&__container {
				@include mq.from(md) {
					gap: 30px;
				}
			}
		}
	}

	@include mq.from(lg) {
		padding: 40px;

		.section {
			&__container {
				@include mq.from(md) {
					gap: 40px;
				}
			}
		}
	}

	@include mq.from(xl) {
		padding: 65px 60px 55px;
	}

	@include mq.to(md) {
		.caption {
			left: 30%;
			width: 172px;
			height: 53px;
		}
	}

	@include mq.from(md) {
		&__content {
			text-align: center;
			max-width: none;
			margin: 0 auto 100px;
		}

		.caption {
			bottom: 210px;
			left: 25%;
		}
	}

	@include mq.from(md) {
		&__content {
			max-width: 330px;
		}

		.caption {
			top: 140px;
			left: 15%;
			width: 231px;
			height: 94px;
		}
	}

	@include mq.from(lg) {
		&__content {
			max-width: 370px;
		}

		.caption {
			top: 170px;
			width: 231px;
			height: 94px;
		}
	}
}