.about-teacher {
	padding: 25px;
	height: 329px;
	overflow-y: auto;

	background-color: $white;
	border-radius: 0 0 $border-radius-sm $border-radius-sm;
	font-size: 14px;
	line-height: 15px;

	ul.tabs {
		font-size: 14px;
		margin: 0;

		.tabs__tab {
			border-radius: 0;
			background-color: transparent;
			width: 33%;
			min-height: auto;
			padding-bottom: 10px;

			&--active {
				border-bottom: 2px solid $black;
			}
		}
	}

	&__experience {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		margin-bottom: 12px;
		font-weight: 600;

		&:first-child,
		&:last-child {
			order: -1;
		}
	}

	&__item-key {
		font-weight: 800;
		padding-right: 10px;
	}

	&__text {
		font-weight: 600;
	}

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-thumb {
		background: $linen;
		border-radius: 10%;
	}
}