@use 'styles/mq';
@use 'styles/theme' as *;
@use 'styles/variables' as *;

.accordion {
	display: flex;
	flex-direction: column;
	gap: 15px;

	@include mq.from(md) {
		gap: 20px;
	}
}

.accordion-item {
	padding: 20px 30px;
	background-color: $white;
	border-radius: $border-radius-sm;
	transition: 0.2s linear padding;
	cursor: pointer;

	&__title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 0;
		border: none;
		background-color: unset;
		font-weight: 700;
		text-align: left;
		transition: 0.2s linear margin-bottom;

		&::after {
			content: '';
			display: inline-block;
			width: 25px;
			height: 25px;
			flex-shrink: 0;
			background: url('./static/images/icons/plus.svg') center center/cover no-repeat;
			transition: 0.3s ease transform;
		}
	}

	&__content {
		max-width: 1000px;
		height: 0;
		padding-right: 25px;
		overflow: hidden;
		font-weight: 500;
		transition: 0.2s linear height;
	}

	&--active & {
		&__title {
			margin-bottom: 5px;

			&::after {
				transform: rotate(45deg);
			}
		}

		&__content {
			height: auto;
		}
	}

	@include mq.from(lg) {
		padding: 20px 50px;
	}
}