.accordion {
	&__item {
		background-color: $white;
		border-radius: $border-radius;
		cursor: pointer;
		padding: 20px 50px;
		transition: 0.2s linear padding;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--active {
			padding: 38px 50px;

			.accordion__title {
				margin-bottom: 5px;

				&::after {
					transform: rotate(45deg) translate(-10px, -10px);
				}
			}

			.accordion__content {
				height: auto;
			}
		}
	}

	&__title {
		font-weight: 700;
		border: none;
		background-color: $white;
		border-radius: $border-radius;
		text-align: left;

		width: 100%;
		position: relative;
		padding: 0;
		padding-right: 45px;
		transition: 0.2s linear margin-bottom;

		&::after {
			content: "";
			position: absolute;
			top: 10px;
			right: -5px;
			width: 25px;
			height: 25px;
			background: url("./static/images/icons/plus.svg") center
				center/cover no-repeat;
			transform: translateY(-50%);
			transition: 0.3s ease transform;
		}
	}

	&__content {
		max-width: 1000px;
		height: 0;
		overflow: hidden;

		font-weight: 500;
		transition: 0.2s linear height;
	}

	@include breakpoint($breakpoint-xxs) {
		&__item {
			padding: 20px 30px;
		}
	}
}