.advantage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px;
	margin-bottom: 20px;
	background-color: $pearl-white;
	border-radius: $border-radius;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;

	&__numbering {
		padding-right: 20px;
		font-size: 42px;
		line-height: 45px;
	}

	&__title {
		max-width: 150px;
		align-self: flex-end;
	}

	&__description {
		margin-left: auto;
		text-align: right;
		max-width: 200px;
	}

	@include breakpoint($breakpoint-lg) {
		padding: 20px 25px;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 15px;

		&__numbering {
			padding-right: 10px;
			font-size: 31px;
			line-height: 40px;
		}

		&__title {
			max-width: 100px;
		}
	}
}