.breadcrumbs {
    &__list {
        padding: 0;
        background-color: transparent;
    }

    .breadcrumb-item {
        font-size: .9rem;

        a {
            color: #6c757d;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}