.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	width: 100%;
	max-width: 372px;
	text-align: center;

	font-family: "Raleway", sans-serif;
	background-color: $black;
	color: $white;
	font-size: 16px;
	font-weight: 700;
	line-height: 15px;
	border: none;
	border-radius: $border-radius-bg;

	@include hover-active(background-color, $black);

	&--yellow {
		background-color: $yellow;
		color: $black;

		@include hover-active(background-color, $yellow);
	}

	&--violet {
		background-color: $violet;
		color: $white;

		@include hover-active(background-color, $violet);
	}

	&--transparent {
		background-color: transparent;
		border: 2px solid $white;
		color: $white;

		&-black {
			border-color: $black;
			color: $black;

			@include hover-active(
				background-color,
				$black,
				border-color,
				$black,
				color,
				$white
			);
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--big {
		max-width: 520px;
	}

	&--md {
		width: 100%;
		max-width: 273px;
		min-height: 40px;
	}

	&--sm {
		width: 100%;
		max-width: 200px;
		min-height: 40px;
	}

	&--full {
		max-width: 100%;
	}
}