@use 'global' as *;
@use 'components/spinner';

.btn {
	position: relative;
	width: 100%;
	max-width: 360px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: $br-xl;
	padding: 0 20px;
	background-color: $black;
	color: $white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	&:disabled {
		opacity: 0.8;
	}

	&--outlined {
		border: 2px solid currentColor;
		background-color: transparent;
		color: inherit;
	}

	&--transparent {
		background-color: transparent;
		color: inherit;
		padding: 0;
	}

	&--purple {
		background-color: $purple;
		color: $white;

		@include hover-active((
			background-color: $purple
		));
	}

	&--yellow {
		background-color: $yellow;
		color: $black;

		@include hover-active((
			background-color: $yellow
		));
	}

	&#{&}--outlined#{&}--white {
		color: $white;

		@include hover-active((
			border-color: $white,
			color: $white
		));
	}

	&#{&}--outlined#{&}--black {
		color: $black;

		@include hover-active((
			background-color: $black,
			border-color: $black,
			color: $white
		));
	}

	&#{&}--filled#{&}--black {
		background-color: $black;
		color: $white;

		@include hover-active((
			background-color: $black,
			border-color: $black
		));
	}

	&--lg {
		min-height: 60px;
		font-size: 18px;
	}

	&--md {
		min-height: 50px;
		font-size: 16px;
	}

	&--sm {
		min-height: 40px;
		font-size: 14px;
	}

	&--full {
		width: 100%;
		max-width: unset;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	.spinner {
		visibility: hidden;
		position: absolute;
		left: 50%;
		height: 50%;
		transform: translate(-50%, -50%);
	}

	&[data-loading],
	&--loading {
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
		}

		&::after {
			content: '';
			@include spinner.styles($size: 24px);
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}