.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
        height: 100%;
    }

    &--col-2 .card {
        width: calc(50% - 10px);
    }

    @include breakpoint($breakpoint-md) {
		gap: 15px;
	}
}