@use 'global' as *;
@use 'mq';

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mq.from(md) {
        flex-direction: row;
        gap: 20px;
    }

    .card {
        flex: 1;
    }

    &--color {
        .card {
            &:nth-child(n+1) {
                background-color: $white;
            }

            &:nth-child(n+2) {
                background-color: $pink;
                color: $white;
            }

            &:nth-child(n+3) {
                background-color: $purple;
                color: $white;
            }
        }
    }

    &--scroll {
        @include scroll-x;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}