@use 'styles/components/heading' as *;

.card {
	--card-background-color: #{$white};
	--card-text-color: #{$black};

	position: relative;
	border-radius: $border-radius;
	background-color: var(--card-background-color);
	color: var(--card-text-color);

	&__media {
		position: relative;
		width: 100%;
		border-radius: $border-radius;

		img {
			width: 100%;
			display: block;
			object-fit: cover;
			border-radius: $border-radius;
		}
	}

	&__header {
		padding: 30px 40px 0;

		&:last-child {
			padding-bottom: 30px;
		}
	}

	&__body {
		padding: 40px;

		&:empty {
			padding: 0;
		}
	}

	&__content {
		margin-top: 1rem;
	}

	&__footer {
		margin-top: auto;
	}

	&__title {
		@include heading('sm', 800);
		margin-bottom: .5rem;
	}

	&__subtitle {
		margin-top: .5rem;
	}

	&__description {
		margin-top: .5rem;

		p + p {
			margin-top: 10px;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--white {
		--card-background-color: #{$white};
		--card-text-color: #{$black};
	}

	&--black {
		--card-background-color: #{$black};
		--card-text-color: #{$white};
	}

	&--pink {
		--card-background-color: #{$pink};
		--card-text-color: #{$white};
	}

	&--purple {
		--card-background-color: #{$purple};
		--card-text-color: #{$white};
	}

	&--yellow {
		--card-background-color: #{$yellow};
		--card-text-color: #{$black};
	}

	&--transparent {
		--card-background-color: transparent;
	}

	&--hover {
		transition: 0.3s all ease;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 0px 23.3288px 0px rgba(255, 219, 199, 0.9);
		}
	}

	&--horizontal {
		display: flex;
		flex-direction: row;
	}

	&--horizontal &__media {
		width: auto;
	}

	@include breakpoint($breakpoint-md) {
		&__body {
			padding: 25px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__content {
			font-size: 14px;
			line-height: 15px;
		}
	}
}