.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: $border-radius;
	background-color: $white;

	&__img {
		width: 100%;
		height: 370px;
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 35px 30px 45px 50px;
		flex-grow: 1;
	}

	&__name {
		margin-bottom: 5px;
		font-weight: 800;
	}

	&__post {
		margin-bottom: 35px;
	}

	&__description {
		max-width: 363px;

		li {
			&:not(:last-child) {
				margin-bottom: 2px;
			}
		}
	}

	&__text {
		font-size: 24px;
		line-height: 25px;
	}

	&__title {
		max-width: 300px;
		margin-bottom: 18px;

		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	&__subtitle {
		max-width: 287px;
	}

	&__link {
		color: $violet;
	}

	&--comment-card {
		min-height: 370px;
		padding: 50px 35px 50px 50px;
		align-self: flex-start;
		background-color: $pink;
		color: $white;
	}

	&--text-card {
		display: block;
		background-color: transparent;

		&::before {
			content: "";
			position: absolute;
			width: 181px;
			height: 116px;
			bottom: 100px;
			right: 55px;
			background: url("./static/images/decoration/notes/superpowers.svg")
				center center/cover no-repeat;
		}
	}

	&--teacher {
		.card__content {
			padding-bottom: 50px;
		}

		.btn {
			margin-top: auto;
		}

		.card__description {
			margin-bottom: 20px;
		}
	}

	&--team-card {
		&::before {
			content: "";
			position: absolute;
			bottom: 47px;
			left: -12px;
			width: 40px;
			height: 55px;
			background: url("./static/images/decoration/elements/lightning.svg")
				center center/contain no-repeat;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__content {
			padding: 25px;
		}

		&__img {
			height: 315px;
		}

		&--text-card {
			&::before {
				width: 145px;
				height: 93px;
			}
		}

		&--team-card {
			&::before {
				width: 30px;
				height: 41px;
				left: -15px;
			}
		}

		&--comment-card {
			padding: 25px;

			&:last-of-type {
				margin-top: 0;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		min-width: 213px;

		&__img {
			height: 215px;
		}

		&__text {
			font-size: 14px;
			line-height: 15px;
		}
	}
}