.cards-grid {
    .card {
        height: 100%;
    }

    &--color {
        .card {
            &:nth-child(n+1) {
                background-color: $white;
            }

            &:nth-child(n+2) {
                background-color: $pink;
                color: $white;
            }

            &:nth-child(n+3) {
                background-color: $violet;
                color: $white;
            }
        }
    }

	@include breakpoint($breakpoint-xxs) {
		width: calc(100% + 15px);
		padding-left: 15px;
		display: flex;
        flex-wrap: nowrap;
		justify-content: space-between;
		overflow-x: auto;

        &::-webkit-scrollbar {
			display: none;
		}
	}
}