.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: $border-radius;
	background-color: $white;

	&__img {
		width: 100%;
		display: block;
		object-fit: cover;
		border-radius: $border-radius;
	}

	&__body {
		flex-grow: 1;
		padding: 35px 30px 45px 50px;
	}

	&__title {
		margin-bottom: .5rem;
		font-size: 24px;
		font-weight: 700;
	}

	&__subtitle {
		margin-top: .5rem;
	}

	&__description {
		margin-top: 1rem;
	}

	&__content {
		margin-top: 1rem;
		// font-size: 24px;
		// line-height: 25px;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--white {
		background-color: $white;
	}

	&--black {
		background-color: $black;
		color: $white;
	}

	&--pink {
		background-color: $pink;
		color: $white;
	}

	&--violet {
		background-color: $violet;
		color: $white;
	}

	&--yellow {
		background-color: $yellow;
		color: $black;
	}

	&--transparent {
		background-color: transparent;
	}

	&--hover {
		transition: 0.3s all ease;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 0px 23.3288px 0px rgba(255, 219, 199, 0.9);
		}
	}

	@include breakpoint($breakpoint-md) {
		&__img {
			height: 315px;
		}

		&__body {
			padding: 25px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		min-width: 213px;

		&__img {
			height: 215px;
		}

		&__text {
			font-size: 14px;
			line-height: 15px;
		}
	}
}