.central-text {
	max-width: 876px;
	margin: 0 auto;
	text-align: center;

	&__title {
		margin-bottom: 20px;
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;

		@include breakpoint($breakpoint-lg) {
			max-width: 650px;
			margin: 0 auto 20px;
			font-size: 32px;
			line-height: 30px;
		}
	}

	&__description {
		max-width: 580px;
		margin: 0 auto;
	}

	@include breakpoint($breakpoint-lg) {
		font-size: 32px;
		line-height: 30px;
	}

	@include breakpoint($breakpoint-xxs) {
		display: none;
		font-size: 26px;
		line-height: 25px;
	}
}