@use 'global' as *;
@use 'mq';

.checkbox {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	user-select: none;

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		opacity: 0;
		cursor: pointer;
	}

	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 12px;
		width: 12px;
		border: 2px solid $black;

		&::before {
			content: '';
			display: none;
			position: absolute;
			top: -3px;
			left: 0px;
			width: 14px;
			height: 10px;
			background: image('icons/check-4.svg') center center/cover no-repeat;
		}
	}

	&__input:checked ~ &__checkmark {
		&::before {
			display: block;
		}
	}

	&__label {
		display: block;
		position: relative;
		padding-left: 20px;
		cursor: pointer;
	}
}