.contacts {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding: 60px;

	background-color: $white;
	border-radius: $border-radius;

	.phone-numbers {
		max-width: 240px;

		a {
			color: $violet;
			font-size: 18px;
		}

		.phone-numbers__item {
			gap: 20px;
		}
	}

	.social {
		&__item {
			&:nth-child(2) {
				margin-right: 0;
			}

			&:nth-child(3) {
				display: none;
			}
		}
	}

	&__info {
		max-width: 372px;
	}

	&__content {
		margin-bottom: 40px;
	}

	&__phone,
	&__email,
	&__time {
		margin-top: 20px;
	}

	&__email {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.social {
			display: none;
		}
	}

	&__title {
		margin-bottom: 5px;
		font-weight: 800;
		letter-spacing: 0.36px;
		text-transform: uppercase;

		margin-top: 20px;
	}

	&__text-address {
		margin-bottom: 5px;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__schedule-list {
		max-width: 370px;

		li {
			display: flex;
			justify-content: space-between;

			&:first-child {
				margin-bottom: 5px;
			}

			span {
				&:first-child {
					font-weight: 700;
				}
			}
		}
	}

	&__map {
		width: 100%;
		border-radius: $border-radius;
		overflow: hidden;
	}

	@include breakpoint($breakpoint-lg) {
		flex-direction: column;
		padding: 40px 30px;

		&__info {
			max-width: 100%;
		}

		&__content {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}

		&__address,
		&__phone,
		&__email,
		&__time {
			width: calc(50% - 10px);
			margin-top: 0;
		}

		&__phone {
			.social {
				display: none;
			}
		}

		&__email {
			order: 1;

			.social {
				display: flex;
			}
		}

		&__title {
			margin-bottom: 15px;
		}

		&__map {
			height: 350px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		padding: 35px 25px;

		&__content {
			display: flex;
			flex-wrap: wrap;
			gap: 0;
		}

		&__address,
		&__phone,
		&__email,
		&__time {
			width: 100%;
		}

		&__email {
			order: 0;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__map {
			height: 200px;
		}
	}
}