.cooperation {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	.btn {
		display: block;
		margin: 30px auto 50px;
		font-size: 18px;
		font-weight: 700;
	}

	&__preview {
		flex-basis: calc(32% - 10px);
		min-height: 510px;
		padding: 38px 15px 0 0;
		display: flex;
		justify-content: flex-end;
		position: relative;
		background-color: $grey;
		border-radius: $border-radius;
	}

	&__info {
		font-size: 16px;
		line-height: 15px;
		font-style: italic;
		font-weight: 500;
	}

	&__name {
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__person-about {
		max-width: 160px;
	}

	&__img {
		width: 362px;
		height: 440px;
		display: block;
		object-fit: cover;
		position: absolute;
		bottom: 0;
	}

	&__content {
		flex-basis: calc(68% - 10px);
		background-color: $white;
		border-radius: $border-radius;
	}

	&--profitable-cooperation {
		.cooperation__img {
			left: -55px;
		}
	}

	&--getting-started {
		.list {
			padding: 59px 40px 0px 174px;
		}

		.cooperation__preview {
			min-height: 450px;
			padding-right: 47px;
		}

		.cooperation__img {
			width: 300px;
			height: 366px;
			left: -20px;
		}

		.cooperation__person-about {
			max-width: 175px;
		}

		.list--ol {
			.list__description {
				display: inline-block;
				position: relative;
			}

			.list__item {
				&:nth-child(4),
				&:nth-child(5) {
					.list__description::after {
						content: "";
						width: 63px;
						height: 44px;
						position: absolute;
						top: -10px;
						right: -78px;
						background: url("./static/images/decoration/notes/free.svg")
							center center/contain no-repeat;
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__img {
			width: 325px;
			height: 398px;
		}

		&--profitable-cooperation {
			.cooperation__img {
				left: -40px;
			}
		}

		&--getting-started {
			.list {
				padding-left: 160px;
			}

			.cooperation__img {
				width: 270px;
				height: 330px;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		.btn {
			max-width: 440px;
			margin-bottom: 30px;
		}

		&__img {
			width: 210px;
			height: 307px;
		}

		&__preview {
			min-height: 395px;
			padding-top: 25px;
		}

		&__info {
			font-size: 12px;
			line-height: 10px;
		}

		&__person-about {
			max-width: 110px;
		}

		&--profitable-cooperation {
			position: relative;

			.btn {
				position: absolute;
				bottom: -100px;
				left: 50%;
				transform: translateX(-50%);
				background-color: $black;
			}

			.cooperation__img {
				left: -15px;
			}
		}

		&--getting-started {
			.btn {
				max-width: 326px;
			}

			.list {
				padding-top: 30px;
				padding-left: 130px;
			}

			.cooperation__preview {
				padding-right: 30px;
				min-height: 340px;
			}

			.cooperation__person-about {
				max-width: 130px;
			}

			.cooperation__img {
				width: 219px;
				height: 267px;
				left: -10px;
			}

			.list--ol {
				.list__item {
					&:nth-child(4),
					&:nth-child(5) {
						.list__description::after {
							width: 37px;
							height: 26px;
							top: -5px;
							right: -50px;
						}
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-xs) {
		&--getting-started {
			.list {
				padding: 20px 40px 0px 100px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		flex-direction: column;

		.btn {
			max-width: 370px;
			margin-bottom: 0;

			font-size: 16px;
			line-height: 18px;
			font-weight: 800;
		}

		&__preview {
			min-height: 214px;
		}

		&__img {
			width: 146px;
			height: 214px;
		}

		&--profitable-cooperation {
			.list {
				padding-bottom: 0;
			}
		}

		&--getting-started {
			.cooperation__preview {
				min-height: 215px;
			}

			.cooperation__img {
				width: 167px;
				height: 204px;
			}

			.list {
				padding: 20px 40px 0px 90px;
			}
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&--profitable-cooperation {
			.list {
				padding: 0 0 0 40px;
			}
		}

		&--getting-started {
			.list {
				padding: 0 0 0 70px;
			}

			.list--ol {
				.list__item {
					&:nth-child(4),
					&:nth-child(5) {
						.list__description::after {
							display: none;
						}
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&--getting-started {
			.list {
				padding: 0 0 0 50px;
			}
		}
	}
}