.course-card {
	display: flex;
	flex-direction: column;
    background-color: $white;
    color: $black;

	.card {
		&__header {
			position: relative;
			min-height: 205px;
			flex-grow: 1;
			padding: 36px 40px 37px;
			border-radius: $border-radius;
			overflow: hidden;
		}

        &__body {
            flex-grow: unset;
			display: flex;
			justify-content: space-between;
        }

        &__title {
            margin-bottom: 10px;
            font-size: 42px;
            font-weight: 700;
            line-height: 40px;
        }
    
        &__description {
            max-width: 360px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            min-height: 145px;
            padding: 38px 40px;
        }

        &__age-tag {
            position: absolute;
            bottom: 46px;
            right: -47px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 145px;
            height: 52px;
            border-top-right-radius: $border-radius-sm;
            background-color: $black;
            transform: rotate(-90deg);
    
            &-purple {
                background-color: $violet;
            }
    
            &-black {
                background-color: $black;
            }
        }
	}

    &.card {
        &--black {
            .card__header {
                background-color: $black;
                color: $white;
            }
        }
    
        &--white {
            .card__header {
                background-color: $white;
                color: $black;
            }
        }
    
        &--pink {
            .card__header {
                background-color: $pink;
                color: $white;
            }
        }
    
        &--violet {
            .card__header {
                background-color: $violet;
                color: $white;
            }
        }
    }

	ul {
		li {
			display: flex;
			justify-content: space-between;
			gap: 35px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;

			margin-bottom: 12px;
		}

		&__header {
			padding-top: 29px;
			min-height: 175px;
		}

		&__lesson-cost {
			display: none;
		}

		&__content {
			min-height: 125px;
			padding: 25px 20px 25px 40px;
		}

		&__list {
			width: 100%;
		}

		&__age-tag {
			top: 0;
			left: 0;
			right: auto;
			width: 130px;
			height: 33px;
			transform: none;
			border-radius: 0;
			border-bottom-right-radius: $border-radius-sm;
		}

		&--children {
			.course__header {
				min-height: 190px;
				padding-top: 46px;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
			min-height: 145px;
		}

		&__content {
			min-height: 105px;
			padding: 22px 15px 22px 24px;
		}

		&__item {
			line-height: 15px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;

		&__title {
			font-size: 32px;
			line-height: 30px;
		}

		&__description {
			max-width: none;
		}

		&__lesson-cost {
			display: block;
		}

		&__list {
			width: auto;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
		}

		&__lesson-cost {
			display: none;
		}

		&__lesson-type {
			padding-right: 0;
		}

		&__list {
			width: 100%;
		}
	}
}