.course-selection {
	background-color: $white;
	border-radius: $border-radius;
	text-align: center;

	width: calc(50% - 10px);
	padding: 35px 85px;

	&__title {
		color: $black;
		font-size: 24px;
		line-height: 25px;

		margin: 0 auto 20px;
		max-width: 398px;
	}

	&__description {
		color: $black;
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;

		margin-bottom: 30px;
		max-width: 397px;
	}

	@include breakpoint($breakpoint-lg) {
		padding: 35px 65px;

		.btn {
			min-width: 291px;
		}

		&__title {
			font-size: 16px;
			font-weight: 600;
			line-height: 18px;

			margin-bottom: 15px;
			max-width: 260px;
		}

		&__description {
			font-size: 32px;
			line-height: 30px;

			margin-bottom: 30px;
			max-width: none;
		}
	}

	@include breakpoint($breakpoint-sm) {
		padding: 26px 70px;

		.btn {
			min-width: auto;
			width: 100%;
		}

		&__title {
			font-size: 16px;
			font-weight: 600;
			line-height: 18px;

			max-width: none;
		}

		&__description {
			font-size: 24px;
			line-height: 25px;

			margin-bottom: 25px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;
	}

	@include breakpoint($breakpoint-mobile) {
		padding: 26px 20px;
	}
}