.course {
	width: calc(50% - 10px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $white;
	border-radius: $border-radius;
	transition: 0.3s all linear;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 0px 23.3288px 0px rgba(255, 219, 199, 0.9);
	}

	&__header {
		min-height: 205px;
		flex-grow: 1;
		padding: 36px 40px 37px;
		background-color: $black;
		color: $white;
		border-radius: $border-radius;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	&__description {
		max-width: 360px;
	}

	&__content {
		min-height: 145px;
		display: flex;
		justify-content: space-between;
		padding: 38px 40px;
	}

	&__lesson-cost {
		max-width: 20%;
	}

	&__lesson-type {
		padding-right: 35px;
		text-align-last: left;
	}

	&__item {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__accent {
		font-weight: 800;
	}

	&--fs {
		align-self: flex-start;
	}

	&--black {
		.course__header {
			background-color: $black;
		}
	}

	&--white {
		.course__header {
			background-color: $white;
			color: $black;
		}
	}

	&--pink {
		.course__header {
			background-color: $pink;
		}
	}

	&--violet {
		.course__header {
			background-color: $violet;
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__title {
			margin-bottom: 12px;
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;
		}

		&__header {
			min-height: 175px;
			padding-top: 29px;
		}

		&__lesson-cost {
			display: none;
		}

		&__content {
			min-height: 125px;
			padding: 25px 20px 25px 40px;
		}

		&__list {
			width: 100%;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			min-height: 145px;
			padding: 24px 30px;
		}

		&__content {
			min-height: 105px;
			padding: 22px 15px 22px 24px;
		}

		&__item {
			line-height: 15px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;

		&__title {
			font-size: 32px;
			line-height: 30px;
		}

		&__description {
			max-width: none;
		}

		&__lesson-cost {
			display: block;
		}

		&__list {
			width: auto;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__title {
			font-size: 24px;
			line-height: 25px;
		}

		&__header {
			padding: 24px 30px;
		}

		&__lesson-cost {
			display: none;
		}

		&__lesson-type {
			padding-right: 0;
		}

		&__list {
			width: 100%;
		}
	}
}