.custom-radio-buttons {
	width: 100%;
	max-width: 390px;
	display: flex;
	justify-content: space-between;

	&__btn {
		label {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			cursor: pointer;
			position: relative;
			padding-left: 24px;
			user-select: none;

			&:before {
				content: "";
				width: 14px;
				height: 14px;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				border-radius: 50%;
				border: 2px solid $black;
			}
		}

		input[type="radio"] {
			display: none;

			&:checked {
				+ {
					label {
						&:before {
							background: radial-gradient(
								circle at center,
								$black 0,
								$black 3.25px,
								transparent 3.25px
							);
						}
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__btn {
			label {
				font-size: 16px;
				line-height: 18px;
				padding-left: 18px;
			}
		}
	}
}