.fact-cards {
	&--advantages-cooperation,
	&--test {
		.text-block {
			min-height: 175px;
			padding-right: 140px;

			&__description {
				margin-top: auto;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		display: flex;
		flex-direction: column;

		.fact-card {
			min-height: unset;
		}
	}

	@include breakpoint($breakpoint-md) {
		gap: 15px;

		.fact-card {
			min-height: 185px;
		}

		&--advantages,
		&--advantages-cooperation,
		&--offline-shortly {
			.fact-card {
				min-height: 140px;

				&__title {
					max-width: 150px;
				}
			}
		}

		&--advantages-cooperation,
		&--test {
			.fact-card {
				&__description {
					margin-top: 0;
					font-weight: 700;
				}
			}
		}

		&--advantages-cooperation {
			.fact-card {
				&:nth-child(3) {
					order: 3;
				}
			}
		}

		&--test {
			.fact-card {
				min-height: 140px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&--advantages {
			.fact-card {
				&:nth-child(2) {
					&::before {
						display: none;
					}
				}
			}
		}

		&--test {
			.fact-card {
				padding-right: 90px;
			}
		}
	}
}