.feedback {
	min-height: 375px;
	display: flex;
	gap: 20px;

	.video {
		width: 568px;
		height: 310px;
	}

	&__video {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__right {
		align-self: flex-end;
	}

	@include breakpoint($breakpoint-xl) {
		gap: 15px;

		.video {
			width: 444px;
			height: 240px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__right {
			align-self: flex-start;
		}
	}

	@include breakpoint($breakpoint-sm) {
		.video {
			width: 327px;
			height: 175px;
		}

		&--formats {
			.about-person {
				max-width: 440px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		flex-direction: column;
		align-items: center;
		gap: 0;

		.video {
			width: 100%;
			height: 100%;
		}

		&__video {
			.comment {
				display: none;
			}
		}

		.comment {
			border-radius: 0;
			background-color: $white;
			color: $black;

			&::before {
				content: none;
			}
		}

		.about-person {
			width: 100%;
			max-width: none;
			height: 100%;
			padding-top: 24px;

			.about-person__comment {
				display: block;
			}
		}

		&--student-progress {
			.video {
				margin-bottom: -30px;
			}

			.about-person {
				padding-top: 54px;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}
		}
	}
}