.feedback-form {
	&__format {
		margin-bottom: 5px;
		font-weight: 700;
	}

	&__radio-btn {
		font-weight: 500;
		line-height: 15px;
	}

	&__communication {
		font-weight: 700;

		margin-top: 15px;
	}

	&__children {
		display: flex;
		align-items: flex-end;
		gap: 10px;

		.custom-select,
		.input-text {
			margin: 0;
			margin-bottom: 10px;
		}
	}

	.custom-radio-buttons {
		margin-bottom: 16px;
	}

	.custom-select {
		margin: 5px 0 30px;
	}

	.custom-checkbox {
		margin-top: 12px;
	}

	@include breakpoint($breakpoint-mobile) {
		&__children {
			flex-direction: column;
			gap: 0;
		}
	}
}