.footer {
	background-color: $white;
	padding: 42px 20px 0;

	.logo {
		display: none;
		width: 163px;
		height: 54px;
		margin-bottom: 15px;
	}

	.phone-numbers {
		margin-bottom: 10px;

		.icon {
			display: none;
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&__link {
			color: $black;
			font-size: 16px;
			line-height: 15px;
			letter-spacing: 0.8px;
			font-weight: 800;
		}
	}

	.social {
		margin-top: 100px;
	}

	.footer-courses,
	.footer-SAWC,
	.footer-education-forms,
	.footer-copyright {
		display: none;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
	}

	&__call {
		margin-bottom: 15px;

		font-size: 16px;
		font-weight: 600;
		line-height: 15px;
	}

	&__call-item {
		&:not(last-child) {
			margin-bottom: 5px;
		}
	}

	&__email {
		margin-bottom: 15px;
	}

	&__address {
		margin-bottom: 50px;
	}

	&__column {
		display: flex;
		flex-direction: column;

		&:first-child {
			flex-basis: 253px;

			.logo {
				display: block;
			}

			.social {
				display: none;
			}
		}

		&:nth-child(2) {
			flex-basis: 335px;

			.footer-copyright {
				display: block;
			}
		}

		&:nth-child(3) {
			padding-top: 20px;
			flex-basis: 196px;
		}

		&:last-child {
			padding-top: 20px;
			flex-basis: 372px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__mobile-block {
		display: none;
	}

	&__item {
		font-size: 16px;
		font-weight: 600;
		line-height: 15px;

		margin-bottom: 5px;

		&--test {
			margin-bottom: 25px;
		}
	}

	&__link {
		color: $black;
		transition: 0.3s linear all;

		&:hover {
			color: $violet;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 16px;
		font-weight: 800;
		line-height: 15px;
		letter-spacing: 0.8px;

		margin-bottom: 10px;
	}

	&__results-title {
		font-size: 15px;
		font-weight: 700;
		line-height: 15px;

		max-width: 172px;
		margin-top: 20px;
	}

	&__courses {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
	}

	&__copyright {
		padding-left: 40px;
	}

	&__with-love-img {
		padding-left: 5px;
	}

	&__designer {
		.with-love,
		.social {
			display: none;
		}
	}

	&__policy,
	&__copyright,
	&__with-love,
	&__designer {
		font-weight: 700;
		font-size: 16px;
		line-height: 15px;
		border-top: 1px solid $pearl-white;

		min-height: 70px;
		margin-top: auto;
		padding-top: 15px;
	}

	@include breakpoint($breakpoint-md) {
		&__column {
			&:nth-child(2) {
				display: none;
			}
		}

		&__with-love {
			.with-love {
				display: none;
			}
		}

		&__designer {
			display: flex;
			gap: 20px;

			.designer {
				display: none;
			}

			.with-love,
			.footer-copyright {
				display: block;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		padding-bottom: 48px;

		.footer__wrapper {
			justify-content: flex-start;
		}

		.footer-courses,
		.footer-education-forms {
			display: block;
		}

		.phone-numbers {
			margin-bottom: 15px;

			&__item {
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		.license {
			background-color: transparent;

			&__img {
				display: none;
			}

			&__info {
				padding: 0;
			}

			&__title {
				max-width: 150px;
			}
		}

		.logo {
			margin-bottom: 30px;
		}

		.logo,
		&__email,
		&__address {
			order: -1;
		}

		&__courses-programms {
			display: none;
		}

		&__email {
			margin-bottom: 5px;
		}

		&__address {
			margin-bottom: 30px;
			max-width: 220px;
		}

		&__call-item {
			&:not(last-child) {
				margin-bottom: 15px;
			}
		}

		&__item {
			margin-bottom: 15px;
		}

		&__about {
			margin-bottom: 25px;
		}

		&__results-title {
			margin: 40px 0 15px;

			font-size: 16px;
			line-height: 18px;
			font-weight: 700;
		}

		&__designer {
			flex-direction: column;
			margin-top: 80px;

			.social {
				display: flex;
				margin-top: 0;
			}
		}

		&__column {
			&:first-child {
				flex-basis: 39%;
			}

			&:nth-child(3) {
				flex-basis: 28%;

				.social {
					display: none;
				}
			}

			&:last-child {
				flex-basis: auto;
			}
		}

		&__policy {
			margin-top: 10px;

			p {
				margin-bottom: 15px;
			}

			.footer-copyright {
				margin-top: 25px;
				display: block;

				p {
					&:first-child {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.license {
			background-color: $pearl-white;
			max-width: 500px;

			&__info {
				padding-left: 110px;
			}

			&__title {
				max-width: none;
			}

			&__img {
				display: block;
			}
		}

		.footer-education-forms,
		.footer-courses,
		&__designer,
		&__with-love {
			display: none;
		}

		&__wrapper {
			flex-direction: column;
		}

		&__address {
			margin-bottom: 15px;
		}

		&__policy {
			display: flex;
			flex-direction: column;
			margin-top: 0;
			padding-top: 0;

			.footer-policy,
			.footer-copyright {
				display: none;
			}
		}

		&__column {
			&:first-child {
				padding-top: 45px;
				margin-bottom: 45px;
				border-bottom: 1px solid $pearl-white;

				.logo {
					display: none;
				}

				.social {
					display: flex;
					order: -1;
					margin-top: 0;
					margin-bottom: 50px;
				}
			}

			&:nth-child(3) {
				order: -1;
				padding-top: 0;

				.logo {
					display: block;
				}
			}

			&:last-child {
				order: -1;
				padding-top: 0;
				border-bottom: 1px solid $pearl-white;

				.footer__results-title,
				.license {
					display: none;
				}
			}
		}

		&__results-title {
			max-width: none;
		}

		&__about {
			margin-bottom: 20px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		&__courses {
			margin-bottom: 25px;
		}

		&__courses-programms {
			display: block;
		}

		&__address {
			max-width: 380px;
		}

		&__mobile-block {
			display: flex;
			flex-direction: column;

			.footer-copyright {
				display: block;
			}

			.footer-policy {
				p {
					margin-bottom: 15px;
				}

				margin-bottom: 15px;
			}

			.with-love {
				margin-bottom: 15px;
			}
		}
	}
}