.grid {
	display: grid;
	gap: 20px;

	&--2 {
		grid-template-columns: repeat(2, minmax(250px, 1fr));
	}

	&--3 {
		grid-template-columns: repeat(3, minmax(250px, 1fr));
	}

	&--2-1-2 {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
			'a e b'
			'c e d';

		:nth-child(1) { grid-area: a; }
		:nth-child(2) { grid-area: b; }
		:nth-child(3) { grid-area: c; }
		:nth-child(4) { grid-area: d; }
		:nth-child(5) { grid-area: e; }

		@include breakpoint($breakpoint-md) {
			gap: 15px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas: 
			'a b'
			'c b'
			'd e';
		}

		@include breakpoint($breakpoint-sm) {
			grid-template-columns: repeat(2, minmax(250px, 1fr));
			justify-content: center;
		}
	}
}