@use 'sass:list';
@use 'sass:map';

@use 'styles/variables';
@use 'styles/mixins';

@mixin heading($size: 'md', $weight: 700) {
    $sizes: map.get(variables.$heading-sizes, $size);
    $font-size: list.nth($sizes, 1);
	$line-height: list.nth($sizes, 2);

    font-size: $font-size;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: 0em;
}

@mixin xl {
    @include heading('xl');

    @include mixins.bp(lt-lg) {
        font-size: 42px;
        line-height: 40px;
    }
}

@mixin lg {
    @include heading('lg');

    @include mixins.bp(lt-lg) {
        font-size: 36px;
        line-height: 35px;
    }
}

@mixin md {
    @include heading('md');

    @include mixins.bp(lt-lg) {
        font-size: 32px;
        line-height: 30px;
    }
}

@mixin sm {
    @include heading('sm');

    @include mixins.bp(lt-lg) {
        font-size: 18px;
        line-height: 20px;
    }
}

@mixin xs {
    @include heading('xs');

    @include mixins.bp(lt-lg) {
        font-size: 16px;
        line-height: 15px;
    }
}

.heading--xl {
    @include xl;
}

.heading--lg {
    @include lg;
}

.heading--md {
    @include md;
}

.heading--sm {
    @include sm;
}

.heading--xs {
    @include xs;
}