@use 'sass:list';
@use 'sass:map';

@use 'styles/mq';
@use 'styles/variables';

$heading-sizes: (
    h1: (
        sm: (42px, 40px, 700),
        md: (42px, 40px, 700),
        lg: (68px, 60px, 700)
    ),
    h2: (
        sm: (28px, 30px, 700),
        md: (36px, 35px, 700),
        lg: (46px, 45px, 700)
    ),
    h3: (
        sm: (26px, 25px, 700),
        md: (32px, 30px, 700),
        lg: (42px, 40px, 700)
    ),
    h4: (
        sm: (18px, 20px, 700),
        md: (24px, 25px, 700),
        lg: (32px, 30px, 700)
    ),
    h5: (
        sm: (18px, 20px, 700),
        md: (18px, 20px, 700),
        lg: (24px, 25px, 700)
    )
);

@mixin heading($size, $height: null, $weight: 700) {
    font-size: $size;
    @if $height {
        line-height: $height;
    }
    @if $weight {
        font-weight: $weight;
    }
}

@mixin styles($size, $height: null, $weight: null) {
    font-size: $size;
    @if $height {
        line-height: $height;
    }
    @if $weight {
        font-weight: $weight;
    }
}

@mixin h1($weight: null) {
    @include _heading(h1, $weight: $weight);
}

@mixin h2($weight: null) {
    @include _heading(h2, $weight: $weight);
}

@mixin h3($weight: null) {
    @include _heading(h3, $weight: $weight);
}

@mixin h4($weight: null) {
    @include _heading(h4, $weight: $weight);
}

@mixin h5($weight: null) {
    @include _heading(h5, $weight: $weight);
}

@mixin _heading($level, $weight: null) {
    $sizes: map.get($heading-sizes, $level);
    $values: map.get($sizes, sm);
    $font-size: list.nth($values, 1);
    $line-height: list.nth($values, 2);
    $font-weight: $weight or list.nth($values, 3);

    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;

    @include mq.from(md) {
        $values: map.get($sizes, md);
        $font-size: list.nth($values, 1);
        $line-height: list.nth($values, 2);
        $font-weight: $weight or list.nth($values, 3);

        font-size: $font-size;
        line-height: $line-height;
        font-weight: $font-weight;
    }

    @include mq.from(lg) {
        $values: map.get($sizes, lg);
        $font-size: list.nth($values, 1);
        $line-height: list.nth($values, 2);
        $font-weight: $weight or list.nth($values, 3);

        font-size: $font-size;
        line-height: $line-height;
        font-weight: $font-weight;
    }
}

.heading-1 {
    @include h1;
}

.heading-2 {
    @include h2;
}

.heading-3 {
    @include h3;
}

.heading-4 {
    @include h4;
}

.heading-5 {
    @include h4;
}