.header {
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	z-index: 100;

	.logo {
		margin-right: 45px;
	}

	&__free-lesson {
		font-size: 14px;
		line-height: 1;
		border-width: 1.5px;
		letter-spacing: 1.4px;
		margin-right: 20px;

		@include hover-active(
			background-color,
			transparent,
			border-color,
			$medium-magenta,
			color,
			$medium-magenta
		);
	}

	.phone-numbers {
		margin-right: 20px;
	}

	&.expanded {
		.header__overview {
			max-width: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	&.opened {
		.header__navigation {
			transform: translateY(-15px);
		}

		.header__burger-line {
			&:first-child {
				transform: rotate(45deg) translate(4px, 3.5px);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:last-child {
				transform: rotate(-45deg) translate(4px, -3.5px);
			}
		}
	}

	&__overview {
		color: $white;
		background-color: #5e288a;
		border-radius: $border-radius-sm;
		width: 1280px;
		max-width: calc(100% - 40px);
		height: 65px;
		margin: 0 auto;
		transition: 0.2s linear all;

		@include breakpoint($breakpoint-md) {
			max-width: calc(100% - 30px);
		}

		.header-container {
			max-width: 1280px;
			margin: 0 auto;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 60px;

			transition: 0.3s all linear;
		}
	}

	&__city {
		margin-bottom: 5px;
	}

	&__item {
		position: relative;

		&:hover {
			> .subnav {
				opacity: 1;
				visibility: visible;
			}
		}

		&:nth-child(7) {
			display: none;
		}

		&:last-child {
			display: none;

			.subnav {
				right: -40px;
				left: auto;
			}
		}
	}

	&__test {
		margin-right: 20px;
	}

	&__callback {
		margin-right: 50px;
	}

	&__login {
		letter-spacing: 1.4px;

		margin-left: auto;
	}

	&__test,
	&__callback,
	&__login,
	.phone-numbers__link {
		background-color: transparent;
		border: none;
		text-transform: uppercase;
		color: $white;
		font-family: "Raleway", sans-serif;
		font-weight: 800;

		padding: 0;

		transition: color 0.3s linear;
		letter-spacing: 1.4px;
		line-height: normal;

		&:hover {
			color: $medium-magenta;
		}
	}

	&__contacts {
		font-weight: 700;
		line-height: 12px;
	}

	&__navigation {
		position: relative;
		z-index: 1;
		transition: 0.2s linear all;
		z-index: -1;
		height: 55px;
		padding-top: 15px;
		font-weight: 700;
		background-color: $pearl-white;
		transform: translateY(-120%);
	}

	&__list {
		height: 100%;
		width: 735px;
		max-width: calc(100% - 120px);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__sublink {
		color: $black;
		transition: color 0.3s linear;

		&:hover {
			color: $violet;
		}
	}

	&__burger {
		position: relative;
		display: none;
		width: 22px;
		padding: 0;
		margin-left: 40px;
		border: none;
		background-color: transparent;
	}

	&__burger-line {
		height: 2px;

		background-color: $white;
		border-radius: 10px;
		transition: 0.3s linear all;

		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&__trial-lesson {
		margin: 0 auto;
		display: none;
		min-width: 326px;
	}

	@include breakpoint($breakpoint-xl) {
		.header-container {
			padding: 0 40px;
		}

		&__test {
			display: none;
		}

		&__item {
			&:nth-child(7) {
				display: block;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		.logo {
			margin-right: 20px;
		}

		&__free-lesson {
			margin-right: 15px;
		}

		&__callback {
			margin-right: 110px;
		}

		&__contacts {
			display: none;
		}
	}

	@include breakpoint($breakpoint-md) {
		.header-container {
			padding: 0 30px;
		}

		.phone-numbers {
			margin-left: auto;
			margin-right: 0;
		}

		&__callback {
			margin-right: 0;
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__callback {
			display: none;
		}

		&__item {
			&:nth-child(7) {
				order: -1;
			}

			&:nth-child(4),
			&:nth-child(6) {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		font-size: 16px;

		.phone-numbers {
			margin-left: 30px;
		}

		.logo {
			margin-right: 10px;
		}

		&__free-lesson {
			display: none;
		}

		&__trial-lesson {
			display: block;
		}

		&__burger {
			display: block;
		}

		&__navigation {
			padding-bottom: 30px;
			border-radius: 0 0 $border-radius $border-radius;
		}

		&__item {
			.subnav {
				transition: 0.3s linear;
			}

			width: 100%;
			padding: 12px 30px;

			&:nth-child(7) {
				order: 1;
			}

			&:nth-child(4),
			&:nth-child(6) {
				display: block;
			}

			&:last-child {
				display: none;
			}

			&:has(.subnav) {
				cursor: pointer;

				.main-header__sublink {
					pointer-events: none;
				}

				&::before {
					content: "";
					background: url("./static/images/icons/check-3.svg")
						center center/cover no-repeat;
					width: 12px;
					height: 6px;
					position: absolute;
					top: 20px;
					right: 28px;
					transform: scaleY(-1);
					transition: 0.3s linear transform;
				}

				&.active {
					&::before {
						transform: scaleY(1);
					}
				}
			}
		}

		.main-header__navigation {
			background-color: $white;
			height: auto;
			margin: 0 20px;
		}

		.main-header__list {
			flex-direction: column;
			align-items: flex-start;
			width: auto;
			max-width: none;
			margin: 0;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.phone-numbers {
			display: none;
		}

		&__trial-lesson {
			max-width: 100%;
			min-width: auto;
			width: 300px;
		}
	}
}