@use 'global' as *;

.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	&--sm {
		svg {
			width: 15px;
			height: 15px;
		}
	}

	&--white {
		svg * {
			fill: $white;
		}
	}
}