@use 'global' as *;

.input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: $br-l;
    font-family: $font-family;
    font-weight: 500;

    &--invalid {
        border: 2px solid $red;

        &::after {
            width: 20px;
            height: 20px;
            display: inline-block;
            content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguOTU0IDExLjEzMDFWNS4wNDAxMkgxMS4xOTRWMTEuMTMwMUg4Ljk1NFpNOC45NTQgMTUuMDc4MVYxMi43NTQxSDExLjE5NFYxNS4wNzgxSDguOTU0WiIgZmlsbD0iI0U3MTkxOSIvPgo8Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSI5IiBzdHJva2U9IiNFNzE5MTkiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
        }
    }
}