.invite {
	position: relative;

	&__content {
		display: flex;
		justify-content: space-between;
		padding: 40px 60px 55px;

		background-color: $yellow;
		border-radius: $border-radius;
	}

	&__title {
		max-width: 381px;
		margin-bottom: 20px;

		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	&__description {
		max-width: 290px;
	}

	&__left {
		flex-basis: 648px;
	}

	&__right {
		flex-basis: 473px;
	}

	&__bg {
		width: 545px;
		height: 404px;
		object-fit: contain;
		object-position: bottom;
		position: absolute;
		bottom: 0;
		left: 465px;
		transform: translateX(-50%);
	}

	&--children {
		.invite__content {
			padding: 40px 60px 105px;
			background-color: $medium-magenta;
		}

		.invite__bg {
			width: 566px;
			height: 374px;
			left: 432px;
		}
	}

	@include breakpoint($breakpoint-xl) {
		&__bg {
			left: 390px;
		}

		&--children {
			.invite__bg {
				left: 330px;
			}
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__bg {
			height: 309px;
			left: 320px;
		}

		&__right {
			flex-basis: 70%;
		}

		&--children {
			.invite__bg {
				height: 309px;
				left: 250px;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		&__title {
			font-size: 32px;
			line-height: 30px;
		}

		&__description {
			max-width: 242px;
		}

		&__bg {
			height: 290px;
			left: 220px;
		}

		&__right {
			flex-basis: 100%;
		}

		&--children {
			.invite__bg {
				height: 270px;
				left: 220px;
			}

			.invite__right {
				flex-basis: 80%;
			}
		}
	}

	@include breakpoint($breakpoint-sm) {
		&__content {
			padding: 25px 30px 34px;
		}

		&__title {
			max-width: 300px;
		}

		&__bg {
			height: 260px;
			left: 200px;
		}

		&--children {
			.invite__content {
				padding: 25px 30px 34px;
			}

			.invite__bg {
				height: 240px;
				left: 200px;
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__content {
			flex-direction: column;
		}

		&__left {
			flex-basis: auto;
			margin-bottom: 25px;
		}

		&__bg {
			display: none;
		}

		&__title {
			font-size: 26px;
			line-height: 25px;

			max-width: 240px;
			margin-bottom: 10px;
		}
	}
}
