.license {
	display: flex;
	justify-content: space-between;
  	align-items: center;
	height: 75px;
  	position: relative;

	background-color: $pearl-white;
	border-radius: $border-radius-sm;
	font-size: 16px;
	line-height: 15px;

	&__info {
		padding-left: 110px;
	}

	&__img {
		position: absolute;
		top: -3px;
		left: -4px;
		width: 145px;
		height: 79px;
		display: block;
		object-fit: cover;
	}

	&__title {
		font-weight: 700;
    	margin-bottom: 5px;
	}

	&__series {
		font-weight: 500;
	}
}