@use 'global' as *;

.link {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	cursor: pointer;

	&--primary {
		color: $purple;
	}

	&--interactive {
		transition: 0.3s color;
		
		&:hover {
			color: $purple;
		}
	}

	&--underlined {
		text-decoration: underline;
	}

	p & {
		border-bottom: 1px dotted currentColor;
		color: inherit;
		font-weight: inherit;
		line-height: inherit;
		text-decoration: none;

		&:hover {
			color: $purple;
		}
	}
}

button.link {
	border: none;
	padding: 0;
	background: none;
}