.link {
	color: $purple;
	font-weight: inherit;

    &:hover {
        color: $purple;
		cursor: pointer;
    }

	p & {
		border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
		color: inherit;
		font-weight: inherit;
		line-height: inherit;
		text-decoration: none;

		&:hover {
			color: $purple;
		}
	}

	&--underlined {
		text-decoration: underline;
	}
}

button.link {
	border: none;
	padding: 0;
	background: none;
}