.list {
	display: flex;
	flex-direction: column;
	gap: 15px;

	&-item {
		position: relative;

		&__title {
			font-weight: 800;
			margin-bottom: 10px;
		}
	
		&__description {
			font-weight: 600;
		}

		> a {
			color: inherit;
			transition: 0.3s linear all;

			&:hover {
				color: $purple;
			}
		}
	}

	&--dl {
		.list-item {
			display: flex;
			align-items: center;
		}
	}

	&--check {
		.list-item {
			display: flex;
			gap: 1rem;

			&::before {
				content: '';
				display: inline-block;
				width: 42px;
				height: 42px;
				flex-shrink: 0;
				background: url('./static/images/icons/check.svg') center center/contain no-repeat;
			}
		}
	}

	&#{&}--check#{&}--sm {
		.list-item {
			&::before {
				width: 36px;
				height: 36px;
			}
		}
	}

	&--numbers {
		.list-item {
			&::before {
				content: '0' counter(myCounter) '.';
				font-size: 14px;
				left: -30px;
			}
		}
	}

	&--steps {
		counter-reset: steps;

		.list-item {
			&::before {
				content: 'Шаг ' counter(steps) '.';
				counter-increment: steps;
				margin-right: 1rem;
				font-size: 18px;
				font-weight: 800;
				line-height: 20px;
			}
		}
	}

	&--marker-center {
		.list-item {
			align-items: center;
			
			&::before {
				align-self: center;
			}
		}
	}

	&--gap-xs {
		gap: 5px;
	}

	&--gap-sm {
		gap: 10px;
	}

	&--gap-md {
		gap: 15px;
	}

	&--gap-lg {
		gap: 20px;
	}

	@include breakpoint($breakpoint-lg) {
		&--ul,
		&--ul-sm {
			.list__item {
				&::before {
					width: 22px;
					height: 21px;
					top: -3px;
					left: -35px;
				}
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		&--ol {
			.list__item {
				&::before {
					left: -60px;
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}
}