@use 'styles/mq';
@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&-item {
		position: relative;

		&__link {
			display: flex;
			gap: 10px;
			align-items: center;
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 5px 10px;
		}

		&__title {
			font-weight: 800;
		}
	
		&__description {
			font-weight: 600;
		}
	}

	&--ol,
	&--ul {
		list-style: inside;
	}

	&--dl {
		.list-item {
			&__content {
				align-items: center;
			}
		}
	}

	&--check {
		.list-item {
			display: flex;
			gap: 16px;

			&::before {
				content: '';
				display: inline-block;
				flex-shrink: 0;
				width: 24px;
				height: 24px;
				background: url('./static/images/icons/check.svg') center center/contain no-repeat;
			}

			@include mq.from(md) {
				&::before {
					width: 36px;
					height: 36px;
				}
			}

			@include mq.from(lg) {
				&::before {
					width: 42px;
					height: 42px;
				}
			}
		}
	}

	&#{&}--check#{&}--sm {
		.list-item {
			&::before {
				width: 36px;
				height: 36px;
			}
		}
	}

	&--numbers {
		.list-item {
			&::before {
				content: '0' counter(myCounter) '.';
				font-size: 14px;
				left: -30px;
			}
		}
	}

	&--steps {
		counter-reset: steps;

		.list-item {
			display: flex;
			gap: 16px;

			&::before {
				content: 'Шаг ' counter(steps) '.';
				counter-increment: steps;
				flex-shrink: 0;
				font-weight: 800;
			}
		}
	}

	&--marker-center {
		.list-item {
			align-items: center;
			
			&::before {
				align-self: center;
			}
		}
	}

	&--gap-none {
		gap: 0;
	}

	&--gap-xs {
		gap: 5px;
	}

	&--gap-sm {
		gap: 10px;
	}

	&--gap-md {
		gap: 15px;
	}

	&--gap-lg {
		gap: 20px;
	}

	@include mq.from(lg) {
		&--ul,
		&--ul-sm {
			.list-item {
				&::before {
					width: 22px;
					height: 22px;
					top: -3px;
					left: -35px;
				}
			}
		}
	}

	@include mq.from(md) {
		&--ol {
			.list-item {
				&::before {
					left: -60px;
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}
}