.main-list {
	color: $white;
	margin-left: 25px;

	&__item {
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 18px;
			position: absolute;
			top: 50%;
			left: -20px;
			transform: translateY(-50%);
			background: url("./static/images/icons/rhomb.svg") center
				center/cover no-repeat;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__primary {
		color: $yellow;
	}
}
