.manager-card {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    .card-body {
        // @include media-breakpoint-up(md) {
        //     padding-top: 0;
        // }

        .card-title {
            margin-top: 0;
            margin-bottom: .25rem;
        }

        .card-subtitle {
            margin-top: 0;
            font-weight: normal;
            text-transform: uppercase;
        }
    }

    .card-footer {
        .card-link.phone {

        }
    }
}