.meeting-card {
	width: 100%;

	background-color: $white;
	border-radius: $border-radius;

	.tags {
		margin-bottom: 20px;
	}

	.btn {
		margin-top: auto;
	}

	&__content {
		min-height: 360px;
		padding: 25px 34px 50px 47px;
		display: flex;
		flex-direction: column;
	}

	&__img {
		display: block;
		width: 100%;
		object-fit: contain;
		border-radius: $border-radius;
	}

	&__info {
		margin-bottom: 5px;
	}

	&__title {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;

		margin-bottom: 10px;
	}

	&__list {
		margin-bottom: 15px;
	}

	&__list-item {
		display: flex;
		align-items: center;
		gap: 14px;
	}

	&__name {
		color: $black;

		&:hover {
			text-decoration: underline;
		}
	}

	&__price {
		font-size: 24px;
		font-weight: 800;
		line-height: 25px;
	}

	&__header,
	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		margin-bottom: 15px;
	}

	&__footer {
		align-items: flex-end;
		margin-top: 20px;
	}

	&__description {
		margin-bottom: 10px;
	}

	&__left {
		width: 50%;
	}

	@include breakpoint($breakpoint-lg) {
		&__content {
			min-height: 340px;
			padding: 25px 30px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		&__header,
		&__footer {
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}
	}
}