.methods {
	display: flex;

	&__method {
		flex-basis: 50%;
		min-height: 530px;
		padding: 50px 54px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: $border-radius;

		&:first-child {
			z-index: 1;
			background-color: $medium-magenta;
		}

		&:last-child {
			background-color: $yellow;
			border-radius: 0 $border-radius $border-radius 0;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -50px;
				width: 50px;
				height: 100%;
				background-color: $yellow;
			}
		}
	}

	&__title {
		margin-bottom: 15px;

		font-size: 24px;
		font-weight: 700;
		line-height: 25px;
	}

	&__description {
		margin-bottom: 20px;
	}

	&__comment {
		min-height: 260px;
		padding: 45px 30px 35px 50px;
		margin-top: auto;

		background-color: $white;
		border-radius: $border-radius;

		p {
			margin-bottom: 10px;
		}
	}

	@include breakpoint($breakpoint-md) {
		&__method {
			min-height: 500px;
			padding: 40px;
		}

		&__comment {
			min-height: 250px;
			padding: 30px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		flex-direction: column;

		&__method {
			min-height: 350px;

			&:first-child {
				border-radius: $border-radius $border-radius 0 0;

				&::before {
					content: "";
					position: absolute;
					bottom: -50px;
					left: 0;
					width: 100%;
					height: 50px;
					background-color: $medium-magenta;
				}
			}

			&:last-child {
				border-radius: $border-radius;
				z-index: 1;

				&::before {
					display: none;
				}
			}
		}

		&__comment {
			min-height: 150px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&__title {
			max-width: 390px;

			font-size: 18px;
			line-height: 20px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		&__method {
			padding: 30px;
		}

		&__comment {
			padding: 20px;
		}
	}
}