@use 'global' as *;
@use 'components/heading';
@use 'components/text';
@use 'mq';

.modal {
	--modal-max-width: 1024px;
	--modal-max-height: 768px;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.66);
	backdrop-filter: blur(20px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	z-index: 1000;

	&__surface {
		position: relative;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		
		@include mq.from(sm) {
			margin: 20px;
		}
	}
	
	&__body {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: $pale-white;
		overflow: hidden;
		@include border-radius;
		
		@include mq.to(sm) {
			max-width: calc(100% - 20px);
			max-height: calc(100% - 20px);
		}

		@include mq.from(sm) {
			max-width: var(--modal-max-width);
			max-height: var(--modal-max-height);
		}
	}

	&__title {
		@include heading.h4;
	}

	&__description {
		margin-top: 10px;
		@include text.body1;
	}

	&__content {
		flex: 1;
    	overflow-x: hidden;
		overflow-y: auto;
	}

	&__close {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 50%;
		background-color: $black;
		color: $white;
		z-index: 1;
		
		@include hover-active((
			background-color: $black
		));
	}

	@include mq.from(md) {
		&__close {
			top: -25px;
			right: -25px;
			width: 50px;
			height: 50px;
		}
	}

	&--open {
		visibility: visible;
		opacity: 1;
	}

	&--open &__surface {
		opacity: 1;
	}

	&--with-tabs {
		--tabs-height: 40px;

		.modal__surface {
			margin-top: calc(var(--tabs-height) + 20px);
		}

		.tabs {
			&__nav {
				position: absolute;
				top: calc(var(--tabs-height) * -1);
			}

			.tab {
				min-height: var(--tabs-height);
			}
		}

		@include mq.from(md) {
			--tabs-height: 50px;
		}
	}
}