.phone-numbers {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	&__item {
		display: flex;
		justify-content: space-between;
		gap: 8px;

		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&__link {
		color: $white;
	}
}