.play {
	display: inline-block;
	width: 50px;
	height: 50px;

	border-radius: 100%;
	border: 2px solid $black;
	background: url("./static/images/icons/play.svg") center no-repeat
		#fffcff80;
	cursor: pointer;
	transition: 0.3s linear background-color;

	&:hover {
		background-color: $white;
	}
}