.progress-card {
	width: calc(50% - 10px);
	min-height: 510px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: $border-radius;
	background-color: $white;

	&__media {
		height: 310px;
		margin: 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 34px 55px 46px 50px;
	}

	&__title {
		margin-bottom: 5px;
		font-weight: 800;
	}

	&__description {
		margin-bottom: 15px;
	}

	.list {
		margin-top: auto;
		padding: 0;

		&-item {
			margin: 0;

			&__title {
				flex-basis: 200px;
				margin: 0;
				font-weight: 700;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		min-height: 430px;

		.video {
			height: 250px;
		}

		&__content {
			padding: 20px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		min-height: 344px;

		.video {
			height: 200px;
		}

		&__start,
		&__teacher {
			flex-basis: 160px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		&__start,
		&__teacher {
			flex-basis: 150px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		width: 100%;

		.video {
			height: 280px;
		}

		&__start,
		&__teacher {
			flex-basis: 200px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.video {
			height: 250px;
		}

		&__start,
		&__teacher {
			flex-basis: 150px;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		.video {
			height: 200px;
		}

		&__start,
		&__teacher {
			flex-basis: auto;
		}

		&__item {
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 5px;
		}
	}
}