.section {
	position: relative;
	margin-bottom: 100px;
	border-radius: $border-radius;

	&__container {
		position: relative;
		max-width: 1156px;
		margin: 0 auto;
	}

	&__title {
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;
	}

	&__description {
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;

		p + p {
			margin-top: 10px;
		}
	}

	&__content {
		position: relative;
	}

	&--purple {
		background-color: $purple;
		color: $white;
	}

	&--horizontal &__container {
		display: flex;
	}

	@include breakpoint($breakpoint-lg) {
		margin-bottom: 70px;

		&__title {
			font-size: 32px;
			line-height: 30px;
		}
	}

	@include breakpoint($breakpoint-xs) {
		margin-bottom: 60px;

		&__title {
			font-size: 28px;
			line-height: 30px;
		}
	}

	@include breakpoint($breakpoint-xxs) {
		margin-bottom: 50px;

		&__title {
			font-size: 26px;
			line-height: 25px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		border-radius: 0;
	}
}