.slick-slider {
    .slick-list {
        // @include media-breakpoint-up(md) {
        //     width: calc(100% - 96px);
        //     margin: auto;
        // }
    }

    .slick-slide img {
        width: 100%;
        height: 100%;
    }

    .slick-arrow {
        width: 48px;
        z-index: 1;
        cursor: pointer;

        .fa {
            font-size: 2rem;
        }
    }

    .carousel-indicators {
        position: static;
        margin-top: 1rem;

        li {
            button {
                display: none;
            }

            &.slick-active {
                //background-color: $danger-color;
            }
        }
    }
}