@use 'styles/mq';
@use 'styles/variables';

// TODO: Add negative margin and padding to make slider fullscreen

.slider {
	position: relative;
	overflow: hidden;

	@include mq.from(lg) {
		margin-top: -70px;
		padding-top: 70px;
	}

	&__arrows {
		display: flex;
		gap: 5px;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__left-arrow {
		&::before {
			top: 29%;
			left: 45%;
			transform: rotate(45deg);
		}

		&::after {
			top: 45%;
			left: 45%;
			transform: rotate(-45deg);
		}
	}

	&__right-arrow {
		&::before {
			top: 29%;
			left: 50%;
			transform: rotate(-45deg);
		}

		&::after {
			top: 45%;
			left: 50%;
			transform: rotate(45deg);
		}
	}

	&__left-arrow,
	&__right-arrow {
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 12px;
			border-radius: 5px;
			background-color: variables.$black;
		}

		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;

		border-radius: 100%;
		border: none;
		background-color: variables.$white;
		transition: 0.3s ease filter;

		&.swiper-button-disabled {
			&::before,
			&::after {
				background-color: lighten(variables.$black, 50%);
			}

			&:hover {
				filter: none;
			}
		}

		&:hover {
			filter: drop-shadow(0px 0px 3.807px #f1efec);
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		margin-top: 20px;

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			background-color: transparent;
			border: 2px solid variables.$black;
			border-radius: 100%;
			opacity: 1;

			&-active {
				background-color: variables.$black;
			}
		}
	}
}