@use 'variables' as *;

@mixin styles($size: auto) {
    --spinner-size: #{$size};

    width: var(--spinner-size);
    height: var(--spinner-size);
    color: var(--spinner-color);
    border: 5px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
}

.spinner {
    --spinner-color: #{$black};

    @include styles;

    &--sm {
        --spinner-size: 24px;
    }

    &--md {
        --spinner-size: 36px;
    }

    &--lg {
        --spinner-size: 48px;
    }

    &--black {
        --spinner-color: $black;
    }

    &--white {
        --spinner-color: $white;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}