.card.story-card {
    text-align: center;

    .author {
        .avatar-big {
            width: 150px;
            height: 150px;
        }
    }

    .card-footer {
        padding-top: 0;
    }
}