.subtitle {
	font-size: 42px;
	font-weight: 700;
	line-height: 40px;

	@include breakpoint($breakpoint-lg) {
		font-size: 32px;
		line-height: 30px;
	}

	@include breakpoint($breakpoint-xxs) {
		font-size: 26px;
		line-height: 25px;
	}
}