@use 'global' as *;
@use 'components/text';
@use 'mq';

.tabs {
	--nav-max-width: none;
	--nav-gap: 5px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	&__nav {
		width: 100%;
		max-width: var(--nav-max-width);
		display: flex;
		gap: var(--nav-gap);
	}

	@include mq.from(sm) {
		--nav-max-width: 480px;
		--nav-gap: 10px;
	}

	@include mq.from(md) {
		gap: 30px;
	}

	@include mq.from(ld) {
		gap: 40px;
	}

	&--centered &__nav {
		margin-left: auto;
		margin-right: auto;
	}

	&--pills {
		.tab {
			border-radius: 0;

			&:first-of-type {
				border-radius: $border-radius 0 0 $border-radius;
			}

			&:last-of-type {
				border-radius: 0 $border-radius $border-radius 0;
			}
		}
	}

	&--underline {
		.tab {
			min-height: 40px;
			background-color: $white;
			border-bottom: 2px solid $pale-white;

			@include mq.from(lg) {
				min-height: 56px;
			}

			&--active {
				border-bottom: 2px solid $black;
			}
		}
	}

	&--yellow {
		.tab {
			background-color: $white;

			&--active {
				background-color: $yellow;
			}
		}
	}

	&--violet {
		.tab {
			background-color: $white;

			&--active {
				background-color: $violet;
				color: $white;
			}
		}
	}

	&--purple {
		.tab {
			background-color: $white;

			&--active {
				background-color: $purple;
				color: $white;
			}
		}
	}

	&--big {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		.tab {
			width: 100%;
			min-height: 60px;
		}
	}
}

.tab {
	flex: 1 0;
	padding: 0 20px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: $border-radius-sm $border-radius-sm 0 0;
	background-color: $white;
	@include text.body1($weight: 700);
	white-space: nowrap;

	&--active {
		background-color: $pale-white;
	}
}