.tabs {
	position: relative;

	&__nav {
		max-width: 470px;
		display: flex;
		justify-content: space-between;
		gap: 10px;

		.select {
			display: none;
		}
	}

	&__tab {
		width: 279px;
		min-height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: $border-radius-sm $border-radius-sm 0 0;
		background-color: $white;
		font-weight: 700;

		&--active {
			background-color: $pale-white;
		}
	}

	&--pills {
		.tabs__tab {
			&:first-of-type {
				border-radius: $border-radius 0 0 $border-radius;
			}

			&:last-of-type {
				border-radius: 0 $border-radius $border-radius 0;
			}
		}
	}

	&--yellow {
		.tabs {
		    &__tab {
    		    background-color: $white;

				&--active {
					background-color: $yellow;
				}
    		}
		}
	}

	&--magenta {
		.tabs {
		    &__tab {
    		    background-color: $white;

				&--active {
					background-color: $medium-magenta;
					color: $white;
				}
    		}
		}
	}

	&--big {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		.tabs__tab {
			width: 100%;
			min-height: 60px;
		}
	}
}