@use 'global' as *;
@use 'mq';

.tags {
	display: flex;
	gap: 5px;

	@include mq.from(md) {
		gap: 10px;
	}
}

.tag {
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black;
	font-weight: 600;
	font-size: 14px;
	border-radius: $border-radius-xs;
	white-space: nowrap;

	&--outlined {
		border: 2px solid currentColor;
	}

	&--yellow {
		background-color: $yellow;
		color: $black;
	}

  	&--purple {
		background-color: $violet;
		color: $white;
	}
}