.teacher-card {
	display: flex;
	background-color: $white;
	border-radius: $border-radius;
	color: $black;

	.video {
		margin: 0;

		.play {
			bottom: 30px;
			right: 30px;
		}
	}

	&__info {
		width: 687px;
		padding: 47px 60px 0px 48px;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 700;
		line-height: 25px;
	}

	&__description {
		margin-bottom: 20px;
	}

	&__list {
		padding-left: 15px;
	}

	&__list--outside {
		display: none;
	}

	&__list-item {
		position: relative;

		&::before {
			content: "";
			width: 4px;
			height: 4px;
			position: absolute;
			top: 8px;
			left: -14px;
			background-color: #262626;
			border-radius: 50%;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	@include breakpoint($breakpoint-lg) {
		&__info {
			padding: 30px;
		}
	}

	@include breakpoint($breakpoint-md) {
		.video {
			.play {
				bottom: 20px;
				right: 20px;
			}
		}

		&__info {
			padding: 20px;
		}
	}

	@include breakpoint($breakpoint-sm) {
		flex-wrap: wrap;

		.video {
			flex-basis: 35%;
			.play {
				bottom: 10px;
				right: 10px;
			}
		}

		&__info {
			flex-basis: 65%;
		}

		&__description {
			margin-bottom: 0;
		}

		&__list--inside {
			display: none;
		}

		&__list--outside {
			display: block;
			flex-basis: 100%;
			padding: 20px 30px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		.video {
			flex-basis: 100%;
		}

		&__title {
			font-size: 18px;
			line-height: 20px;
		}

		&__info {
			flex-basis: 100%;
			padding-bottom: 0;
		}
	}
}