.teacher-block {
	width: 668px;
	height: 430px;
	padding: 30px;
	display: none;
	gap: 15px;

	background-color: $pale-white;
	border-radius: $border-radius;

	.custom-select {
		display: none;
	}

	.subtabs {
		width: 67%;
	}

	.video {
		width: 100%;

		.play {
			bottom: 10px;
			right: 10px;
		}
	}

	button.btn {
		margin: 0;
		margin-top: auto;
	}

	&__person {
		width: 33%;

		display: flex;
		flex-direction: column;
	}

	&__title {
		max-width: 150px;
		font-weight: 700;
		line-height: 25px;

		margin-bottom: 20px;
	}

	&__free-lesson {
		font-size: 14px;
		font-weight: 600;
		line-height: 15px;

		margin-bottom: 15px;
	}

	&__share-link {
		position: absolute;
		top: 35px;
		right: -25px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: none;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include breakpoint($breakpoint-xxs) {
		width: 470px;
		height: 550px;
		flex-direction: column;

		.play {
			width: 35px;
			height: 35px;
			background-size: 40%;
		}

		.about-teacher,
		.specializations,
		.teacher-reviews {
			height: 310px;
		}

		.subtabs {
			width: 100%;
		}

		.video {
			width: 35%;
			margin-bottom: 0;
		}

		&__person {
			width: 100%;
			flex-direction: row;
			gap: 15px;
		}

		&__info {
			width: 65%;
		}

		&__free-lesson {
			margin-bottom: 20px;
		}
	}

	@include breakpoint($breakpoint-mobile) {
		width: 420px;
		padding: 20px;

		.video {
			width: 40%;
		}

		&__info {
			width: 60%;
		}

		&__person {
			gap: 10px;
		}

		&__share-link {
			top: 30px;
			right: -15px;
			width: 40px;
			height: 40px;

			img {
				width: 70%;
			}
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		.subtabs__nav {
			padding: 0;
			border-radius: $border-radius $border-radius 0 0;
		}

		.subtabs__tab {
			display: none;
		}

		.custom-select {
			display: block;
		}
	}

	@include breakpoint($breakpoint-sm-mobile) {
		width: 315px;
		height: 630px;

		.video {
			width: 70%;
			margin: 0 auto;
		}

		.about-teacher,
		.specializations,
		.teacher-reviews {
			height: 220px;
		}

		&__title,
		&__free-lesson {
			margin-bottom: 10px;
		}

		&__person {
			width: 100%;
			flex-direction: column;
			gap: 10px;
		}

		&__info {
			width: 100%;
		}
	}
}