@use 'sass:list';
@use 'sass:map';

@use 'styles/variables';

@mixin text($size: 'md', $weight: 600) {
	$sizes: map.get(variables.$text-sizes, $size);
	$font-size: list.nth($sizes, 1);
	$line-height: list.nth($sizes, 2);

	font-size: $font-size;
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: 0em;
}

@mixin xl {
	@include text('xl');
}

@mixin lg {
	@include text('lg');
}

@mixin md {
	@include text('md');
}

@mixin xs {
	@include text('xs');
}

@mixin sm {
	@include text('sm');
}

.text {
	@include text;

	&--xs {
		@include xs;
	}

	&--sm {
		@include sm;
	}

	&--md {
		@include md;
	}
	
	&--lg {
		@include lg;
	}

	&--xl {
		@include xl;
	}

	&--inline {
		display: inline;
		margin: 0;
	}

	&--block {
		display: block;
		margin-bottom: 1rem;
	}

	&--muted {
		color: lighten(variables.$black, 50%);
	}

	&--purple {
		color: variables.$purple;
	}

	&--yellow {
		color: variables.$yellow;
	}

	&--italic {
		font-style: italic;
	}

	&--semibold{
		font-weight: 700;
	}

	&--bold {
		font-weight: 800;
	}

	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--underline {
		text-decoration: underline;
	}
}

.asterisk-text {
	
}

.handwritten-text {
	font-family: 'Shantell Sans';
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
}