.text-blocks {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	.text-block {
		align-self: flex-start;
		min-height: 190px;

		&:nth-child(1) {
			min-height: 215px;
		}

		&:nth-child(2) {
			min-height: 425px;
		}

		&:nth-child(4) {
			margin-top: -210px;
		}

		&:nth-child(5) {
			margin-left: auto;
			min-height: 215px;
			margin-top: -235px;
		}
	}

	.subtitle {
		max-width: 740px;
		margin-bottom: 45px;
	}

	&--advantages {
		.text-block {
			min-height: 195px;

			.text-block__title {
				max-width: 220px;
			}

			&:nth-child(2) {
				overflow: hidden;

				.text-block__title {
					margin-top: 0;
				}
			}
		}
	}

	&--advantages-cooperation {
		.text-block {
			min-height: 175px;
			padding-right: 140px;

			&:nth-child(1) {
				min-height: 175px;
			}

			&:nth-child(2) {
				min-height: 370px;
			}

			&:nth-child(4) {
				min-height: 175px;
				margin-top: -195px;
			}

			&:nth-child(5) {
				min-height: 175px;
				margin-top: -195px;
			}

			.text-block__description {
				margin-top: auto;
			}
		}
	}

	@include breakpoint($breakpoint-md) {
		gap: 15px;

		.text-block {
			min-height: 185px;

			&:nth-child(1) {
				min-height: 185px;
			}

			&:nth-child(2) {
				min-height: 185px;
			}

			&:nth-child(4) {
				margin-top: 0;
			}

			&:nth-child(5) {
				min-height: 185px;
				margin: 0;
			}
		}

		&--advantages,
		&--advantages-cooperation,
		&--offline-shortly {
			.text-block {
				min-height: 140px;

				.text-block__title {
					max-width: 150px;
				}

				&:nth-child(1) {
					min-height: 140px;
				}

				&:nth-child(2) {
					min-height: 295px;
				}

				&:nth-child(3) {
					order: 1;
					margin-top: -15px;
				}

				&:nth-child(4) {
					min-height: 140px;
					margin-right: 50%;
					margin-top: -155px;
				}

				&:nth-child(5) {
					min-height: 140px;
					margin-top: -15px;
					order: 2;
				}
			}
		}

		&--advantages-cooperation {
			.text-block {
				.text-block__description {
					margin-top: 0;
					font-weight: 700;
				}

				&:nth-child(3) {
					order: 3;
				}
			}
		}
	}

	@include breakpoint($breakpoint-xxs) {
		&--advantages,
		&--advantages-cooperation,
		&--offline-shortly {
			.text-block {
				&:nth-child(2) {
					min-height: 140px;
				}

				&:nth-child(3) {
					margin-top: 0;
				}

				&:nth-child(4) {
					margin-right: 0;
					margin-top: 0;
				}

				&:nth-child(5) {
					margin-top: 0;
				}
			}
		}

		&--advantages {
			.text-block {
				&:nth-child(2) {
					&::before {
						display: none;
					}
				}
			}
		}
	}
}