@mixin text {
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;

	@include bp(lt-lg) {
        font-size: 16px;
        line-height: 18px;
    }
}

.text {
	font-family: 'Raleway';
	font-weight: 600;
	letter-spacing: 0em;

	&--block {
		margin-bottom: 1rem;
	}

	&--purple {
		color: $purple;
	}

	&--yellow {
		color: $yellow;
	}

	&--underline {
		text-decoration: underline;
	}

	&--italic {
		font-style: italic;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--center {
		text-align: center;
	}

	&--muted {
		color: lighten($black, 50%);
	}

	&--weight-700 {
		font-weight: 700;
	}

	&--bold,
	&--weight-800 {
		font-weight: 800;
	}

	&--xs {
		font-size: 14px;
		line-height: 15px;
	}

	&--sm {
		font-size: 16px;
		line-height: 15px;
	}

	&--md {
		font-size: 18px;
		line-height: 20px;
	}
	
	&--lg {
		font-size: 24px;
		line-height: 25px;
	}

	&--xl {
		font-size: 36px;
		line-height: 35px;
	}
}

.asterisk-text {
	
}

.handwritten-text {
	font-family: 'Shantell Sans';
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
}