@use 'components/text';
@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

.video {
	position: relative;

	&__media {
		width: 100%;
		height: 100%;
		position: relative;
		
		video {
			width: 100%;
			display: block;
			@include border-radius;
			overflow: hidden;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			@include border-radius;
			overflow: hidden;
		}
	}

	&__btn {
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 2px solid $black;
		border-radius: 100%;
		background: image('icons/play.svg') center no-repeat #fffcff80;
		transition: 0.3s linear background-color;
		z-index: 1;

		&:hover {
			background-color: $white;
		}
	}

	&__caption {
		@include text.handwritten;
	}

	&--framed &__media {
		@include decoration('elements/video-frame.svg', after) {
			top: -5%;
			left: -5%;
			width: 110%;
			height: 110%;
			background-size: cover;
		}
	}
}