<form class="callback-form form">
    <input type="hidden" name="type" value="call">

    <input class="input" type="text" name="name" placeholder="Имя*" required>

    <input class="input" type="tel" name="phone" placeholder="+7 (999) 999-99-99" required>

    {% include 'components/select.twig' with {
            name: 'channel',
            label: 'Выберите удобный способ связи:',
            options: [
                { value: 'call', content: 'Позвоните мне' },
                { value: 'whatsapp', content: 'Напишите мне в WhatsApp' },
                { value: 'telegram', content: 'Напишите мне в Telegram' }
            ]
        } %}

    <button class="btn btn--full" type="submit">Оставить заявку</button>

    <small class="text text--small">Нажимая Оставить заявку, я принимаю <a class="link link--underlined" href="{{links.agreement}}">Пользовательское соглашение</a> и даю согласие на обработку своих персональных данных на условиях <a class="link link--underlined" href="{{links.policy}}">Политики конфиденциальности</a>.</small>
</form>