<form class="callback-form form">
    <input class="input" type="text" name="name" placeholder="Имя" required>

    <input class="input" type="tel" name="phone" placeholder="+7 (999) 999-99-99" required>

    {% include 'components/select.twig' with {
        name: 'communication',
        label: 'Выберите удобный способ связи:',
        options: [
            'Позвоните мне',
            'Напишите мне в WhatsApp',
            'Напишите мне в Telegram'
        ]
    } %}

    <button class="btn btn--full" type="submit">Оставить заявку</button>

    <small class="text text--small">Нажимая «Записаться», я принимаю <a class="link link--underlined" href="{{links.agreement}}">Пользовательское соглашение</a> и даю согласие на обработку своих персональных данных на условиях <a class="link link--underlined" href="{{links.policy}}">Политики конфиденциальности</a>.</small>
</form>