{% embed 'components/slider.twig' with {
    name: 'course-results'
} %}
    {% block content %}
        {% for item in items %}
            <div class="swiper-slide">
                <div class="card">
                    <div class="card__media">
                        {% include 'components/video.twig' with {
                            youtube_id: 'Vsfz_1QzwDA',
                            image: {
                                path: 'video-sections/video-section-7.jpg'
                            },
                            modal: true
                        } %}
                    </div>

                    <div class="card__body">
                        <h3 class="card__title">{{item.parent.name}}</h3>
                        
                        <p class="card__subtitle">{{item.baby}}</p>

                        <p class="card__description show-more-text-description">{{item.description}}</p>

                        <button class="link card__btn show-more-text-btn">Развернуть</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
{% endembed %}