{% macro format_card(format, options = {}) %}
    {% embed 'components/card.twig' with {
        class: 'format-card',
        title: format.title,
        description: format.description,
        image: format.thumbnail ? {
            src: format.thumbnail.src,
            alt: format.title
        },
        link: format.link,
        color: options.color
    } %}
        {% block content %}
            {% if options.with_prices %}
                <div class="card__body">
                    <ul class="list">
                        <li class="list-item">
                            <span class="text text--semibold">Стоимость обучения:</span>

                            <span>
                                {{format.price.prefix}} <strong>{{format.price.value}}</strong>{{format.price.postfix}}
                            </span>
                        </li>

                        {% if format.lesson_duration %}
                            <li class="list-item">
                                Продолжительность урока:

                                <span>{{format.lesson_duration}}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endmacro %}