<div class="founders-card card card--purple card--sm">
    <figure>
        <img class="image" src="{{theme.link}}/static/images/pictures/founders-1.png" alt="Основатели школы Вера и Ольга с наградами">
        <figcaption class="caption handwritten pink">Основатели школы<br>Вера и Ольга<br>с наградами</figcaption>
    </figure>

    <h3 class="card__title">Лицензия Министерства образования № 36801</h3>

    <div class="card__description">
        <p>Соответствует международным стандартам обучения.</p>
        <p>Вы также сможете получить налоговый вычет.</p>
    </div>
</div>