<header class="header opened">
	<div class="header__main">
		<div class="header-container">
			{% include 'blocks/logo.twig' with {
				class: 'header__logo'
			} %}

			<button class="header__free-lesson btn btn--transparent btn--uppercase btn--sm" data-modal-trigger="request-modal">Бесплатный урок</button>

			<button class="header__test">Онлайн тест</button>

			<button class="header__callback" data-modal-trigger="callback-modal">Обратный звонок</button>

			<div class="header__phones">
				{% include 'blocks/phone-numbers.twig' with {
					class: 'header__phone-numbers',
					small: true,
					white: true
				} %}
			</div>

			<div class="header__contacts">
				<div class="header__city">Москва</div>
				<div class="header__time">ПН-ПТ с 12:00 до 21:00</div>
			</div>

			{# <a class="header__login" href="#">Войти</a> #}

			<button class="header__burger">
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
			</button>
		</div>
	</div>

	<nav class="header__nav">
		<ul class="header__nav-list">
			{% for item in header_nav.items %}
				<li class="{{html_classes('header__nav-item', item.classes|join(' '), {
					'active': item.current,
					'dropdown': item.children
				})}}"{% if item.is_external %} target="_blank"{% endif %}>
					<a class="header__nav-link" href="{{item.link}}">{{item.title}}</a>

					{% if item.children %}
						{% include 'components/subnav.twig' with {
							items: item.children
						} %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<button class="header__trial-lesson feedback-btn btn btn--yellow" data-modal-trigger="request-modal">Записаться на пробный урок</button>
	</nav>
</header>