<header class="header">
	<div class="header__main">
		<div class="header__container">
			{% include 'blocks/logo.twig' with {
				class: 'header__logo'
			} %}

		<div class="header__content">
				<div class="header__buttons">
					<button class="header__request btn btn--sm btn--outlined btn--uppercase btn--white" data-modal-trigger="request-modal">Бесплатный урок</button>

					<button class="header__test btn btn--sm btn--uppercase btn-white btn--transparent" href="{{TEST_URL}}">Онлайн тест</button>

					<button class="header__callback btn btn--sm btn--uppercase btn-white btn--transparent" data-modal-trigger="callback-modal">Обратный звонок</button>
				</div>

				<div class="header__phones">
					{% include 'blocks/phone-numbers.twig' with {
						small: true,
						white: true
					} %}
				</div>

				<div class="header__address">
					<span>Москва</span>
					<span>ПН-ПТ с&nbsp;12:00&nbsp;до&nbsp;21:00</span>
				</div>
			</div>

			{# <a class="header__login btn btn--sm btn--uppercase btn-white btn--transparent" href="#">Войти</a> #}

			<button class="header__menu-button burger-button btn--transparent">
				<span class="burger-button__line"></span>
				<span class="burger-button__line"></span>
				<span class="burger-button__line"></span>
			</button>
		</div>
	</div>

	<div class="header__nav">
		{% include 'components/nav.twig' with {
			items: header_nav.items
		} %}

		<button class="header__trial-lesson btn btn--yellow" data-modal-trigger="request-modal">Записаться на пробный урок</button>
	</div>
</header>