<a class="license" href="{{site.link}}/licenzii/" title="Лицензия 77 Л01 №0007610">
    <h4 class="license__title">Лицензия на доп. образование</h4>
    <p class="license__series">серия 77 Л01 №0007610</p>
</a>