<ul class="phone-numbers list">
	{% for name, number in site_data.contacts.phone_numbers %}
		<li class="phone-numbers__item list-item">
			{% include 'components/icon.twig' with {
				name: name == 'main' ? 'phone' : name
			} %}
			
			<a href="tel:{{format_phone_number(number)}}" title="Позвонить">{{number}}</a>
		</li>
	{% endfor %}
</ul>