{% macro progress_card(progress) %}
    <div class="progress-card card card--sm">
        <div class="card__media">
            {% include 'components/video.twig' with {
                youtube_id: progress.video.youtube_id,
                image: progress.image ? {
                    src: progress.thumbnail.src,
                    alt: progress.title
                },
                modal: true
            } %}
        </div>

        <div class="card__body">
            <h4 class="card__title">{{progress.title}}</h4>

            <p class="card__description">{{progress.description}}</p>

            <div class="card__content">
                {% include 'components/list.twig' with {
                    type: 'dl',
                    items: [
                        {
                            title: 'Старт обучения:',
                            description: progress.level
                        },
                        {
                            title: 'Преподаватель:',
                            description: progress.teacher
                        }
                    ]
                } %}
            </div>
        </div>
    </div>
{% endmacro %}