{% set id = 'request-form-' ~ random() %}

<form id="{{id}}" class="request-form">
    {% if format %}
        <div class="request-form__format">
            {% include 'components/radio-group.twig' with {
                name: 'format' ~ (children ? '-children' : ''),
                label: 'Выберите желаемый формат обучения:',
                items: [
                    {
                        label: 'Офлайн',
                        value: 'offline',
                        checked: true
                    },
                    {
                        label: 'Онлайн',
                        value: 'online',
                    },
                    {
                        label: 'Не знаю',
                        value: 'unknown'
                    }
                ]
            } %}
        </div>
    {% endif %}

    <div class="request-form__contact">
        {% if children %}
            <div class="request-form__children">
                <input class="input" type="text" name="child-name" placeholder="Имя ребёнка" required>

                {% include 'components/select.twig' with {
                    name: 'age',
                    options: [
                        'От 6 до 11 лет',
                        'От 11 до 16 лет'
                    ]
                } %}
            </div>

            <input class="input" type="text" name="parent-name" placeholder="Имя родителя" required>
        {% else %}
            <input class="input" type="text" name="name" placeholder="Имя" required>
        {% endif %}

        <input class="input" type="tel" name="phone" placeholder="+7 (999) 999-99-99" required>

        <input class="input" type="email" name="email" placeholder="Email" required>
    </div>

    <div class="request-form__communication">
        {% include 'components/select.twig' with {
            name: 'communication',
            label: 'Выберите удобный способ связи:',
            options: [
                'Позвоните мне',
                'Напишите мне в WhatsApp',
                'Напишите мне в Telegram'
            ]
        } %}
    </div>

    <div class="request-form__submit">
        <button class="btn btn--full" type="submit">
            {% if button_text %}
                {{ button_text }}
            {% else %}
                Записаться на бесплатный урок
            {% endif %}
        </button>

        {% include 'components/checkbox.twig' with {
            name: 'consent',
            checked: true
        } %}

        {% include 'components/checkbox.twig' with {
            name: 'newsletter',
            checked: false
        } %}
    </div>
</form>