{% set id = 'request-form-' ~ random() %}

<form id="{{id}}" class="request-form form">
    <input type="hidden" name="type" value="lesson">

    {% if format %}
        <div class="request-form__format">
            {% include 'components/radio-group.twig' with {
                name: 'format',
                label: 'Выберите желаемый формат обучения:',
                items: [
                    {
                        label: 'Офлайн',
                        value: 'offline',
                        checked: true
                    },
                    {
                        label: 'Онлайн',
                        value: 'online',
                    },
                    {
                        label: 'Не знаю',
                        value: 'unknown'
                    }
                ]
            } %}
        </div>
    {% endif %}

    <div class="request-form__contact">
        {% if children %}
            <div class="request-form__children">
                <input class="input" type="text" name="contact[childName]" placeholder="Имя ребёнка" required>

                {% include 'components/select.twig' with {
                    name: 'age',
                    options: [
                        { value: '6-11', content: 'От 6 до 11 лет' },
                        { value: '11-16', content: 'От 11 до 16 лет' }
                    ]
                } %}
            </div>

            <input class="input" type="text" name="contact.parentName" placeholder="Имя родителя*" required>
        {% else %}
            <input class="input" type="text" name="contact.name" placeholder="Имя*" required>
        {% endif %}

        <input class="input" type="tel" name="contact.phone" placeholder="*" required>

        <input class="input" type="email" name="contact.email" placeholder="Email*" required>
    </div>

    <div class="request-form__communication">
        {% include 'components/select.twig' with {
            name: 'channel',
            label: 'Выберите удобный способ связи:',
            options: [
                { value: 'call', content: 'Позвоните мне' },
                { value: 'whatsapp', content: 'Напишите мне в WhatsApp' },
                { value: 'telegram', content: 'Напишите мне в Telegram' }
            ]
        } %}
    </div>

    <div class="request-form__submit">
        <button class="btn btn--full" type="submit">
            {% if button_text %}
                {{ button_text }}
            {% else %}
                Записаться
            {% endif %}
        </button>

        <small class="text text--small">Нажимая «Записаться», я принимаю <a class="link link--underlined" href="{{links.agreement}}">Пользовательское соглашение</a> и даю согласие на обработку своих персональных данных на условиях <a class="link link--underlined" href="{{links.policy}}">Политики конфиденциальности</a>.</small>
    </div>
</form>