{% embed 'components/modal.twig' with {
    id: 'request-modal',
    component: 'RequestModal',
    tabs: true
} %}
    {% block content %}
        {% embed 'components/tabs.twig' with {
            tabs: [
                {
                    content: 'Взрослым',
                    value: 'adults',
                    active: true
                },
                {
                    content: 'Детям',
                    value: 'children',
                }
            ]
        } %}
            {% block content %}
                <div class="request-block request-block--adults" data-tab-panel="adults">
                    <div class="request-block__content">
                        <h2 class="request-block__title">Оставьте заявку на пробный урок</h2>

                        <p class="request-block__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>

                        {% include 'blocks/request-form.twig' with {
                            format: true,
                            button_text: 'Оставить заявку'
                        } %}
                    </div>
                </div>

                <div class="request-block request-block--children hidden" data-tab-panel="children">
                    <div class="request-block__content">
                        <h2 class="request-block__title">Оставьте заявку на пробный урок</h2>

                        <p class="request-block__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>

                        {% include 'blocks/request-form.twig' with {
                            children: true,
                            format: true,
                            button_text: 'Оставить заявку'
                        } %}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}