<article class="teacher-block">
	<div class="teacher-block__summary">
		<div class="teacher-block__media">
			<div class="video">
				<img class="video__media">
				<button type="button" class="video__btn" data-modal-trigger="video-modal" 
				></button>
			</div>
		</div>

		<div class="teacher-block__info">
			<h2 class="teacher-block__title"></h2>

			<p class="teacher-block__free-lesson">Бесплатный пробный урок с этим преподавателем</p>

			<button class="btn btn--sm btn--outlined btn--black" data-modal-trigger="request-modal">Подробнее</button>
		</div>
	</div>

	<div class="teacher-block__details">
		{% embed 'components/tabs.twig' with {
			tabs: [
				{
					content: 'Обо мне',
					value: 'details',
					active: true
				},
				{
					content: 'Отзывы',
					target: 'reviews'
				}
			]
		} %}
			{% block content %}
				<section class="teacher-details" data-tab-panel="details">
					<div class="teacher-details__section teacher-details__experience">
						<h3 class="teacher-details__heading">Опыт преподавания:</h3>
						<div class="teacher-details__content"></div>
					</div>

					<div class="teacher-details__section teacher-details__education">
						<h3 class="teacher-details__heading">Образование:</h3>
						<div class="teacher-details__content"></div>
					</div>

					<div class="teacher-details__section teacher-details__certificates">
						<h3 class="teacher-details__heading">Сертификаты:</h3>
						<div class="teacher-details__content"></div>
					</div>

					<div class="teacher-details__content teacher-details__description"></div>
				</section>

				<section class="teacher-reviews hidden" data-tab-panel="testimonials">
					<div class="teacher-reviews__review">
						<div class="teacher-reviews__info">
							<h4 class="teacher-reviews__name"></h4>

							<a class="teacher-reviews__social" href="${review.social.url}" target="_blank">
								{# {% include 'components/icon.twig' with {class: review.social.icon} %} #}
							</a>
						</div>

						<p class="teacher-reviews__description">${review.content}</p>
					</div>
				</section>
			{% endblock %}
		{% endembed %}
	</div>

	<button class="teacher-block__share-link" data-share="${teacher.shareLink}">
		<img src="{{theme.link}}/static/images/icons/share.svg" alt="">
	</button>
</article>