@use 'global' as *;

.with-love {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &::after {
        content: '';
        display: inline;
        width: 12px;
        height: 12px;
        background-image: image('elements/heart-2.svg');
    }
}