{% extends 'layouts/base.twig' %}

{% block content %}
<section class="section page-section text-center">
    <img src="{{theme.link}}/static/images/emoji/frowning-face.png" alt="Грустный смайлик">

    <h1 class="title page-title">Ошибка 404</h1>

    <p class="description page-description">Ой ... похоже такой страницы нет :(</p>

    <a href="{{site.link}}">Вернуться на Главную</a>
</section>
{% endblock %}