{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        button: true,
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		name: 'courses-formats',
		title: 'Мы обучаем онлайн на собственной онлайн платформе.'
	} %}
		{% block content %}
			<div class="cards grid grid--2">
				{% for item in [
					{
						title: 'Индивидуальное обучение в школе в Москве',
						description: 'Наш офис находится в 7 минутах пешком от метро Павелецкая.',
						image: 'course-1'
					},
					{
						title: 'Индивидуальное обучение онлайн',
						description: 'Мы обучаем онлайн в группах в Zoom или индивидуально на собственной платформе.',
						image: 'course-3'
					}
				] %}
					{% include 'components/card.twig' with {
						title: item.title,
						description: item.description,
						image: {
							src: theme.link ~ '/static/images/courses/' ~ item.image ~ '.jpg',
							alt: item.title
						}
					} only %}
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
        name: 'courses-list',
        title: 'Выберите необходимое для вас обучение:'
    } %}
        {% block content %}
            {% from 'blocks/course-card.twig' import course_card %}

            <div class="cards grid grid--2">
                {% for course in courses|map(course => ({
                    title: course.title,
                    description: course.excerpt({ read_more: false }),
                    image: course.thumbnail,
                    prices: [
                        {
                            label: 'офлайн индвидиульано',
                            prefix: course.prices.individual_offline.prefix,
                            value: course.prices.individual_offline.value,
                            postfix: course.prices.individual_offline.postfix
                        },
                        {
                            label: 'онлайн индвидиульано',
                            prefix: course.prices.individual_online.prefix,
                            value: course.prices.individual_online.value,
                            postfix: course.prices.individual_online.postfix
                        }
                    ]
                })) %}
                    {{course_card(course, cycle(['white', 'pink', 'purple'], loop.index0))}}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}