{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        button: {
			modal_options: 'tab:children'
		},
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		name: 'courses-formats',
		title: 'Мы обучаем онлайн на собственной онлайн платформе.'
	} %}
		{% block content %}
			<div class="grid grid--2">
				{% for item in [
					{
						title: 'Индивидуальное обучение в школе в Москве',
						description: 'Наш офис находится в 7 минутах пешком от метро Павелецкая.',
						image: 'course-1'
					},
					{
						title: 'Индивидуальное обучение онлайн',
						description: 'Мы обучаем онлайн в группах в Zoom или индивидуально на собственной платформе.',
						image: 'course-3'
					}
				] %}
					{% include 'components/card.twig' with {
						title: item.title,
						description: item.description,
						image: {
							src: theme.link ~ '/static/images/courses/' ~ item.image ~ '.jpg',
							alt: item.title
						}
					} only %}
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
        name: 'courses-list',
        title: 'Выберите необходимое для вас обучение:'
    } %}
        {% block content %}
			{% include 'blocks/courses-cards.twig' with {
				courses,
				colors: ['white', 'pink', 'purple'],
				formats: {
                    individual_online: 'онлайн индивидуально',
                    individual_offline: 'офлайн индивидуально'
                }
			} %}
        {% endblock %}
    {% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}