{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail,
        button: true
    } %}

	{% embed 'components/section.twig' with {
        name: 'formats-cards',
        title: 'Наша школа предлагает курсы английского языка для разных уровней знаний и в разнообразных форматах.'
    } %}
        {% block content %}
            {% from 'blocks/format-card.twig' import format_card %}

            <div class="cards grid grid--2">
                {% for format in formats %}
                    {% set color = cycle(['white', 'pink', 'purple'], loop.index0) %}

                    {{format_card(
                        format,
                        cycle(colors ?? ['white', 'pink', 'purple'], loop.index0)
                    )}}
                {% endfor %}

                <div class="text-card card">
                    <p class="text">Затрудняетесь с выбором формы обучения?</p>
                    <h3 class="heading">Подберем для вас удобный курс и формат обучения!</h3>
                    <button class="btn btn--purple">Оставить заявку</button>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/formats.twig' %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}