{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
        title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail,
        button: true
    } %}

	{% embed 'components/section.twig' with {
        class: 'formats-cards',
        title: 'Наша школа предлагает курсы английского языка для разных уровней знаний и в разнообразных форматах.'
    } %}
        {% block content %}
            <div class="cards-grid grid grid--col-2">
                {% for format in formats %}
                    {% set color = cycle(['white', 'pink', 'violet'], loop.index0) %}

                    {% include 'components/format-card.twig' with {
                        format,
                        color
                    } %}
                {% endfor %}

                {% embed 'components/card.twig' with {
                    title: 'Затрудняетесь с выбором формы обучения?',
                    description: 'Подберем для вас удобный курс и формат обучения!',
                    color: 'white'
                } only %}
                    {% block body %}
                        <button class="btn btn--violet">Оставить заявку</button>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endblock %}
    {% endembed %}

	{% include 'sections/about-formats.twig' %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}