{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		class: 'video-section',
		name: 'methodology-video',
		title: 'Посмотрите короткое видео о нашем подходе к обучению',
		horizontal: true
	} %}
		{% block media %}
			{% include 'components/video.twig' with {
				youtube_id: 'Vsfz_1QzwDA',
				image: {
					path: 'video-sections/video-section-2.jpg'
				},
				modal: true,
				framed: true
			} %}
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'effective-methods',
		title: 'Мы применяем методики с доказанной эффективностью'
	} %}
		{% block content %}
			<div class="methods">
				{% for method in [
					{
						title: 'Коммуникативная методика (Communicative approach)',
						description: 'Это продуманная система развития языковых навыков, эффективность которой была доказана научно на исследовании не одного поколения.',
						comments: [
							'В нашей школе студенты не зубрят грамматику ради грамматики и не читают бесконечные тексты вслух.',
							'Они разыгрывают упражнения, максимально повторяющие ситуации, в которых они будут использовать иностранный язык в реальной жизни.'
						]
					},
					{
						title: 'Отработка беглости до автоматизма (Fluency Drill)',
						description: 'Чтобы помочь студентам улучшить беглость и грамотность разговорной речи, наши методисты разработали методику «Отработка беглости» (Fluency Drill).',
						comments: [
							'Во время этого упражнения студент многократно повторяет изученную грамматическую структуру с напарником в паре или преподавателем в формате вопрос-ответ.',
							'Это позволяет довести материал до беглого и грамотного использования в речи.'
						]
					}
				] %}
					<div class="methods__method">
						<h2 class="methods__title">{{method.title}}</h2>

						<p class="methods__description">{{method.description}}</p>

						<div class="methods__comment">
							{% for comment in method.comments %}
								<p>{{comment}}</p>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'advantages',
		title: 'Важные факты о преимуществах обучения в SAY YES!'
	} %}
		{% block content %}
			{% include 'blocks/fact-cards.twig' with {
				items: [
					{
						title: 'Стандартизированная методика',
						description: 'Практикуем один подход в офлайн и онлайн формате'
					},
					{
						title: '75% практика языка',
						description: 'Бóльшую часть занятия говорит студент'
					},
					{
						title: 'Визиты носителей',
						description: 'Дополнительная практика языка в группе'
					},
					{
						title: 'Онлайн платформа',
						description: 'Нескучная домашка в интерактивном виде'
					},
					{
						title: 'Современные пособия',
						description: 'Используем новейшие пособия Oxford, Cambridge и Macmillan',
						image: 'books'
					}
				]
			} %}
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}