{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		class: 'video-section',
		name: 'methodology-video',
		title: 'Посмотрите короткое видео о нашем подходе к обучению',
		horizontal: true
	} %}
		{% block media %}
			{% include 'components/video.twig' with {
				youtube_id: '6ISA01NE2rY',
				image: {
					path: 'video-sections/video-section-2.jpg'
				},
				caption: 'Всего 1.5 минуты',
				modal: true,
				framed: true
			} %}
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'methodology-methods',
		title: 'Мы применяем методики с доказанной эффективностью',
		description: 'Комбинация методик обучения — залог успех студента',
		padded_header: true
	} %}
		{% block content %}
			<div class="flex">
				{% for method in [
					{
						title: 'Коммуникативная методика (Communicative approach)',
						description: 'Это продуманная система развития языковых навыков, эффективность которой была доказана научно на исследовании не одного поколения.',
						content: [
							'В нашей школе студенты не зубрят грамматику ради грамматики и не читают бесконечные тексты вслух.',
							'Они разыгрывают упражнения, максимально повторяющие ситуации, в которых они будут использовать иностранный язык в реальной жизни.'
						]
					},
					{
						title: 'Отработка беглости до автоматизма (Fluency Drill)',
						description: 'Чтобы помочь студентам улучшить беглость и грамотность разговорной речи, наши методисты разработали методику «Отработка беглости» (Fluency Drill).',
						content: [
							'Во время этого упражнения студент многократно повторяет изученную грамматическую структуру с напарником в паре или преподавателем в формате вопрос-ответ.',
							'Это позволяет довести материал до беглого и грамотного использования в речи.'
						]
					}
				] %}
					<div class="method-card text-card card card--sm">
						<h2 class="card__title">{{method.title}}</h2>

						<p class="card__description">{{method.description}}</p>

						<div class="text-card card card--white">
							<div class="text">
								{% for item in method.content %}
									<p>{{item}}</p>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<p class="caption handwritten">Комбинация методик обучения = успех студента</p>
		{% endblock %}
	{% endembed %}

	{% embed 'components/section.twig' with {
		name: 'methodology-advantages',
		title: 'Важные факты о преимуществах обучения в ' ~ COMPANY_NAME,
		padded: true
	} %}
		{% block content %}
			{% include 'blocks/fact-cards.twig' with {
				items: [
					{
						title: 'Стандартизированная методика',
						description: 'Практикуем один подход в офлайн и онлайн формате'
					},
					{
						title: 'Современные пособия',
						description: 'Используем новейшие пособия Oxford, Cambridge и Macmillan',
						image: 'books'
					},
					{
						title: 'Визиты носителей',
						description: 'Дополнительная практика языка в группе'
					},
					{
						title: '75% практика языка',
						description: 'Бóльшую часть занятия говорит студент'
					},
					{
						title: 'Онлайн платформа',
						description: 'Нескучная домашка в интерактивном виде'
					}
				],
				size: 'sm'
			} %}
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson.twig' with {
		class: 'methodology-trial-lesson',
		title: 'Хотите попробовать методику школы?',
		description: 'Ждем вас в Школе в&nbsp;Москве или онлайн!'
	} %}
{% endblock %}