{% extends 'layouts/base.twig' %}

{% block content %}
    {% embed 'components/section.twig' with {
        name: 'training-choice',
        title: 'Выберите свое обучение:'
    } %}
        {% block content %}
            <div class="cards grid grid--3">
                {% for item in [
                    {
                        image: 'type-1',
                        name: 'Офлайн индивидуально',
                        description: 'Выберите это обучение, если вы занимаетесь с преподавателем лично — у нас в школе, дома или в офисе.'
                    },
                    {
                        image: 'type-2',
                        name: 'Онлайн индивидуально',
                        description: 'Выберите это обучение, если вы занимаетесь дистанционно по Скайп.'
                    },
                    {
                        image: 'type-3',
                        name: 'Онлайн в группе',
                        description: 'Выберите это обучение, если вы занимаетесь в группе по Zoom.'
                    }
                ] %}
                    <div class="card">
                        <div class="card__media">
                            <img class="image" src="./assets/images/training-type/{{item.img}}.jpg" alt="{{item.name}}">
                        </div>

                        <div class="card__body">
                            <h3 class="card__title">{{item.name}}</h3>
                            <p class="card__description">{{item.description}}</p>
                            <button class="btn btn--transparent btn--transparent-black btn--md">Выбрать и оплатить</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <p class="text">Если у вас возникнут какие-либо вопросы в процессе оплаты, пожалуйста, свяжитесь с вашим менеджером или напишите нам на <a href="mailto:info@sayes.ru" class="color-primary">info@sayes.ru</a>.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}