{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/main.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% embed 'components/section.twig' with {
		name: 'student-results',
		title: 'Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.',
		description: 'Наши ученики рассказывают о своих результатах и процессе обучения в ' ~ COMPANY_NAME ~ ' на английском.',
		padded: true
	} %}
		{% block content %}
			{% from 'blocks/progress-card.twig' import progress_card %}

			<div class="grid grid-2-md">
				{% for item in reports %}
					{{progress_card(item)}}
				{% endfor %}
			</div>
		{% endblock %}
	{% endembed %}

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}