{% extends 'layouts/base.twig' %}

{% block content %}
	{% include 'sections/mainscreen-big.twig' with {
		title: page.heading ?? page.title,
        description: page.content,
        image: page.thumbnail
	} %}

	{% from 'components/progress-card.twig' import progress_card %}

	<section class="student-results">
		<div class="section-container">
			<h2 class="subtitle">Лучшие показатели нашей работы — это студенты, уверенно владеющие языком.</h2>

			<p class="student-results__description">Наши ученики рассказывают о своих результатах и процессе обучения в SAY YES! на английском.</p>

			<div class="student-results__content">
				{% for item in reports %}
					{{progress_card(item)}}
				{% endfor %}
			</div>

			<button id="show-more-review" class="btn btn--yellow">Показать ещё</button>
		</div>
	</section>

	{% include 'sections/trial-lesson.twig' %}
{% endblock %}