{% extends 'layouts/base.twig' %}

{% block content %}
	<section class="test">
        <div class="test__card">
            <ul class="test__progress-bar">
                <li class="test__progress-bar-item test__progress-bar-item--completed"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
                <li class="test__progress-bar-item"></li>
            </ul>

            <h4 class="test__questions">Вопрос 1/20</h4>

            <div class="test__task">
                <p class="test__question">Are you on vacation?</p>
                <p class="test__answer">Yes I am.</p>
            </div>

            {% include 'components/radio-group.twig' with {
                items: [
                    { name: 'Yes, I be.' },
                    { name: 'Yes, I do.' },
                    { name: 'Yes, I is.' },
                    { name: 'Yes, I am.' },
                    { name: 'Не знаю' }
                ]
            } %}

            <button class="btn btn--purple">Следующий вопрос</button>
        </div>
    </section>

    <section class="test-overview">
        <div class="section__container">
            <h1 class="title">{{COMPANY_NAME}} Online Test</h1>
            
            <p class="test-overview__description">Предлагаем Вам пройти этот короткий онлайн-тест, чтобы оценить Ваш уровень знаний английского языка.</p>

            <div class="text-blocks text-blocks--test">
                {% for item in [
                    {
                        description: 'На каждый вопрос есть только один правильный ответ.',
                        class: 'text-block--check-bg text-block--yellow'
                    },
                    {
                        description: 'Если вы не знаете правильного ответа, выбирайте ответ <div class='text text--italic'>Не знаю</div>',
                        class: 'text-block--question-bg text-block--yellow'
                    },
                    {
                        description: 'Ограничения по времени нет',
                        class: 'text-block--hourglass-2-bg text-block--yellow'
                    },
                    {
                        description: 'Тест состоит из 20 вопросов.',
                        class: 'text-block--list-bg text-block--yellow'
                    },
                    {
                        description: 'В конце теста Вы сможете узнать правильные ответы.',
                        class: 'text-block--correct-bg text-block--yellow'
                    }
                ] %}
                    <div class="text-block {{item.class}}">
                        <h4 class="text-block__title">{{item.title}}</h4>
                        <p class="text-block__description">{{item.description}}</p>
                    </div>
                {% endfor %}
            </div>

            <a href="./test.html" class="btn btn--purple">Начать тест</a>
        </div>
    </section>
{% endblock %}