{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="app"></div>

    {# <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h3 class="modal-title">Получилось!</h3>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>

                <section class="modal-body text-center">
                    <p class="lead">Результаты были отправлены на указанный Вами почтовый адрес.</p>
                    <small>P.S. Если письма нет во <i>Входящих</i>, проверьте <i>Спам</i>!</small>
                </section>
            </div>
        </div>
    </div> #}
{% endblock %}

{% block scripts %}
<script src="{{theme.link}}/static/scripts/test.js?v={{site.version}}"></script>
{% endblock %}