@use 'styles/mq';
@use 'styles/variables';

body {
    @include mq.to(lg) {
		padding-top: 75px;
	}

	@include mq.from(lg) {
		padding-top: 105px;
	}
}

.main {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;

    @include mq.from(md) {
        padding: 20px 15px 0;
    }

    @include mq.from(lg) {
        padding: 20px 20px 0;
    }
}

.page-template-page-simple {
    .main {
        max-width: 1024px;
        padding: 40px 20px 60px;
    }

    .title {
        margin-bottom: 1.5rem;
    }

    .content {
        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        > p + p {
            margin-top: 10px;
        }

        ol, ul {
            list-style: initial;
            margin: 1rem 0 1rem 2rem;

            li {
                margin-top: 5px;
            }
        }

        a {
            color: variables.$purple;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}