@use 'components/text';
@use 'mq';
@use 'mixins' as *;
@use 'variables' as *;

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
    --font-family: #{$font-family};
	
    --primary-color: #{$primary-color};
    --on-primary-color: #{$white};
    --secondary-color: #{$secondary-color};
    --on-secondary-color: #{$black};
	
    --body-color: #{$body-color};
    --background-color: #{$background-color};
    --font-color: #{$font-color};
}

body {
	background-color: $body-color;
	color: $font-color;
	font-family: $font-family;
	font-variant-numeric: lining-nums proportional-nums;
	@include text.body1;
	overflow-x: hidden;
}

a,
button {
	font-family: Raleway, sans-serif;
	color: inherit;
	text-decoration: none;
}

button,
.menu-item {
	-webkit-tap-highlight-color: transparent;
}

strong,
.bold {
	font-weight: 800;
}

address {
	font-style: normal;
}

.pink {
	color: $pink;
}

.primary-color,
.color-primary,
.purple {
	color: $purple;
}

.violet {
	color: $violet;
}

.color-yellow,
.yellow {
	color: $yellow;
}

.content {
	h2 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

	p + p {
		margin-top: 10px;
	}
	
	ol,
	ul {
		list-style: inside;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}