$font-family: 'Raleway', 'Open Sans', 'Helvetica', Arial, sans-serif;

$black: #262626;
$white: #fffcff;
$grey: #e5e3e2;
$yellow: #ffd754;
$purple: #7831b2;
$dark-purple: #5e288a;
$violet: #a68ad5;
$pink: #e71985;
$pale-pink: #f8dcd6;
$pale-white: #f8f0ee;
$linen: #f9e2de;
$almond-crayola: #f6e7e5;
$pearl-white: #f9f4f2;

$primary-color: $purple;
$secondary-color: $yellow;
$body-color: $pearl-white;
$font-color: $black;

$border-radius-extra-sm: 10px;
$border-radius-sm: 15px;
$border-radius: 30px;
$border-radius-bg: 40px;

$heading-sizes: (
	'xl': (68px, 60px), // (42px, 40px)
	'lg': (46px, 45px), // (36px, 35px)
	'md': (42px, 40px), // (32px, 30px)
	'sm': (24px, 25px), // (18px, 20px)
	'xs': (18px, 20px)  // (16px, 15px)
);

$text-sizes: (
	'xl': (36px, 36px),
	'lg': (24px, 25px),
	'md': (18px, 20px),
	'xs': (14px, 15px),
	'sm': (16px, 15px)
);

$breakpoint-xl: 1300px;
$breakpoint-lg: 1160px;
$breakpoint-md: 1024px;
$breakpoint-sm: 900px;
$breakpoint-xs: 800px;
$breakpoint-xxs: 768px;
$breakpoint-mobile: 540px;
$breakpoint-sm-mobile: 480px;

$screen-sizes: (
	desktop: 1280px,
	laptop: 1024px,
	tablet: 768px,
	phone: 320px
);

$lg: 1280px;
$md: 768px;
$sm: 320px;