$font-family: 'Raleway', 'Open Sans', 'Helvetica', Arial, sans-serif;

$black: #262626;
$white: #fffcff;
$grey: #e5e3e2;
$yellow: #ffd754;
$purple: #7831b2;
$dark-purple: #5e288a;
$violet: #a68ad5;
$pink: #e71985;
$pale-pink: #f8dcd6;
$pale-white: #f8f0ee;
$linen: #f9e2de;
$almond-crayola: #f6e7e5;
$pearl-white: #f9f4f2;

$primary-color: $purple;
$secondary-color: $yellow;
$body-color: $pearl-white;
$font-color: $black;

$border-radius-xs: 10px;
$border-radius-sm: 20px;
$border-radius-md: 30px;
$border-radius-lg: 40px;
$border-radius-xl: 50px;
$border-radius: $border-radius-md;

$sizes: (xs, sm, md, lg, xl);

$gaps: (
    xxs: 5px,
    xs: 10px,
    s: 15px,
    m: 20px,
    l: 30px,
    xl: 40px,
    xxl: 50px
);

$breakpoints: (
	xs: 360px,
	sm: 540px,
	md: 768px,
	lg: 1024px,
	xl: 1280px
);

$breakpoint-xl: 1300px;
$breakpoint-lg: 1160px;
$breakpoint-md: 1024px;
$breakpoint-sm: 900px;
$breakpoint-xs: 800px;
$breakpoint-xxs: 768px;
$breakpoint-mobile: 540px;
$breakpoint-sm-mobile: 480px;